[2020-10-13 07:00] gabbifish commented on #506
Hi @bluven! I was able to successfully load your CRD above into the envtest while using the following `kube-apiserver`:
[code]
can you confirm that your `kube-apiserver` version in your path is also recent? I ask this because older versions of `kube-apiserver` produced the same (now outdated) constraint that you're running into above: https://github.com/kubernetes/kubernetes/issues/65293

[2020-10-13 07:13] bluven commented on #506
@gabbifish Yeah.

I don't known what's the best way to confirm, so I just give you the image, container and `kube-apiserver --version` result. By the way, my cluster is deployed using kubeadmin.

[code]
[code]

[code]

[2020-10-13 07:15] bluven commented on #506
@gabbifish Here is the detailed log:
[code]

PS: I changed the CRD's spec a little, but the error  is the same.

[2020-10-13 07:54] xpivarc opened #507 "Controller-gen doesn't intepreate "string" json tag"
Given this struct
[code]
the validation schema will be as
[code]
and all requests with this field set will fail.

[2020-10-13 08:02] gabbifish commented on #506
It looks like you have two images with kube-apiservers in them (`registry.aliyuncs.com/google_containers/kube-apiserver`, `k8s.gcr.io/kube-apiserver`). Is your envtest instance pointing to/using the kube-apiserver `k8s.gcr.io/kube-apiserver`? That one looks outdated (1.12) and might explain why this old verification check is still happening.

[2020-10-13 08:44] bluven commented on #506
No. As you can see in the `docker ps` output, the image used by api-server container is i0cae8d5cc64c, which is the same as the image registry.aliyuncs.com/google_containers/kube-apiserver:
[code]

[code]

Those old images v1.12.0 are not used anymore, I just forget to purge them. And as `kubectl version` and `kube-apiserver -version` told, the api-server I'm working is `v1.17.0`.

I don't know ho

[2020-10-13 20:33] DirectXMan12 commented on #391
So, I think the intent of #427 was that custom marshallers generate an invalid type (but doesn't traverse further), which you then must specify a valid type for.

[2020-10-13 20:41] alvaroaleman commented on #391
The description doesn't sound like that to me:

does, we output schema for Any type. This still allows the validation type to
overriden with a marker.

and IMHO generating invalid schema is not a great error handling strategy. On top of that, it irrevocably breaks everyone who has type with a custom marshaller as a dependency in their api.

[2020-10-13 23:44] DirectXMan12 commented on #391
Fair, I think we were operating under the assumption that it wasn't possible before, but had overlooked the case of "you use all the normal JSON tags, but are using jsoniterator for performance" (which is the only case where we could generate valid openapi)

[2020-10-13 23:50] DirectXMan12 commented on #380
ah, I think I somehow missed the pr, sorry about that :-/

[2020-10-14 18:21] jaypipes commented on #287
Yes, this is still an issue. Something where this pops up for me is any API type that contains the [`aws.JSONValue`](https://github.com/aws/aws-sdk-go/blob/776f18cd8fff2e6abd14a0f64a1edc88669ca357/aws/jsonvalue.go#L12) type, which is simply an alias for `map[string]interface{}`.

Until this issue is addressed, I think my only solution is to manually change the CRD field's type from `aws.JSONValue`

[2020-10-14 20:19] DirectXMan12 commented on #391
(FWIW, with the revert, there's currently no way to make use of custom-serialized types, even with markers)

[2020-10-14 20:28] alvaroaleman commented on #391
But how did this work before the revert? We generated `Any` by default (which is invalid) and otherwise used the markers. So this also didn't work before the revert or am I missing something?

[2020-10-14 20:30] champak opened #509 "Building private/dev controller-gen binary"
Hi Folks,
I wanted to experiment with some changes to controller-gen and use with kubebuilder and did not see a Makefile or target to build a local controller-gen executable. I built it with e.g.
.. GO111MODULE=on go build -a -o mygen cmd/controller-gen/main.go
etc.

and then to use with kubebuilder put the binary on path to avoid the go get fetch in the kubebuilder makefile.

Is there a better wa

[2020-10-14 20:47] #380 closed

[2020-10-14 20:50] DirectXMan12 commented on #391
Before the revert, you could do something like

[code]

Which would get interpreted as:

[code]

So it supported cases where you don't want an object or you *just* want a catch-all object, but didn't support cases where you want a partially-specified object, or a fully specified object, which was an oversight.

For whatever we merge, we should attempt to support both usecases.

[2020-10-15 09:43] bluven commented on #506
@gabbifish Hey. I figured out what happened. There is an old kube-apiserver in the `/usr/local/kubebuilder/bin/`,  I just forgot it because I installed it long long ago.

Thanks for your help again.

[2020-10-15 09:43] #506 closed

[2020-10-19 00:04] christarazi commented on #461
/remove-lifecycle stale

[2020-10-20 14:39] damemi commented on #357
/reopen
Saw this happen again, but with binary: `Error: unable to parse option "output:dir=/tmp/tmp.0BHpkNmIey": [binary literal has no digits (at <input>:1:10)]`

[2020-10-20 14:41] damemi commented on #357
/remove-lifecycle rotten

[2020-10-21 12:45] alkar commented on #479
Is it likely the fields have `omitempty` in their json tags? Can you share the type(s)?

[2020-10-21 13:14] chungktran commented on #479
@alkar Yes you are correct. So `omitempty` should not be in the tag if that annotation is to be used?

[2020-10-23 00:36] Jeffwan commented on #453
/remove-lifecycle rotten

[2020-10-23 13:54] alkar commented on #479
I noticed this myself while struggling to understand how the markers work.
See here https://github.com/kubernetes-sigs/controller-tools/blob/master/pkg/crd/schema.go#L369

It seems that the `omitempty` json tag implies an optional field.

[2020-10-23 18:36] chungktran commented on #479
Thanks. I'll test it out and let you know.

[2020-10-24 19:45] chungktran commented on #479
@alkar Thanks for the tip. Removing `omitempty` work as expected.

[2020-10-24 19:46] #479 closed

[2020-10-25 12:32] michalrabinowitch opened #512 "go get fails with JSONSchemaProps has no field or method XMapType"
running
`go get sigs.k8s.io/controller-tools/cmd/controller-gen@v0.4.0`
 results in:
`go: found sigs.k8s.io/controller-tools/cmd/controller-gen in sigs.k8s.io/controller-tools v0.4.0
  sigs.k8s.io/controller-tools/pkg/crd/markers
../../../../pkg/mod/sigs.k8s.io/controller-tools@v0.4.0/pkg/crd/markers/topology.go:137:8: schema.XMapType undefined (type *"k8s.io/apiextensions-apiserver/pkg/apis/apiex

[2020-10-28 10:50] #327 closed

[2020-10-29 14:44] kgcarr commented on #492
@heidsoft did you figure out a solution to this?

[2020-10-30 15:19] arkadijs commented on #442
Inline struct type crashes latest controller-gen as of Oct-30:
[code]

[2020-11-02 03:58] heidsoft commented on #492
@kaitoy
No follow up now, I will try again later,thanks

[2020-11-02 03:58] #492 closed

[2020-11-02 04:08] cscetbon commented on #489
@DirectXMan12 I'm hitting this issue with the following type
[code]

Is there a workaround ?

[2020-11-03 15:21] camilamacedo86 opened #513 "Role Bindings are not updated when the namespace marker is used"
**What did you do?**
- Follow up the Kubebuilder quick start
- Updated the controller as follows and then, run `make`

[code]

**What did you expect to see?**
All RBCA roles replaced to Namespace permissions.

**What did you see instead? Under which circumstances?**
Just the role.ymal was updated and note the role_binding.yaml. See:
[code]

**NOTES:**

I am as a user I'd like to be able to update

[2020-11-03 15:33] cbandy commented on #507
Perhaps you want [intstr.IntOrString](https://pkg.go.dev/k8s.io/apimachinery/pkg/util/intstr#IntOrString)?

[2020-11-03 20:43] prafull01 commented on #513
/assign

[2020-11-04 09:10] xpivarc commented on #507
IMO it is not the same as using types with "string". You want the convenience of `int` but API representation of `string`. Furthermore, [openapi-gen](https://github.com/kubernetes/kube-openapi/tree/master/cmd/openapi-gen) treats this as this PR and inconsistencies could cause problems.

[2020-11-04 16:54] s3rj1k commented on #461
Any news about this?
Would be super helpful to get this feature.

[2020-11-04 19:13] marcoderama opened #514 "newline discrepancy in CRDs generated by controller-gen"
Using controller-gen v0.4.0 (and older versions) for CRD generation on ubuntu, long descriptions are all on one line.  On a Mac, they're broken across multiple lines.  While both are equivalent from a YAML perspective, they're very different as far as git is concerned.  This means if dev A on ubuntu commits a CRD, and then dev B on MacOS makes a change that is effectively a small change to the yam

[2020-11-04 19:13] marcoderama commented on #514
Fwiw, I tried

[2020-11-04 20:16] derekperkins commented on #514
We have the same issues in v0.3.0

[2020-11-04 21:30] marcoderama commented on #514
I guess we can just run the controller-gen output through a YAML pretty-printer before committing it.  It would seem reasonable to assume that's not necessary though.

[2020-11-05 08:18] prafull01 commented on #513
Hi @camilamacedo86

Currently, controller-tools only have the role markers and hence creates only roles in the RBAC. The scaffolding of rolebinding/clusterrolebinding is done on the kubebuilder side. You can see the scaffolding code [here](https://github.com/kubernetes-sigs/kubebuilder/blob/0149acd4bf33660e49e4e86dd9fcab10d5679236/pkg/plugin/v3/scaffolds/internal/templates/config/rbac/role_binding

[2020-11-05 09:41] camilamacedo86 commented on #467
The cronjob tutorial sample code in the Kubebuilder has been outdated.
See that it was updated, however, still further requirements. See; https://github.com/kubernetes-sigs/kubebuilder/issues/1544

However, it shows not an issue valid for controller-gen. It is more about Kubebuilder docs. In this way, I hope that is fine we close this one. Also, feel free to follow up https://github.com/kubernetes

[2020-11-05 09:41] #467 closed

[2020-11-05 13:00] busser opened #515 "CRD validation for status when using status subresource"
How can I use CRD validation on my custom resource's status when I have the status subresource enabled? Is it even possible?

For example, let's say I define this API:

[code]

When I create a new instance of `MyResource` in the Kubernetes API, the `.status.phase` field is set to `Pending` by default. Everything works as expected.

Now, let's say I enable the `status` subresource like this:

[code

[2020-11-09 14:35] #450 closed

[2020-11-11 00:43] estroz commented on #500
Bumping this. Perhaps tarring all 3 binaries by platform so the release artifact count doesn't blow up, ex.
[code]

[2020-11-11 12:44] phantomjinx opened #516 "controller-gen crd generation does not work across modules layouts"
The operator-sdk [documentation](https://sdk.operatorframework.io/docs/building-operators/golang/quickstart) lays out an operator go project with `api` in the root directory. It also creates a Makefile with the rule `make manifests` defined as
[code]
so relying on controller-gen for generation of the operator CRDs.

While migrating an operator [project](https://github.com/apache/camel-k) to using

[2020-11-11 14:16] phantomjinx commented on #516
Update on duplicated schema
This appears to be intermittent and maybe dependent on there be a copy of the api directory, eg. in the camel-k project the api is located in `pkg/apis` so a workaround is to copy it to /api first. Consequently, every other execution of controller-gen seems to generate duplicate schema in the CRDs.
Cannot currently mirror this reliably in the example project other than

[2020-11-13 00:27] realshuting opened #519 "How to skip type "interface" ?"
I searched the open issue, saw https://github.com/kubernetes-sigs/controller-tools/issues/383 is closed with no solution. So I logged a new one to track.

I have a CRD with some fields set to `interface{}`, here's an example:
[code]

When I ran `controller-gen crd` it generated error `unsupported AST kind *ast.InterfaceType` on `interface{}`. Does it matter?  Is there a way to ignore the error? I

[2020-11-13 03:43] realshuting commented on #519
Found a related [conversation](https://kubernetes.slack.com/archives/CAR30FCJZ/p1602513628452900) in Slack, manage to get it work - replace `interface{}` by `*apiextensions.JSON` https://godoc.org/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions#JSON.

[2020-11-13 03:43] #519 closed

[2020-11-13 05:34] LAnastasiia opened #520 "Is it possible to install only controller-gen library?"
Hi! Is it possible to use controller-gen CLI without using kubebuilder?

If yes, how can I install it?
I couldn't find any installation guidelines for controller-gen exclusively. Is there one? (or really any pointer on how to do it would be appreciated)

More context:
Environment does not support kubebuilder integration yet, but does support controller-tools.
From https://book.kubebuilder.io/refer

[2020-11-13 22:14] camilamacedo86 commented on #421
/remove-lifecycle rotten

[2020-11-13 23:30] julianKatz commented on #291
We're still seeing this same error when using `controller-gen@v0.4.0`:

[code]

Just to be sure:

[code]

Any other context we/I can provide to help get this addressed?  We're stuck on `v0.1.8` in https://github.com/open-policy-agent/frameworks/tree/master/constraint

[2020-11-14 00:41] marcoderama commented on #514
This happens after running `make manifests`, as setup by kubebuilder.  I assumed it was due to `controller-gen` but it turns out the culprit is `kustomize`.
c.f. https://github.com/kubernetes-sigs/kustomize/issues/947

Sorry for casting aspersions your way.

(And working around it isn't a simple matter of piping things through `yq` (yet).  See https://github.com/mikefarah/yq/issues/573)

[2020-11-16 07:01] edwardstudy opened #521 "Skip CRD generation on field level"
Hi,

This request wants to have a marker to skip some fields. In my case, I only wanted my CRD contains a few fields in `corev1.Container` instead of full. After that, my validating webhook would reject invalid inputs with my CRD.

But I wanted to expose required fields to users. And obviously, I should not modify k8s pkg for this customization. So I hoped `controller-gen` could recognize a maker

[2020-11-16 22:44] estroz commented on #453
/ping @vincepri

[2020-11-16 22:49] vincepri commented on #453
We're currently blocked on #352 and https://github.com/kubernetes-sigs/controller-tools/pull/501#discussion_r501314502, I haven't had time to implement any of these changes yet, maybe I could carve out something for next week. If you folks are able to pick up that bit about webhooks and we can merge 501, that'd be really appreciated :)

[2020-11-18 20:14] takirala commented on #512
+1, i am facing the same issue

[2020-11-18 20:15] DirectXMan12 commented on #512
do you have an older version of some k8s dependency pinned in go.mod for your project?  Usually, we reccomend putting controller-tools in a separate mini-module for tooling just for this reason.

[2020-11-18 20:27] takirala commented on #512
@DirectXMan12 thanks, I do have pinned deps. Upgrading them resolved the issue.

can you elaborate on the idea of a mini-module - Is it some magic in `go.mod` file or is it literally a different module ?

[2020-11-18 21:10] DirectXMan12 commented on #512
the idea is just to create a `tools` directory, and then have a separate go.mod file in that.  Take a look at what the CR makefile does: https://github.com/kubernetes-sigs/controller-runtime/blob/master/Makefile#L71

[2020-11-18 21:10] #512 closed

[2020-11-19 00:47] DirectXMan12 commented on #434
/remove-lifecycle stale
/lifecycle frozen

[2020-11-19 19:45] tshak commented on #291
👋 I'm able to repro this issue on the latest build. It does not appear to be resolved. 🙏

[2020-11-20 11:03] tshak opened #525 "controller-gen does not allow embedding of JSONSchemaProps"
controller-tools `v0.4.1`
kubernetes `v1.17.11`
apimachinery `v0.18.12`
apiextensions-apiserver `v0.18.12`

When running controller-gen, I get the following errors when generating a field with the type `k8s.io/apiextensions JSONSchemaProps`. This is likely a duplicate of https://github.com/kubernetes-sigs/controller-tools/issues/291 which may have been closed prematurely.

[code]

I'm running `con

[2020-11-20 22:48] julianKatz commented on #291
@tshak did you use the following CRD option?

[code]

That got it going for me.  I only figured that out by looking at the PR.  Further documentation would make this a lot friendlier.

[2020-11-21 10:15] tshak commented on #291
Thanks Julian. Sadly that does not work for me:

[code]

I'm running `controller-gen` as part of go code generation:

[code]

[2020-11-23 10:09] brightzheng100 opened #526 "Confused on the behaviors/results on controller-gen v0.3.0 and v0.4.1"
While using `kubebuilder` to scaffold the project (well, I was following the `cronjob` tutorial), by default it uses `go get sigs.k8s.io/controller-tools/cmd/controller-gen@v0.2.5`.

I thought this version might be too low so I changed it to `v0.3.0` and `v0.4.1` for some experiments.

Interestingly, these two versions bring in different behaviors/results and **only `controller-gen@v0.3.0` works w

[2020-11-23 22:31] andrewrynhard commented on #447
/remove-lifecycle stale

[2020-11-23 23:22] maxsmythe commented on #291
Is the following code being vendored in?

https://github.com/kubernetes/apiextensions-apiserver/blob/a7ee1efe41fc19623ce57f047c7595d624df4c17/pkg/apis/apiextensions/v1/marshal.go#L28-L37

If gomod is pruning that code for some reason, then the `implementsJSONMarshaler` interface wouldn't be satisfied, which means the fix in #427 wouldn't be triggered.

[2020-11-24 02:27] coderanger commented on #526
Handled on Slack, can close this.

[2020-11-24 02:58] brightzheng100 commented on #526
Well, as per the conversation in Slack, we'd better stick to `controller-gen@0.2.5` to make live easier.
So use `go get` to switch back unless you really know what you're doing.

[2020-11-24 02:58] #526 closed

[2020-11-24 14:43] tshak commented on #291
I'm using Go Modules but nevertheless I confirmed that the code exists when I `Go to Definition` in VS code. I'm on `v0.18.12` of `k8s.io/apiextensions-apiserver`. I'm not sure if any of this is relevant though as the fix in #427 was reverted in #505.

[2020-11-25 14:36] Shadi opened #527 "Question: default value for SideEffects"
If sideEffects config is not specified then the generated value is `null`, which is not valid according to https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#side-effects

I don't know if that is by design, but I thought `Unknown` would be a better default.

[2020-11-25 14:37] Shadi commented on #527
I can submit a PR with this change if the current behavior is not by design.

[2020-11-25 20:55] maxsmythe commented on #291
It looks like that reversion is in v0.4.1, but not v0.4.0.

I can confirm that generating CRDs that embed JSONSchema is broken due to the reversion in #505

@DirectXMan12 Should the reversion be un-reverted? Are there any plans to accommodate embedding JSONSchema in other ways?

[2020-11-25 22:48] maxsmythe commented on #291
/reopen

Re-opening as this issue has been de-mitigated

[2020-11-25 22:49] maxsmythe commented on #291
Looks like I don't have permissions to re-open. Can it be re-opened?

[2020-11-26 16:57] antonlisovenko commented on #461
I'd say the `one of required` is a quite common use case...
[code]
Would be great to get controller-gen support for this!

[2020-12-01 00:29] matthchr commented on #436
I just saw this behavior as well. The following didn't work:
[code]

but when I change it to:

[code]

It works fine.

I just tried this out and it seems to repro even in the CronJob sample:

**Works**
[code]

**Doesn't work**

[code]

So the issue seems to be something following the comments.

[2020-12-01 20:38] estroz commented on #520
You can import things in `pkg/` to run generators. controller-gen's [`main.go`](https://github.com/kubernetes-sigs/controller-tools/blob/master/cmd/controller-gen/main.go) is a good (the best?) implementation to reference.

[2020-12-01 22:11] estroz opened #529 "controller-gen: k8s.io/api/core/v1.Container ports are broken for v1beta1 CRDs on k8s v1.18"
From the original issue https://github.com/operator-framework/operator-sdk/issues/3235:

An `api/v1/types.go` containing `k8s.io/api/core/v1.Container`:

[code]

Then:

[code]

Removing `protocol` from the `x-kubernetes-list-map-keys` list fixes this (as expected) since defaulting is not supported in v1beta1. This was fixed for v1 CRDs but the fixes (listed below) were not tested on v1beta1 CRDs a

[2020-12-02 00:39] howardjohn opened #530 "Support generating Defaulting go functions"
Currently, we can set defaults for generated CRDs with `+kubebuilder:default`. However, there is no way to apply these defaults from our controller.

Generally, the api-server will handle this, but there are various use cases for bypassing the api-server. The biggest example is testing, where we want to read resources from YAML or directly create go structs. Another use case is actually running th

[2020-12-05 15:07] jmccormick2001 opened #532 "golang struct syntax throws stacktrace in controller-gen"
if you have this sort of golang code in your API,
[code]

the result with controller-gen version Version: v0.4.1  is:

[code]

if I pull that struct out into its own separate definition like:
[code]

there is no stacktrace.

I think this used to work in prior  versions of controller-gen or when CRD v1beta1 was in use.

[2020-12-07 14:11] mjaow opened #533 "conflicting types in allOf branches in schema: string vs object"
When I'm trying to use the Conditions type from knative

[code]
apis.Conditions  has a field with type VolatileTime

[code]

then I run `controller-gen crd:trivialVersions=true crd:crdVersions="v1beta1" rbac:roleName=manager-role webhook paths="./..." output:crd:artifacts:config=config/crd/bases`,

it will faied with ` conflicting types in allOf branches in schema: string vs object`.

From error m

[2020-12-07 14:20] mjaow commented on #533
I'm trying several versions , v0.4.0 works fine, but v0.4.1 failed with `conflicting types in allOf branches in schema: string vs object`

it seems after this PR https://github.com/kubernetes-sigs/controller-tools/pull/505 , it  doesn't work

[2020-12-08 18:38] nitishkrishna commented on #533
I am getting the same exact error, my types.go has:
[code]

[2020-12-08 19:54] nitishkrishna commented on #533
I fixed my issue by moving to this release of controller-tools: `v0.4.1-0.20200821122629-1dc8cc4f84c8`

[2020-12-08 21:55] dvaldivia commented on #444
@munnerz do you think there's a work around meanwhile?

[2020-12-08 23:04] DirectXMan12 commented on #448
`go build ./cmd/controller-gen` (or did you men something else?)

[2020-12-09 13:44] mjaow commented on #533
look similar, but seems a different one. I think you fixed it due to v0.4.1-0.20200821122629-1dc8cc4f84c8 will generate an any type instead of object, any type has no conflict with string.  So it will work in v0.4.0 also at your scenerio

[2020-12-09 15:09] camilamacedo86 commented on #402
remove-lifecycle stale

[2020-12-12 06:20] #457 closed

[2020-12-13 14:42] champak commented on #448
Thanks @DirectXMan12 I had been looking for a way to build a local version and use it with kubebuilder. I had built it like you suggested and then put in my path to prevent the kubebuilder Makefile from pulling the published version down. That worked OK but had wondered if there is better way etc.

[2020-12-13 19:57] #287 closed

[2020-12-14 14:56] RiRa12621 commented on #436
Same here https://github.com/openshift/route-monitor-operator/pull/24/files#diff-546ff0ec0a2451754eeea319321d9e28d122bf011a1071d2a28835778d54c094
had to insert empty line to get it "fixed"
@DirectXMan12 can we re-open this issue?

[2020-12-18 08:47] adux6991 commented on #448
I had the same issue!!! It had been extremely puzzling until I realized there is something to do with controller-gen. Thank you for raising it and developers for fixing it!

[2020-12-18 21:37] muvaf commented on #454
This would be useful for us in Crossplane. For example, I would like to add annotations to AWS resources informing the users which roles they need to give to their IAM user in order for the controller of that CRD to work without issues. We can possibly add an additional tool to patch the generated the CRD but I'd love if we could use a marker because that information is directly related with code

[2020-12-27 08:14] sudhakso commented on #444
Move to controller-gen@0.2.0 has at least got me past the issue. I am trying these CRDs and controllers on k8s@v1.18

[2020-12-28 23:52] misterkramer commented on #456
Hi! Can we remove status field from generation? The CRD shouldn't include the status field as an input (it's an output field). There will be problems with tools like Pulumi https://github.com/pulumi/pulumi-kubernetes/issues/800

[2020-12-28 23:52] misterkramer commented on #456
/remove-lifecycle rotten

[2021-01-04 21:49] JohnRusk commented on #441
/remove-lifecycle stale

[2021-01-06 07:43] knrt10 commented on #444
Current hack, moving to `controller-gen@0.2.0` fixed the issue.

[2021-01-08 16:59] erikgb commented on #402
/remove-lifecycle rotten

[2021-01-12 14:42] camilamacedo86 commented on #478
Hi Folks, could you please address it in a FAQ section of the docs?

[2021-01-18 08:19] lingsamuel opened #535 "controller-gen should allow colon in RBAC role name"
[code]

[2021-01-20 23:03] prashao commented on #520
@LAnastasiia To install just the controller-gen binary you can do the following -

1.  GOPATH env var should be set
2.  export GO111MODULE=on
3. go get sigs.k8s.io/controller-tools/cmd/controller-gen@v0.4.1

This will install controller-gen v0.4.1 binary in your GOPATH/bin directory.

[2021-01-20 23:22] prashao commented on #509
@champak - See my answer to issue #520

[2021-01-21 02:20] camilamacedo86 commented on #520
@prashao and @LAnastasiia,

Btw kubebuilder also scaffolds the same install in the Makefile. See; https://github.com/kubernetes-sigs/kubebuilder/blob/master/testdata/project-v3/Makefile#L81-L83

WDYT about we add the install instruction in the README? Would you like to push a PR for that?

[2021-01-21 02:31] prashao commented on #520
@camilamacedo86
Yeah I'll create a PR to update the README to install standalone controller-gen binary.

[2021-01-21 07:26] prashao commented on #520
@camilamacedo86
Have created PR https://github.com/kubernetes-sigs/controller-tools/pull/537

[2021-01-26 06:21] dvaldivia commented on #448
@champak did you found a solution?

[2021-01-26 06:28] dvaldivia commented on #448
It's still not clear to me what is causing the embedded `ObjectMeta` to be lost, if the original CRD "v1" had it, wouldn't it be transmitted to the webhook and then the conversion code would move it over? What am I missing?

[2021-01-26 06:36] dvaldivia commented on #448
I intercepted the very first call to the webhook for conversion and dumped the raw `ConversionReview`, which in my case has a `"desiredAPIVersion": "minio.min.io/v2",` and I can see the embedded metadata is already missing, if you see my `volumeClaimTemplate` has empty metadata, but even in the annotations you can see `kubectl.kubernetes.io/last-applied-configuration` the json there still has the

[2021-01-28 14:56] raz-bn opened #540 "Webhook configuration is fairly limited"
Currently, it is only possible to generate a webhook manifest for a service running inside the cluster. However, I think it should also be possible to generate manifests for webhook running outside the cluster by providing the Validating/MutatingWebhookConfiguration with a URL instead of a service.
This use case can be handy when trying to run a local webhook while developing one.
I order to achie

[2021-01-28 21:25] Porges commented on #442
stop that bot!

/remove-lifecycle stale

[2021-02-01 13:24] #486 closed

[2021-02-02 14:25] yhrn opened #543 "Allow floating point values for validation:{Minimum|Maximum|MultipleOf}"
The Kubebuilder CRD validation markers for Minimum, Maximum and MultipleOf currently only takes integral values. If one tries to assign a floating point value, e.g. `// +kubebuilder:validation:Minimum=0.5` generation fails with a message like this `extra arguments provided: ".5"`. If the decorated property is a float then it makes sense to have floating point bounds and this is also supported by k

[2021-02-03 21:22] PatrickOsborne commented on #287
is this fixed in a particular version of kubebuilder?

[2021-02-09 12:11] bhiravabhatla commented on #476
Any updates on this?

[2021-02-11 12:01] bhiravabhatla commented on #500
/remove-lifecycle stale

[2021-02-12 05:36] tamalsaha opened #545 "Release with k8s 1.20 support?"
Thanks for the work on this tool. Is there a timeline when the next release with k8s 1.20 support will be released? I see that the dependencies has been updated in master. Is there any blocker for this release?

[2021-02-12 05:36] tamalsaha commented on #545
cc; @vincepri

[2021-02-12 18:51] ellistarn commented on #490
@DirectXMan12 any thoughts here?

[2021-02-13 18:11] #491 closed

[2021-02-15 09:21] phenixblue opened #546 "Support for `resourceNames` in RBAC marker"
Would like for Kubebuilder RBAC marker (`//+kubebuilder:rbac`) to also support the `resourceNames` field for further scoping of permissions in the scaffolded clusterrole

[K8s Docs: Referring to resources](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#referring-to-resources)

[2021-02-15 09:27] phenixblue commented on #546
Looking through the code here it looks like this is already supported. Will close for now and do some further verification as to why this isn't working for me in kubebuilder.

[2021-02-15 09:27] #546 closed

[2021-02-15 17:24] estroz commented on #453
/close

[2021-02-15 17:25] #453 closed

[2021-02-16 14:42] ozhuraki opened #547 "controller-gen can't parse enum values starting with digit"
controller-gen can't parse enum values starting with digit

[code]

[code]

There's a workaround:

[code]

[2021-02-17 00:31] #386 closed

[2021-02-19 09:23] #385 closed

[2021-02-19 16:29] vincepri commented on #545
@tamalsaha Just released v0.5.0, thanks for the reminder!

/close

[2021-02-19 16:29] #545 closed

[2021-02-22 23:33] jgallucci32 commented on #500
Another reason for having this feature is the use of controller-tools behind a company firewall which rate limits/throttles downloads to Github and other sources. It sometimes can take an hour to get the controller tools loaded on a box for doing basic development. We started pre-packaging it into containers so we only have to download once; we're also looking at deploying a Go Proxy to cache them

[2021-02-23 18:15] yashvardhan-kukreja opened #548 "[Question] How can I auto-generate code for client,informer and lister too like code-gen does?"
Code-gen (https://github.com/kyverno/kyverno/blob/main/scripts/update-codegen.sh) has the capability to auto-generate code for lister,informer and client as well.

But I was having a hard time finding how can I do that with controller-gen.
Is there a way to do so?

[2021-02-23 19:17] hasheddan commented on #240
Hey folks! I am the maintainer of https://doc.crds.dev and was chatting with @vincepri recently and was pointed to this issue. I would love to contribute the backend generation code (likely actually just rewrite it to fit better here) so folks can generate CRD documentation. I would also like to add in a small webserver that folks can run locally (similar to [godoc](https://blog.golang.org/godoc))

[2021-02-23 19:17] hasheddan commented on #240
/remove-lifecycle frozen
/remove help

[2021-02-24 18:36] s3rj1k commented on #461
/remove-lifecycle stale

[2021-02-24 18:55] vincepri commented on #240
Super +1 on the plan described above, it'd be great to have these documentation bits as part of controller-tools

[2021-02-24 22:32] robbie-demuth commented on #391
Like yuzisun, I'm trying to add a field of type [`net.URL`](https://golang.org/pkg/net/url/#URL) to my CRD. In other projects, I've wanted to use fields of type [`time.Time`](https://golang.org/pkg/time/#Time) and [`time.Duration`](https://golang.org/pkg/time/#Duration). After doing a bit of digging, I stumbled across [`metav1.Time`](https://pkg.go.dev/k8s.io/apimachinery/pkg/apis/meta/v1#Time) an

[2021-02-25 07:00] johscheuer commented on #529
I got a slightly different error:

[code]

and during the generation I can see the following warnings:

[code]

So I suspect that not all defaults are catched during the generation.

[2021-03-03 20:07] BlaineEXE commented on #461
This is also something that would be useful in the Rook (github.com/rook/rook) project.

[2021-03-09 12:30] #503 closed

[2021-03-11 10:15] #504 closed

[2021-03-17 06:38] zhangtbj commented on #514
Hi all,

I also found this problem on my Mac (without line-breaking), but my collea all generate WITH line-breaking.

I also tried on my Ubuntu VM, it also generates with line-breaking.

I don't know what happens on my Mac, I also upgrade my Golang to 1.15 or upgrade/downgrade controller-gen version, they all didn't work.

Do you have any other idea?

Thanks!

[2021-03-18 10:48] dkropachev commented on #532
Addressed here - https://github.com/kubernetes-sigs/controller-tools/pull/415

[2021-03-18 16:34] fjmacagno commented on #448
Any further progress debugging this? It is causing problems with keda now too.

[2021-03-18 17:25] dvaldivia commented on #448
@fjmacagno I sent a PR to fix this, you could build using this PR and fix the problem https://github.com/kubernetes-sigs/controller-tools/pull/539

[2021-03-19 16:29] #357 closed

[2021-03-22 00:23] #509 closed

[2021-03-25 08:41] Zeroji opened #550 "Cannot use an empty map with kubebuilder:default marker"
Hi,
I'm using kubebuilder to generate a CRD from the following type definition (minimized):
[code]

This gives the following CRD (comments added manually):
[code]

The issue I'm facing is that if I apply an empty spec for my custom resource, with `spec: {}` then `foo` only contains the golang type defaults, e.g. `baz` is 0 and `qux` is an empty string.
If I use `spec: {foo: {}}` then `foo` is popu

[2021-03-26 23:19] #391 closed

[2021-03-27 14:07] yhrn commented on #461
I can't find any good documentation for `x-kubernetes-union` but I'm guessing this would be super useful for us. Our validating web hooks are 80% checking that exactly one out of two or sometimes three fields are set.

[2021-03-28 00:06] elanv commented on #476
/reopen
/remove-lifecycle rotten

[2021-03-28 00:07] elanv commented on #476
Any updates?

[2021-03-29 23:27] matthchr opened #551 "Marker comment ignored if immediately followed by anything other than newline"
It is possible to place `+kubebuilder` marker comments in such a way that they do not work, but no error or other indication is given that they were ignored.

This is basically the same issue as #436 which was closed.

**To reproduce:**
This is taken from the CronJob Kubebuilder sample:

**Works**
[code]

**Doesn't work**
[code]

Somehow, the fact that there isn't a newline following the comments

[2021-03-31 08:41] Ruminateer commented on #391
Any update on this? I am working on a project using Knative and I have the exact same issue with OP. I am using controller-gen v0.5.0.
[code]
As #427 is reverted, is there a workaround for the issue? Or should this be an issue with Knative?

Can I reopen this?
/reopen

[2021-03-31 09:20] Ruminateer opened #552 "controller-gen fails when using type URL"
I am trying to run a Kubebuilder project that uses Knative at <https://github.com/PaddleFlow/ElasticServing>. I got the exact same issue as #391. I am using controller-gen v0.5.0.
[code]

I am opening this issue as #391 is closed but seems unresolved. Any update or any workaround on this?

[2021-03-31 09:50] Ruminateer commented on #552
I contacted the project author and is able to generate CRD with controller-gen@v0.3.1-0.20200528125929-5c0c6ae3b64b. Why this works with the older version but doesn't work with the newest version?

[2021-04-02 06:08] wbrefvem opened #553 "controller-gen feature request: support objectSelector in webhook config generation"
Currently (v0.5.0) the `+kubebuilder:webhook` marker does not support setting an `objectSelector` on a webhook. `objectSelector` is especially handy when mutating or validating core types. For example, I want to be able to set an environment variable on a subset of pods in a particular namespace, but not my controller manager pod, which runs in the same namespace and runs the webhook server.

I re

[2021-04-03 11:14] #507 closed

[2021-04-04 10:37] #513 closed

[2021-04-05 17:34] christopherhein commented on #441
/remove-lifecycle stale

[2021-04-05 22:21] wbrefvem commented on #553
This is solvable with a strategic merge patch in kustomize:
[code]

But annotation sure would be nice. :)

[2021-04-07 08:59] viveksinghggits opened #554 "[Question]: Generating CRDs for type that has field of type `map[something]interface{}`"
I am using `kube-builder` that uses controller-tools to generate CRDs for the type definition for an already written project. If the types have a fields with type `map[string]interface{}` CRDs are not being generated successfully with error
[code]
take below type for an example

[code]

I have similar situation in the case where the field type is `map[string]*SomeType`.
I was thinking if someone e

[2021-04-09 12:41] leseb commented on #554
I've had a lot of troubles around this recently too and managed to get around it but the initial question from me would be, why do you need to use in `interface{} ` in the first place?

[2021-04-10 08:12] viveksinghggits commented on #554
Hi @leseb,
the problem is I am trying to create CRD for a project that we have already been maintaining using `v1beta1` version of CRDs. Do you think we should make changes in the code to have respective type for `interface{}`, or its worth creating CRD field for `interface{}`.

[2021-04-10 16:00] #516 closed

[2021-04-12 12:49] leseb commented on #554
I guess it depends on how you are consuming the data, you could use `json.RawMessage`. But the AFAIK using `interface{}` has a type is not allowed/recommended by the API convention.

[2021-04-12 13:00] viveksinghggits commented on #554
makes sense, thanks @leseb

[2021-04-12 23:49] #421 closed

[2021-04-13 14:48] TerryHowe commented on #492
For me, this error was caused by overriding ObjectMeta twice. Copy pasta problem.

[2021-04-14 21:44] tarvitz opened #556 "Deprecating APIs support request"
In short,

Desired behavior: to have a possibility to deprecate API versions over markers

[code]
Still, there's a workaround over a `schemapatch`, however, it makes a resource control procedure a bit more difficult (I leave a workaround unpublished until anyone requires it).

[2021-04-15 10:07] PaulsBecks commented on #514
Hey all,

I too got this problem on my Mac, even though my colleagues do not. @zhangtbj did you find a solution?

Thanks

[2021-04-15 12:24] zhangtbj commented on #514
Hi @PaulsBecks ,

I didn't fix it on my Mac, I switched to generate on my Ubuntu VM... :(

[2021-04-15 12:26] zhangtbj commented on #514
Hi @PaulsBecks ,

I didn't fix it on my Mac, I switched to generate on my Ubuntu VM... :(

[2021-04-15 19:53] Blokje5 opened #558 "controller-gen generates unstructural OpenAPI schema when referring to an inline struct twice"
When embedding a struct inline within a CRD and accidentally duplicating the field (see examples) controller-gen fails to generate a structural (flattened) OpenAPI schema.

This can be reproduced with the following (contrived) examples:

Package api
[code]

Package api2
[code]

Generated schema:
[code]

As you can see in the example above, bars is defined in two places: In `api2.FooSpec`, which is

[2021-04-16 04:58] lbscorpio commented on #500
Vote +1, the binary releases can save more time than `go get`.

[2021-04-16 07:36] fjammes opened #559 "api/v1alpha1/zz_generated.deepcopy.go is not compliant with goimport format"
## Bug Report

#### What did you do?

Run build script for an operator and notice that command below generates a file non-compliant with `goimports` standards.

[code]

#### What did you expect to see?

Line 21 in `api/v1alpha1/zz_generated.deepcopy.go` should be generated using format compliant with `goimports`

#### What did you see instead? Under which circumstances?

Line 21 in  `api/v1alpha1/

[2021-04-16 09:25] roee88 commented on #240
FWIW we developed a small tool to generate markdown from the CRD YAMLs: https://github.com/mesh-for-data/crdoc. Not as fancy as doc.crds.dev but works well for us as we use hugo and mkdocs to render our overall docs.

[2021-04-20 12:00] #525 closed

[2021-04-21 15:00] markusthoemmes commented on #552
Somewhat related to this, not even type aliases that I tried to force to validate as a string type seem to be working. Here's a quick reproducer https://github.com/kubernetes-sigs/controller-tools/compare/master...markusthoemmes:url-repro?expand=1.

Am I holding this wrong or are we looking at a bug?

[2021-04-22 09:25] markusthoemmes opened #560 "CRD: Schema generation should short circuit if the type is determined via a marker"
I've noticed some unexpected behavior around the usage of "unsupported types" (i.e. without JSON tags) and type aliases in general, where me providing "compiler hints" (i.e. markers) does unfortunately not seem to fix the situation.

I've cooked up two reproducers to showcase what's breaking here: https://github.com/kubernetes-sigs/controller-tools/compare/master...markusthoemmes:repro?expand=1. H

[2021-04-22 09:30] miffa commented on #492
figure out  my problem

[2021-04-22 17:59] dimberman opened #561 "Add ability to turn off descriptions for sub-objects"
Hello,

I am currently building an operator that uses podTemplateSpec for each element of the system (users would have reasons to want to customize each of these elements.)

Unfortunately, when I attempt to install this feature I get the following error

[code]

This is because the entire description of podTemplateSpec gets imported into the yaml  CRD.

Following https://github.com/kubernetes-sigs

[2021-04-24 16:33] #527 closed

[2021-04-26 02:46] horis233 opened #562 "How to add "PreserveUnknownFields" into additionalProperties"
### Question Type:

CRD generation

### Background:

In the controller API types, we have a map of the `runtime.RawExtension`, see

[code]

Since it is raw data, in order to preserve fields in the custom resource we need to set `x-kubernetes-preserve-unknown-fields: true` in the CRD.

What I did is manually adding `x-kubernetes-preserve-unknown-fields: true` under the `additionalProperties` like:

[2021-04-26 11:23] markusthoemmes commented on #533
@mjaow this should now be fixed via the PR referenced above.

[2021-04-27 12:46] #521 closed

[2021-04-28 01:17] maxsmythe commented on #456
/remove-lifecycle rotten

Unless this has been fixed, it looks like people may still be interested in seeing this fixed.

[2021-04-28 22:38] Porges commented on #442
hold your horses

/remove-lifecycle stale

[2021-05-01 03:14] #530 closed

[2021-05-03 16:21] yhrn commented on #543
/remove-lifecycle stale

[2021-05-06 15:07] enxebre opened #567 "Warning for required fields with defaults"
By design structural schema CRDs don't publish defaults, so kubectl cannot know that it would be defaulted on the server.
This results in a not ideal UX when client-side applying empty required/defaulted fields, since client side validation prevent them from being applied before they ever get defaulted.

It'd be nice to have a warning or some kind of user message when generating CRDs with fields t

[2021-05-06 18:45] danielhelfand opened #568 "controller-gen Panics When Generating CRD Schema that Has OpenAPIv3 Schema Property"
I am using `controller-gen` v0.5.0 to generate schemas for a set of CRDs. One of the CRDs has a property that is an OpenAPIV3 schema that can be provided by users (not for the CRD itself but for configurable values used in our workflows).

The struct looks like this:

[code]

The `valuesSchema` property is itself a struct which looks as follows:

[code]

The openapi alias corresponds to `openapi "

[2021-05-08 19:22] erikgb commented on #402
/remove-lifecycle rotten

[2021-05-12 08:46] zoetrope opened #570 "controller-gen feature request: support for generating DeepCopy of ApplyConfigrations"
In Kubernetes v1.21, client-go supports typesafe server-side apply.
https://github.com/kubernetes/enhancements/issues/2155

I believe this feature will be very useful in controller-runtime as well.
When our CRDs have a PodTemplate or ServiceTemplate, the difference calculation will be very easy.

I have written sample code for it.
https://github.com/zoetrope/reconcile-tips/blob/typed-ssa/controlle

[2021-05-12 12:22] maelvls opened #571 "controller-gen's schemapatch silently skips invalid YAML CRD files"
Using the schemapatch option, `controller-gen` seems to be silently "skipping" any CRD file that is not a valid YAML file (we use Helm directives in our CRDs).

I would expect `controller-gen` to fail with a useful message (e.g., the file is not a valid YAML file; if you are using a templating mechanism like Helm, remember that schemapatch requires a valid YAML file).

To reproduce:

[code]

At th

[2021-05-12 23:51] yash97 opened #572 "problem generating crd.yaml from types.go file"
directory structure:
`api/v1/project_types.go`
Content:
[code]

Tried running this command: `controller-gen object paths=./api/v1/project_types.go` successfully generated deepcopy file.
Than tried: `controller-gen crd:trivialVersions=true paths=./api/v1/project_types.go`.It generates _.yaml file in config folder which is empty.Any suggestion for whats the mistake here?

[2021-05-13 00:31] #572 closed

[2021-05-13 00:31] yash97 commented on #572
solved

[2021-05-15 17:10] Covariance opened #574 "controller-gen is unable to parse markers in the source code if there's no new line between marker and code"
So, the title is pretty self-explanatory - I ran into this issue during testing the following code:

[code]

When I ran `controller-gen rbac:roleName=connector-manager paths="./..." output:stdout` on this module, it didn't output any RBAC files at all. The issue is solved by adding a blank line between marker and function, like this:

[code]

Without any other changes to the code except this new l

[2021-05-17 11:57] #532 closed

[2021-05-18 05:48] mythi commented on #547
/remove-lifecycle stale

[2021-05-19 04:34] lingsamuel commented on #535
remove-lifecycle rotten

[2021-05-19 04:34] lingsamuel commented on #535
/remove-lifecycle rotten

[2021-05-19 09:47] zoetrope commented on #570
https://github.com/kubernetes-sigs/controller-runtime/pull/1365

[2021-05-19 18:02] Jefftree commented on #570
Hi, can you elaborate on your use case for deepcopy? If it's to satisfy the client.Apply patch interface, there's a fix coming in kubernetes-sigs/controller-runtime#1365 to remove the need to convert to unstructured.

[2021-05-20 03:23] fatalc commented on #396
ensure file `hack/tools.go` content, there must a new empty line after the`// +build tools` comment

[code]

not

[code]

IDK why, but it's works ...

[2021-05-20 14:32] zoetrope commented on #570
@Jefftree
To remove the need to convert to unstructured is really awesome.

In my use case, I want CRD to have `PodTemplateApplyConfiguration` as follows.
https://github.com/zoetrope/reconcile-tips/blob/typed-ssa/api/v1/myapp_types.go#L32

Then, the generated deepcopy will be compile error. (Instead, I used github.com/getlantern/deepcopy)
https://github.com/zoetrope/reconcile-tips/blob/typed-ssa/a

[2021-05-22 13:54] DeanBrunt commented on #552
I'm observing the same behaviour as @markusthoemmes .
I've got a type similar to `IntOrString` that for validation I want checked as a string. Even when I try and force the type validation using a market comment, it still fails with the missing `json` struct tag error.

[2021-05-26 12:04] #533 closed

[2021-05-27 17:41] Jefftree commented on #570
Hi @zoetrope. We will drop the requirement for applyconfig Patch requests to require DeepCopy to be implemented. The proposed interface looks something like this:

`cl.Patch(context.TODO(), returnObj, client.ApplyFrom(applyConfig), owner);`

[2021-06-01 18:45] #313 closed

[2021-06-04 17:21] #574 closed

[2021-06-04 17:24] Covariance commented on #551
I have also encountered this issue (#574), but since that one is a duplicate, I decided to closed it.

I have encountered the same kind of behaviour:

[code]

When I ran `controller-gen rbac:roleName=connector-manager paths="./..." output:stdout` on this module, it didn't output any RBAC files at all. The issue is solved by adding a blank line between marker and function, like this:

[code]

Witho

[2021-06-08 16:00] mrajashree commented on #287
Hi, is this fixed in some version? Still getting this error
/reopen

[2021-06-10 10:55] aybansal-sudo commented on #533
i am facing a similar issue
conflicting types in allOf branches in schema: string vs object
Error: not all generators ran successfully
my types.go file has
	// +kubebuilder:pruning:PreserveUnknownFields
	// +kubebuilder:validation:Type=object
	RequestPayload json.RawMessage `json:"requestPayload"`

after running controller-gen "crd:crdVersions={v1},trivialVersions=true" rbac:roleName=manager-role

[2021-06-10 12:48] aybansal-sudo opened #577 "Controller-gen conflicting types in allOf branches in schema: string vs object"
Hi,
I use kubebuilder to build api using crds.

my types.go file contains:
	// +kubebuilder:pruning:PreserveUnknownFields
	// +kubebuilder:validation:Type=object
	RequestPayload json.RawMessage `json:"requestPayload"`

when running the following command to generate crd:
controller-gen "crd:crdVersions={v1},trivialVersions=true" rbac:roleName=manager-role webhook paths="./..." output:crd:artifacts:

[2021-06-11 15:54] #478 closed

[2021-06-14 07:37] #577 closed

[2021-06-14 09:42] zoetrope commented on #570
@Jefftree
Understood. Thank you.

[2021-06-14 09:42] #570 closed

[2021-06-14 14:28] danielhelfand opened #578 "How to handle case of singular/plural for CRD with metadata in name"
I have a CRD named `PackageMetadata` and am using controller-gen to generate the CRD YAML. The default for controller-gen for singular/plural form of this CRD is to use `PackageMetadata` as both the singular and plural form of the CRD. This is because the word metadata is considered plural in form but singular or plural in construction (i.e. it is both singular/plural).

I am wondering what the re

[2021-06-14 18:05] danielhelfand commented on #578
One potential option if proposal number 3 makes sense would be to use `flect.Singularize` on the kind if no `// +kubebuilder:resource:singular` is provided for the CRD struct.

[2021-06-15 11:48] Callisto13 commented on #287
Ditto, using 0.6.0 and still seeing this error.

[2021-06-20 08:51] #520 closed

[2021-06-22 21:51] danielhelfand commented on #578
My personal preference would be to support option 2 here as it seems part of the issue is our use of generators for our clients from https://github.com/kubernetes/code-generator. The client uses `packagemetadatas` as plural. This comes from https://github.com/kubernetes/gengo/blob/de9496dff47bef4ff8f45a56096bf50798cba2a5/namer/plural_namer.go.

It would be helpful to support an override for plural

[2021-06-25 14:31] stevelaclasse opened #581 "Rbac und CRD manifest file not generated"
Hi everyone,

i am writing an operator with Kubebuilder, everything works fine after the project creation but after i edited the types.go file and the controller.go file there are no generation of rbac or crd manifest files. the "make run" still work but the new variable i have added to my spec are not generated in crd yaml definition file and the kubebuilder markers i have added in the controller

[2021-06-25 15:08] yhrn commented on #461
/remove-lifecycle

[2021-06-25 15:17] yhrn commented on #461
remove-lifecycle stale

[2021-06-25 16:18] m-yosefpor commented on #461
I need to define the a `Host` field which can  be either IPv4 or Hostname. However the following code will overwrite and I can not specify multiple formats:

[code]

I suppose the only way to specify this is with the help of `oneOf` described in this issue. Am I right?

[2021-06-25 16:36] yhrn commented on #461
/remove-lifecycle stale

[2021-06-29 14:10] imjasonh commented on #514
This seems to still be happening, without involving kustomize. On macOS YAML is generated with line wrapping, and on Ubuntu it's generated without line wrapping.

Does anybody have any ideas what might cause this discrepancy?

[2021-07-04 18:33] christopherhein commented on #441
/remove-lifecycle stale

[2021-07-05 07:35] ns-jisorce commented on #448
Fixed by https://github.com/kubernetes-sigs/controller-tools/pull/557 no ?

[2021-07-08 12:04] gogogwwb opened #582 "unable to recognize "STDIN": no matches for kind "CustomResourceDefinition" in version "apiextensions.k8s.io/v1""
#make install
/opt/gopath/src/example/bin/controller-gen "crd:trivialVersions=true,preserveUnknownFields=false" rbac:roleName=manager-role webhook paths="./..." output:crd:artifacts:config=config/crd/bases
/opt/gopath/src/example/bin/kustomize build config/crd | kubectl apply -f -
error: unable to recognize "STDIN": no matches for kind "CustomResourceDefinition" in version "apiextensions.k8s.io/v1

[2021-07-09 14:21] trawler opened #583 "Missing DeepCopyInto method for external yaml.MapSlice type"
In our code we have a struct with a yaml.MapSlice field:
[code]
The values field used to be `map[string]interface{}` but was changed to [yaml.MapSlice](https://github.com/go-yaml/yaml/blob/7649d4548cb53a614db133b2a8ac1f31859dda8c/yaml.go#L20) to avoid the generation errors with controller-gen.
After the change, the following error is found for the generated DeepCopy functions:
[code]

The generate

[2021-07-12 14:36] dims commented on #514
/reopen

[2021-07-14 18:39] helpmeplsssss opened #585 "Generating CRD manifest for struct with recursive field"
My CRD spec looks like below:
[code]
Notice that the Node struct contains an array field that refers back to itself.

When I try to generate the CRD manifest for my spec (by running the make manifest command provided by Operator SDK -- it uses controller-gen v0.4.1), it produces this snippet:
[code]
When I try to apply the CRD manifest to my Kubernetes v1.19.7 cluster, I get this error:
[code]
It'

[2021-07-15 15:26] #459 closed

[2021-07-16 13:07] ryanbrainard commented on #315
For me, it choked when it got to a special char sequence like `\d+` but I was able to finally get it to work by using backticks. Single and double quotes did not work.

[2021-07-17 02:30] ob commented on #500
/remove-lifecycle stale

[2021-07-19 15:37] vincepri commented on #240
/lifecycle frozen

[2021-07-20 18:11] zx8 opened #586 "Invalid deepcopy generation with nested type-aliased slices"
Using https://github.com/kubernetes-sigs/controller-tools/commit/ffa54949a74756bbb4d5c41ae4fe8d6fea759ae7, given the following:

[code]

After running:

[code]

Then attempting to build:

[code]

[2021-07-21 08:47] trawler commented on #583
resolved, by creating a custom DeepCopyInto function (and excluding auto-generation)

[2021-07-21 08:47] #583 closed

[2021-07-22 17:13] kevindelgado commented on #476
/reopen

[2021-07-22 17:13] kevindelgado commented on #476
/assign

[2021-07-22 18:18] denist-huma opened #587 "Controller-gen silently skips CRD generation when the root API object does not have ObjectMeta"
# Use case

Found during the Kubebuilder book tutorial ProjectConfig API generation.

An example, info, make file used are in this issue. [Manifests are not generated for component config API in the tutorial](https://github.com/kubernetes-sigs/kubebuilder/issues/2270)

## Workaround

Then I add ObjectMeta to the ProjectConfig struct, manifest got generated for component config API. :+1:
That makes

[2021-07-26 19:14] #548 closed

[2021-07-26 21:16] #529 closed

[2021-07-27 10:32] yann-soubeyrand commented on #577
Hi @aybansal-sudo, did you find the solution to your problem?

[2021-07-27 18:47] maxsmythe commented on #456
/remove-lifecycle-stale

still useful

[2021-07-27 18:48] maxsmythe commented on #456
/remove-lifecycle stale

[2021-07-27 23:31] Porges commented on #442
slow thyself

/remove-lifecycle stale

[2021-07-29 06:19] njuCZ opened #589 "difference between github.com/kubernetes/code-generator"
Hi everyone, I found there are two official tools about code generation: this one and the https://github.com/kubernetes/code-generator.

I wonder what is the difference between these two tools?

thanks for your help

[2021-07-31 00:24] kevindelgado commented on #476
I took a stab at this, but it's a bit hairier than I expected.

Basically, the root cause is that `CRDSpec.PreserveUnknownFields` went from a type *bool in v1beta1 to a type bool in v1. The default value for a bool is false and because the field has an `omitempty` tag on it, a false value will never be written out to the yaml.

Since the object that gets written to yaml has the correct value of fa

[2021-07-31 20:21] #430 closed

[2021-08-01 16:35] yhrn commented on #543
/remove-lifecycle stale

[2021-08-04 17:52] m-yosefpor commented on #567
/remove-lifecycle-stale

[2021-08-04 17:53] prometherion opened #591 "Support for Enum values for IntOrString type"
I got a CRD schema like the following.

[code]

Following, the Go struct type.

[code]

I'd like to provide a way to set a numeric value or some enum strings but I'm getting the following error:

`The Tenant "gas" is invalid: spec.namespaceQuota: Unsupported value: 3: supported values: "Unlimited"`

An actual workaround could be to go for the `string` type marked with `pattern`, although using it

[2021-08-04 17:54] m-yosefpor commented on #567
/remove-lifecycle stale

[2021-08-11 13:39] yann-soubeyrand commented on #577
The solution which worked for me is to use version 0.6.2 of controller-tools (I changed the version in the `Makefile` generated by kubebuilder and removed `bin/controller-gen`) and wrap my `json.RawMessage` field in a struct like this:
[code]

[2021-08-11 16:03] calind opened #592 "`go get -u` fails with error in klog"
I'm trying to `go get` the `controller-gen`. It fails with:

[code]

[2021-08-13 09:41] erikgb commented on #556
/remove-lifecycle rotten

[2021-08-13 09:59] erikgb commented on #556
This seems to have been fixed in https://github.com/kubernetes-sigs/controller-tools/pull/541.

/close

[2021-08-14 12:37] erikgb commented on #461
Relevant KEP: https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1027-api-unions. I think this was linked to in a related (closed) PR, but the links seem broken.

[2021-08-14 13:21] killwing commented on #442
same here

[2021-08-16 14:07] mythi commented on #547
/remove-lifecycle stale

[2021-08-17 06:40] lingsamuel commented on #535
/remove-lifecycle rotten

[2021-08-17 17:53] benpbrown opened #594 "go1.17: zz_generated.deepcopy.go changes when gofmt'd"
The Go team has started the process of replacing the old "// +build" constraints with the new "//go:build" constraints. See the design doc for more details here:

https://go.googlesource.com/proposal/+/master/design/draft-gobuild.md

What is relevant is that in Go 1.17, gofmt now synchronizes the two styles. In particular, if gofmt is run against a deepcopy generated file, it will add a new "//go:

[2021-08-17 20:52] morgante commented on #456
Is there a recommended workaround for this?

[2021-08-18 11:25] yuswift commented on #582
`Kubernetes` v1.15 doesn't support apiextensions.k8s.io/v1. You need to upgrade your cluster version to v1.16 at least.

[2021-08-18 11:25] yuswift commented on #581
cc

[2021-08-19 16:55] linyang0625 opened #596 "The name of MutatingWebhookConfiguration & ValidatingWebhookConfiguration are hardcoded"
## Description
MutatingWebhookConfiguration & ValidatingWebhookConfiguration are Cluster Scoped resources. If I use kubebuilder to create two projects, as the name of those two configuration are hardcoded, in the generated YAML of each project, will get MutatingWebhookConfiguration/ValidatingWebhookConfiguration with same name.

Let's say,
- Project 1: MutatingWebhookConfiguration/mutating-webhook

[2021-08-20 01:39] zoetrope commented on #570
This is exactly what I want!
https://github.com/kubernetes-sigs/controller-tools/pull/536

[2021-08-20 05:28] linyang0625 commented on #596
Can use kustomize namePrefix or nameSuffix to resolve it temporarily, but it causes some of the names too long, which is not perfect, as some private cloud production is not 100% consistent with the restrictions of k8s, max length of some fields is 32 instead of k8s defined 64.

[2021-08-23 12:14] ruckc commented on #592
Seeing this also.

[2021-08-23 18:46] parthyadav3105 opened #599 "+kubebuilder:validation:Required marker not working"
**What happened**
On using **+kubebuilder:validation:Required** marker on fields(or packages both) does not adds that field to `required` list in the generated crd output.

Example:
[code]
output crd:
[code]

**What you expected to happen:**
According to reference documentation `foo` field in above crd should be a required field as shown bellow:
[code]

**Environment:**
Controller-gen version: v0.

[2021-08-24 20:43] parthyadav3105 commented on #599
Update:
The `omitempty` tag in ``` Foo string `json:"foo,omitempty"` ``` had more precedence than the kubebuilder marker `+kubebuilder:validation:Required` therefore making the resultant generated crd field to be optional.

The `+kubebuilder:validation:Required` marker does works as desired when `omitempty` is not used.

I am not able to recall if docs(https://book.kubebuilder.io) mentions it, but

[2021-08-24 20:43] #599 closed

[2021-08-25 11:10] erdii commented on #594
AFAIK controller-gen is already running gofmt internall here: https://github.com/kubernetes-sigs/controller-tools/blob/f8684f404f0f430181712b0f90721f90fb3637c6/pkg/deepcopy/gen.go#L260

[2021-08-26 19:58] akutz opened #600 "Support for a feature gate flag/marker when generating CRDs"
Has there ever been any consideration towards the inclusion of a feature gate flag / marker combination that could be used to control the generation of CRDs from the Go code? For example:

[code]

The presence of the marker `+kubebuilder:featuregate=MyFirstAPI` would indicate to the CRD generation that the type should not be considered unless `controller-gen` was executed with the following flag:

[2021-08-27 22:24] #560 closed, assigned to nobody

[2021-08-28 04:12] zwd1208 opened #604 "OpenAPIV3Schema properties order in CRD"
Properties are sorted alphabetically after generate to CRD yaml. Is there any way to follow the order by types file defined?

[2021-08-30 18:20] alvaroaleman opened #605 "Add support for cross-field validation"
Controller-gen currently does not support cross field validation, like for example "If you set this field to that value, this other field must be set as well". An example of this is here: https://github.com/kubernetes/test-infra/blob/e35aa846a43c77b328a868c0fce53c0a657463c9/config/prow/cluster/prowjob_customresourcedefinition.yaml#L49-L58

[2021-08-31 14:58] JoelSpeed commented on #591
I've just come across this part of this issue. While the pattern won't work if you input an integer, it's not invalid. The pattern still applies when giving a string argument to the to CR. This can be useful for example to limit the IntOrString to either an integer or a percentage value, eg with pattern `// +kubebuilder:validation:Pattern="^((100|[0-9]{1,2})%|[0-9]+)$"`

[2021-09-01 13:22] bcho opened #609 "Allow skipping unexported fields in CRD generation"
I am using controller-gen in a project that, needs to generate CRD from existing struct with unexported fields. The simplest
 real world setup is like:

[code]

If we use controller-gen to generate CRD for above settings, it would fail with error like:

But I think since those fields are unexported and without JSON tag, we could safely ignore them from the CRD generation.

[2021-09-01 13:26] bcho commented on #609
I had created a draft PR for implement this, please let me know your thoughts of this feature 😸

[2021-09-03 07:57] #448 closed

[2021-09-09 13:48] #554 closed

[2021-09-10 08:03] sbueringer opened #612 "Deduplicate RBAC rules"
The deduplication of RBAC rules currently only merges verbs for tags with the same `groups` / `resources` / `resourceNames` / `urls`. It would be nice if we could generate rules without any duplicate permissions.

For example, the following tags:

[code]

Result in:

[code]

The last 2 have been merged because the resource is equal, the others are not.

Note: This can also be solved by splitting t

[2021-09-10 16:56] akutz commented on #600
cc @karaatanassov

[2021-09-11 23:17] kralicky opened #613 "controller-gen panics when reading selector expressions containing composite literals (Go 1.17)"
As an example (this is where I encountered the error), when running controller-gen against code which imports `golang.org/x/sys/unix`, it panics when trying to parse the following struct:

https://github.com/golang/sys/blob/751e447fb3d0a97f584890476adddc1d56307388/unix/ifreq_linux.go#L132-L140

Specifically, the composite literal expression in this field:
[code]
Full error text:
[code]
Here's the

[2021-09-12 21:23] #558 closed

[2021-09-13 15:28] alvaroaleman commented on #612
Deduplicating the rules with a nested map of apiGroup -> resource -> resourceNames -> verbs should be relatively easy.

One caveat is that maps are unordered. Then again this is only used to serialize it and the serialization does order it so probably doesn't matter?

[2021-09-13 15:32] sbueringer commented on #612
Sounds good to me.

[2021-09-14 23:45] #559 closed

[2021-09-15 19:26] zx8 commented on #435
/reopen

[2021-09-15 21:26] Porges commented on #594
Even before 1.17 this is an issue; `controller-gen` generates empty `import ()` blocks that disappear upon `fmt`ing.

[2021-09-15 21:27] Porges commented on #571
/remove-lifecycle rotten

[2021-09-16 12:17] avorima commented on #435
This issues still is present in 0.6.0

/reopen

[2021-09-16 20:53] alvaroaleman commented on #591
Pattern should be fixed with the latest change by @JoelSpeed ; feel free to re-open if you encounter more issues.
/close

[2021-09-16 20:54] #591 closed

[2021-09-17 16:19] alvaroaleman commented on #245
/reopen

[2021-09-17 17:09] matthchr commented on #245
@alvaroaleman - FYI there's already some support for floats which I added in #449 behind a flag.

[2021-09-17 17:18] alvaroaleman commented on #245
Oh I wasn't aware of that, thanks for mentioning it! Maybe we could improve the handling to instead of falling through into `unsupported type` mention why this is problematic and that it can be overridden through this flag?

[2021-09-18 07:01] lingsamuel commented on #535
/remove-lifecycle rotten

[2021-09-19 07:22] #245 closed

[2021-09-19 19:48] #561 closed

[2021-09-19 22:31] Porges commented on #535
@lingsamuel  Colons are permitted in role names, what you are seeing is a result of the shell interpreting your arguments. Instead of `rbac:roleName="iris:manager-role"`, write `'rbac:roleName="iris:manager-role"'`.

You can see the difference if you compare `echo hello="world"` and `echo 'hello="world"'`; the shell is discarding the double quotes.

[2021-09-20 16:58] littleamigo opened #621 "+kubebuilder:validation:Required marker not failing"
Referring to issue #599 I'd like to see the `controller-gen` tool to fail in such ambiguous situation rather than to ignore the `+kubebuilder:validation:Required` marker silently. It's definitely not obvious that `omitempty` takes precedence over the kubebuilder marker and can be judged as a programming mistake in most of the cases and should be detected and reported as such.

I already searched f

[2021-09-20 17:34] adambkaplan commented on #461
#298 has been closed as it was a stale/rotten PR. Do we have any idea how someone could implement `oneOf` validation (this seems to be the biggest use case that is missing in controller-tools).

[2021-09-20 22:16] Porges commented on #287
This should be fixed as of #518

[2021-09-21 06:22] erikgb commented on #461
@adambkaplan IMO this should be implemented on the basis of the the [union KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/1027-api-unions/README.md). I had a chat with @apelisse on Slack regarding this, and the advice was to wait till the KEP was implemented for native/in-tree types. But I would be happy to take a look at implementing this here, but my bandwidth

[2021-09-21 14:02] akram commented on #514
This requires kubernetes-sigs/yaml to bump to version v2.4.0. Actually v2.3.0 would fix it, but it would introduce many regressions to kubernetes, so v2.4.0 reverted the fix but introduced the method `yaml.FutureLineWrap`  to disable line wrapping.
Once kubernetes-sigs/yaml  bumps a new version, controller-gen will need to call  `yaml.FutureLineWrap` to globally disable line wrapping.

[2021-09-21 21:19] astoycos opened #622 "+kubebuilder:default={} does not use nested defaults"
So I believe I exposed a bug in kubebuilder...

when I define a +kubebuilder:default={} as a pointer to another type with +kubebuilder:default values I assume those values should propagate to the parent object.

For example

[code]

Where the PolicyAuditConfig is defined in the same package
[code]

However rather than rendering the default correctly I see the following in the generated yaml
[code]

[2021-09-23 07:34] benbooth493 commented on #442
Is there any workaround for this?

[2021-09-23 07:35] Porges commented on #442
Don’t use inline struct types, name every struct type.

[2021-09-23 09:35] benbooth493 commented on #442
@Porges I am trying to add https://github.com/solo-io/solo-apis/blob/6c6820ee9fd480a5092f76a02c29efc3aa34f858/pkg/api/gloo.solo.io/v1/options.pb.go#L459

[code]

This results in:
[code]

[2021-09-23 09:37] benbooth493 commented on #442
I'm really at a loss, I can't even re-implement the external type as it contains many interfaces that also cause a panic.

[2021-09-23 19:24] arkadijs commented on #442
I suspect that your approach needs re-evaluation. Hard to tell about your project specifics, yet...

I, as a Kubernetes Operator developer, publish CRD which is my own type. I do not publish external (nested) types.

While the desire to reuse third-party API definitions as opaque pass-thru objects in the operator is understandable and might work, I would step back once again to review the decision

[2021-09-25 00:44] #562 closed

[2021-09-26 04:53] cscetbon opened #624 "panic: runtime error: invalid memory address or nil pointer dereference"
Using controller-ben v0.6.2 I get a panic error when trying to generate the crd for https://github.com/Orange-OpenSource/casskop/tree/fix-crds/multi-casskop

[code]

I'm trying to replace `operator-sdk generate k8s` by using `controller-gen` but hit this error.

[2021-09-27 16:17] cscetbon commented on #624
same with version 0.7.0

[2021-09-29 15:08] dan-j opened #625 "+kubebuilder:validation:type doesn't work on struct fields"
I've recently ran into the problem which was partially fixed in #601 when you have a nested struct but has a custom `JSONUnmarshal()` function.

This only appears to work if you have the `+kubebuilder:validation:type` marker on the type alias. It doesn't work if you use it on a field.

My use-case for this is I'm trying to use `apis.URL` from knative, which is an alias for `url.URL`. This alias ha

[2021-09-29 15:10] dan-j commented on #625
For further info, the type I am trying to generate looks like this:

[code]

[2021-09-29 15:39] abayer commented on #624
I hit this same panic/stack trace, though in a bit of a different scenario than I saw in your repo - in Tekton Pipelines, we have `pkg/apis/pipeline/{v1alpha1,v1beta1}, `pkg/apis/resource/v1alpha1`, and `pkg/apis/run/v1alpha1`, all with the same `tekton.dev` group. I did some debugging and discovered that it would fail trying to find a kind from, say, `pkg/apis/run/v1alpha1` in the package `pkg/ap

[2021-10-02 20:47] christopherhein commented on #441
/remove-lifecycle stale
/lifecycle frozen

[2021-10-03 17:38] matthchr commented on #551
/remove-lifecycle stale

[2021-10-03 21:22] #568 closed

[2021-10-03 22:28] matthchr commented on #551
/remove-lifecycle rotten

[2021-10-13 08:50] pingsutw opened #629 "How to ignore some struct fields without JSON"
I have a struct that was generated from protobuf inside my own struct, like below.

[code]
Use `inline` will cause an error because there is no JSON tag inside `core.object`.
[code]

[2021-10-18 05:20] dan-tw opened #631 "When generating a CRD the default values from kubebuilder markers are not applied correctly."
Given the following code in a mycustomresource_types.go file generated by kubebuilder and focusing on the kubebuilder marker and how default markers behave with nested objects.

`//+kubebuilder:default:={person:{}}`

[code]

In the generated CRD I get the following for default value for `Property`:
[code]

The default value of person here in the CRD should be `{}` and not `null` as when I try to i

[2021-10-19 13:49] avorima commented on #435
/reopen

[2021-10-26 14:57] pingsutw opened #633 "additionalProperties is empty in CRD file"
When I generated a CRD file, the additional properties is empty.

My struct:
[code]

CRD File will look like
[code]

How do I manually set an additional property for SubNodeStatus?

[2021-10-30 17:57] yhrn commented on #543
/remove-lifecycle stale

[2021-11-02 21:41] armsnyder commented on #441
This would be very useful for CRDs that embed other resource definitions like DeploymentSpec.

When CRDs get too large, it becomes impossible to manage them with tools like Helm which store a compressed manifest in a Secret, which has a 1 MB limit.

Ideally as a controller-tools user we could keep descriptions on all our fields except the embedded ones. We could add a comment to the embedded field

[2021-11-04 10:11] yan234280533 opened #634 "use status instead state in the comment"
// NodeQosStatus defines the observed state of NodeQos
type NodeQosStatus struct {
        // INSERT ADDITIONAL STATUS FIELD - define observed state of cluster
        // Important: Run "make" to regenerate code after modifying this file
}

use status instead state  in the comment

[2021-11-09 20:02] armsnyder opened #636 "Allow map[string]interface{} CRD fields"
## Overview

I would love it if controller-gen allowed you to use `map[string]interface{}` types in CRD fields, specifically those marked with: `// +kubebuilder:pruning:PreserveUnknownFields`.

The use case is when you have a CRD that has a "template" field, similar to Deployment or Job's `.spec.template` field. It is desirable to have unstructured input, so that the controller can use server-side

[2021-11-09 20:27] armsnyder opened #637 "Error when using json.RawMessage - string vs object"
## Overview

Continuing from bug report #533 which was likely fixed and then resurfaced.

Using controller-gen `v0.6.2` you get an error when using `json.RawMessage` to represent unstructured fields.

(As a note, I would rather be able to use the `map[string]interface{}` type, which would make this bug a non-issue for me, see #636 😉 )

## Repro 1 - RawMessage has string type by default

[code]

Ex

[2021-11-11 23:39] armsnyder commented on #570
I'm still curious how using ApplyConfiguration fields in a CRD can work, since it's something I need as well.

It looks like #536 removes the need to convert to unstructured, but we would still need the DeepCopy methods on the ApplyConfiguration types so that the code generation doesn't cause `type has no field or method DeepCopyInto` compiler errors, right?

Looking at @zoetrope 's example, they

[2021-11-11 23:59] Jefftree commented on #570
I haven't had the time to polish up the PR but we modify the client Patch method to be able to take in an object without the DeepCopy methods. https://github.com/kubernetes-sigs/controller-runtime/pull/1365

That way everything should be independent of the kubernetes object interface and we can use applyconfigurations in the Patch directly.

[2021-11-12 00:06] armsnyder commented on #570
Thanks but to clarify, I mean that when you use a *ApplyConfiguraion type in your CRD, to represent some sort of template, then `controller-gen object` (or `make generate` in a kubebuilder project) generates non compiling code because of these missing methods.

[2021-11-12 00:19] Jefftree commented on #570
The goal is to turn the CRD into an ApplyConfiguration object itself,, and have controller-runtime operate on that ApplyConfiguration instead of the kubernetes CRD type. The ApplyConfiguration will have all fields present in the CRD, and have the option to embed additional ApplyConfigurations (eg for built in types) as fields if needed.

[2021-11-12 00:52] armsnyder commented on #570
Got it. So that would require changing the controller-runtime `client.Get` as well then, to accept the *ApplyConfiguraion type, for the start of your Reconcile function. And you would use the non-AC API type in your CRD for the template field.

[2021-11-14 20:02] addreas commented on #585
Unless I'm missing something, it seems like the only way get Kubernetes to allow a recursive type in a CRD is to use `x-kubernetes-preserve-unknown-fields: true`. According to [the Kubernetes docs](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#validation) neither `$ref` nor `definitions` are allowed, which I guess means a "proper" solution to this

[2021-11-15 07:05] mythi opened #641 "tag for reinvocationPolicy"
[Admission webhooks' documentation](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#reinvocation-policy) says `reinvocationPolicy` can be set to `Never` or `IfNeeded`.

My webhook needs `IfNeeded` but `controller-gen` resets the `MutatingWebhookConfiguration` YAML to `reinvocationPolicy: Never`.

Can we have a tag to control this?

[2021-11-15 07:12] mythi commented on #547
/remove-lifecycle stale

[2021-11-16 08:49] antonu17 commented on #514
Confirm the issue on my macbook. Managed to mitigate like this:

1. update gopkg.in/yaml.v2 to the latest
2. rebuild controller-gen

Example:

[code]

[2021-11-18 14:50] avorima commented on #435
/reopen
/remove-lifecycle-rotten

[2021-11-18 20:25] avorima commented on #435
/remove-lifecycle-rotten

[2021-11-19 23:31] #578 closed

[2021-11-23 21:22] armsnyder commented on #570
I still believe this would be useful, at least in the medium term, since there are probably implications like the `client.Get` case I mentioned that will make breaking the `runtime.Object` dependency take a while. Do you have a better sense of this @Jefftree?

I am currently working on a CRD that embeds a deployment spec, and using `runtime.RawExtension` in order to have access to the raw JSON pay

[2021-11-26 14:52] tenstad opened #642 "+kubebuilder:validation:Required take precedence over omitempty"
Would it be possible to make the `+kubebuilder:validation:Required` marker take precedence over `omitempty`?

I have a `string` field that I want to be required and accomplish it by NOT having `omitempty`. Trying to create a resource without the field results in a "Required value" error as expected. However, when adding a defaulting webhook (doing nothing), I no longer get the "Required value" err

[2021-12-01 08:39] ycyxuehan opened #643 "install controller-gen failed: sf.IsExported undefined"
[code]

[2021-12-01 14:14] zoetrope commented on #570
I have found a way to solve this problem.
First, prepare a type that wraps the ApplyConfiguration type and implement its deepcopy.

[code]

I can use that wrapped type in my own custom resource type.

[code]

No need to modify controller-tools, this will work fine.

[2021-12-02 13:29] zoetrope commented on #570
`type PodTemplateApplyConfiguration corev1apply.PodTemplateApplyConfiguration` is sufficient.

I updated my sample code.
https://github.com/zoetrope/reconcile-tips/blob/typed-ssa/api/v1/myapp_types.go

[2021-12-07 05:25] adammw opened #644 "Webhook kubebuilder directives are ignored without a newline between them and the following code"
Tested with kubebuilder 3.2.0

To reproduce:
[code]

Inspect config/webhook/manifests.yaml and see that your webhook configuration is listed.

Now edit api/v1beta1/frigate_webhook.go to remove the newline between the `//+kubebuilder:webhook` directive and the proceeding `var _ webhook.Defaulter = &Frigate{}` line, and regenerate with `make manifests`.

Notice that the config has disappeared.

[2021-12-07 11:34] moluzhui opened #645 "Not found errors still occur in finalizers"
I use [finalizers](https://book.kubebuilder.io/reference/using-finalizers.html) to delete  dependence, but it will  occurs error of  "unable to fetch CRD"

Although this will not be a problem because it is only connected to the current Reconciile, I still don't want any errors. How can I solve this problem

I really appreciate any help with this

[2021-12-08 15:08] shaneutt commented on #402
It seems like this is still an issue, how do we feel about re-opening this?

[2021-12-09 07:33] #645 closed

[2021-12-09 18:36] ob opened #647 "Go escape in output directory causes controller-get to fail"
If `controller-gen` is ran with an output directory path that contains something that looks like a Go number literal, `controller-gen` fails to run. For example, Bazel generates paths like: `bazel-out/darwin-fastbuild-ST-0b8495fcfc0c/bin/rdev-operator/api/v1alpha1` and when `controller-gen` is called with it, you get:

[code]

That `Invalid digit '8' in binary literal` is due to the path, where th

[2021-12-14 19:55] cbandy opened #649 "Imported descriptions do not match upstream"
`controller-gen crd` puts `TODO` in imported descriptions which don't appear in Kubernetes descriptions.

For example, [corev1.LocalObjectReference](https://github.com/kubernetes/kubernetes/blob/v1.23.0/staging/src/k8s.io/api/core/v1/types.go#L5606-L5612) has a `TODO` on its one Name field. This type is embedded in [corev1.ConfigMapEnvSource](https://github.com/kubernetes/kubernetes/blob/v1.23.0/s

[2021-12-14 21:03] #585 closed

[2021-12-14 22:14] benpbrown commented on #594
/remove-lifecycle stale

[2021-12-14 22:15] Porges commented on #571
/remove-lifecycle stale

[2021-12-15 22:20] morgante commented on #456
/remove-lifecycle rotten

[2021-12-17 04:30] Thor-wl commented on #643
+1

[2021-12-18 14:47] HeGaoYuan commented on #643
+1

[2021-12-19 00:04] Porges commented on #535
/close

[2021-12-19 00:04] #535 closed

[2021-12-19 19:55] #587 closed

[2021-12-19 21:10] Dimss commented on #643
+1

[2021-12-20 05:55] sonujose commented on #643
Same issue
golang - 1.16.9

[2021-12-20 08:16] Thor-wl commented on #643
I've solved this problem by upgating golang to v1.17

[2021-12-20 08:17] HeGaoYuan commented on #643
Can it be solved by not upgating golang to v1.17

[2021-12-20 08:38] Thor-wl commented on #643
Unfortunately, I tried some ways but all failed.

[2021-12-20 09:21] s3rj1k commented on #461
/remove-lifecycle stale

[2021-12-22 20:18] arkadijs commented on #442
/remove-lifecycle stale

[2021-12-26 08:11] #589 closed

[2021-12-27 10:27] YairHalberstadt opened #650 "crd:allowDangerousTypes=true doesn't work"
I've created a kubernetes crd with a float field. When I run `make manifests` I get the following error:

[code]

I then change the makefile to set `crd:allowDangerousTypes=true` but I get the same error:

[code]

[2022-01-01 18:03] #567 closed

[2022-01-03 10:51] dineshputchala commented on #643
@Thor-wl Updating to

Updating to latest golang is solving this issue ?

[2022-01-04 01:10] Thor-wl commented on #643
Yes

[2022-01-04 01:10] Thor-wl commented on #643
Yes

[2022-01-06 12:49] damnever opened #652 "Feature Request: support array type for printcolumn"
It only show the first item of the array. Maybe we should support array type with custom separator, the default separator could be comma, e.g. "a,b,c".

[2022-01-06 12:57] yuswift commented on #643
cc

[2022-01-10 11:37] #556 closed

[2022-01-11 22:40] ViviLearns2Code commented on #572
@yash97 could you share what caused an empty yaml to be created/how you fixed the go definition?

[2022-01-15 13:30] #581 closed

[2022-01-15 13:30] #582 closed

[2022-01-16 18:42] blinkeye commented on #650
You need to replace `controller-gen ... crd` with `controller-gen ... crd:allowDangerousTypes=true` - you have both, as in:
[code]

[2022-01-17 06:42] #596 closed

[2022-01-20 14:19] #592 closed

[2022-01-21 18:13] kralicky commented on #613
/remove-lifecycle rotten

[2022-01-21 20:53] ngood97-splunk commented on #643
I believe this is related: https://github.com/kubernetes-sigs/json/issues/8

[2022-01-24 08:03] Thor-wl commented on #643
+1

[2022-01-24 13:18] zx8 commented on #586
/remove-lifecycle stale

[2022-01-24 22:46] lmcdasm commented on #643
Same issue here, trying to bump golang version, but it causes massive refactor to lots of other components.

Any alternative options?

[2022-01-25 05:16] #604 closed

[2022-01-27 19:57] #605 closed

[2022-01-28 19:12] yhrn commented on #543
/remove-lifecycle stale

[2022-01-29 14:14] #609 closed

[2022-02-03 09:50] mrjerzy opened #654 "controller-gen panics when providing schema with nested structs + struct tags"
This issue seems to be similar to Issue #442, but i am not sure if the root cause is the same.

When writing a Schema, containing a nested struct, the `controller-gen` tool panics.

[code]

will lead to
[code]

Specifically, when adding the `json:"test_struct"` tag, the panic is triggered. Leaving it out, leads to a proper error: `encountered struct field "TestStruct" without JSON tag in type "MyS

[2022-02-07 21:29] armsnyder commented on #637
/remove-lifecycle stale

[2022-02-07 23:15] armsnyder commented on #636
/remove-lifecycle stale

[2022-02-10 17:03] sbueringer commented on #612
/reopen

Given there is a PR which seems to be semi-stale.

If it takes too long, I can take it over if necessary.

[2022-02-12 03:17] ls-2018 commented on #643
+1

[2022-02-13 11:56] mythi commented on #641
/remove-lifecycle stale

[2022-02-13 11:57] mythi commented on #547
/remove-lifecycle stale

[2022-02-18 07:07] titaneric commented on #643
same here with Go version 1.16.5,

[2022-02-18 15:21] alculquicondor opened #656 "Add support for adding annotations to CRD"
For kubernetes projects, if we want to use the `sig.k8s.io` group for CRDs, we need to provide the annotation `api-approved.kubernetes.io`. Otherwise, apiserver rejects the CRD.

As a result, we have to manually edit the CRDs produced by `controller-gen` and continuously edit the files every time there is a type update.

Using kustomize is not possible, because the env-test doesn't load them and i

[2022-02-23 00:40] astoycos commented on #622
/reopen

[2022-02-23 00:40] astoycos commented on #622
/bug

[2022-02-26 16:54] #625 closed

[2022-02-26 17:54] #624 closed

[2022-03-02 16:24] Onlinehead commented on #654
I have the same problem with nested structures.
Version:
[code]

[2022-03-03 01:47] matthchr commented on #551
/reopen

[2022-03-05 10:03] bestgopher opened #657 "kubebuilder create api failed"
<img width="1157" alt="image" src="https://user-images.githubusercontent.com/36840497/156878525-732f0caf-b54a-4d6a-92dc-30547befa304.png">

`Version: main.version{KubeBuilderVersion:"3.3.0", KubernetesVendor:"1.23.1", GitCommit:"47859bf2ebf96a64db69a2f7074ffdec7f15c1ec", BuildDate:"2022-01-18T17:03:29Z", GoOs:"darwin", GoArch:"amd64"}
`

[2022-03-05 10:45] #657 closed

[2022-03-07 14:27] muvaf opened #658 "Unable to make multiple webhook-enabled controller deployments"
In Crossplane, we have a single webhook server for core Crossplane controllers and an arbitrary number of webhooks deployed by the provider controllers. All of those are usual controller-runtime controllers and webhooks.

However, the generated `ValidatingWebhookConfiguration` and `MutatingWebhookConfiguration` files have [static hard-coded names](https://github.com/kubernetes-sigs/controller-tool

[2022-03-10 01:10] ob commented on #647
/remove-lifecycle stale

[2022-03-12 06:56] moluzhui commented on #643
The same problem is in go1.16, which lower version can solve this problem? Thanks

[2022-03-12 10:32] #629 closed

[2022-03-14 15:42] helayoty commented on #656
This feature is really needed. Any way to help implementing it?

[2022-03-14 23:57] benpbrown commented on #594
/remove-lifecycle stale

[2022-03-15 01:38] negz commented on #658
@muvaf Does this mean that it's actually not possible to install two controller managers that a) are built with kubebuiler/controller-tools, and b) use webhooks? That does seem like a problem.

[2022-03-16 05:56] dineshputchala commented on #643
Not observed this issue in v1.17.8

[2022-03-16 12:49] davidlanouette commented on #643
`reflect.StructField` was added in go 1.17.  If you are using it and compiling with an earlier version of go, you will have a bad time.

[2022-03-18 09:07] ka-keung opened #659 "kubebuilder Failed to create CronJob V2 conversion webhook: webhook resource already exists"
# Version
kubebuilder: 3.3.0
go: 1.18  or 1.16 (both i had try)
k8s: v1.21.9

# Question
i had followed the book [kubebuilder](https://kubebuilder.io/) step by step deploy the v1 cronjob crd and webhook. it was successful.
but the follow chapter  [Multi-Version API](https://kubebuilder.io/multiversion-tutorial/tutorial.html#tutorial-multi-version-api) . the problem was exist. that was my step

ste

[2022-03-20 06:16] camilamacedo86 commented on #659
You cannot scaffold twice, see the error `Error: failed to create webhook: unable to inject the resource to "base.go.kubebuilder.io/v3": **webhook resource already exists**`
However, it might be a bug: (I cannot find the `--conversion` one)

[code]

I am closing this one since this repo is for the issues faced with controller-gen/controller-tools.
Could you please open this issue against the KB pr

[2022-03-20 06:16] #659 closed

[2022-03-20 11:26] erikgb commented on #461
I still think this is a feature that can be useful for quite a few users in the community!
/remove-lifecycle stale

[2022-03-21 12:58] #621 closed

[2022-03-28 16:12] muvaf commented on #658
@negz That's what I can tell. There might be some point during the deployment of the controller where the names of these resources are patched but I couldn't find it. [This](https://github.com/kubernetes-sigs/kubebuilder/tree/master/docs/book/src/cronjob-tutorial/testdata/project/config/webhook) is an example project referenced from the kubebuilder book.

[2022-03-29 10:55] arkadijs commented on #442
/remove-lifecycle stale

[2022-03-29 18:47] dgloe-hpe commented on #643
The install guide says that go 1.16 is required, is that not the case any more?
https://sdk.operatorframework.io/docs/building-operators/golang/installation/

[2022-03-30 17:08] camilamacedo86 commented on #643
HI @dgloe-hpe,

The SDK will use go get to check this one, see https://github.com/operator-framework/operator-sdk/blob/master/testdata/go/v3/memcached-operator/Makefile#L150-L153 and inform the version.

So each SDK bin/release is compatible with which does.

The doc shared here is outdated because that should match with the latest release and the latest one uses go 1.17, see: https://github.com/o

[2022-03-30 17:10] camilamacedo86 commented on #643
Regards this issue, controller-tools is using go 1.17 and have it solved. See its latest release 0.8.0: https://github.com/kubernetes-sigs/controller-tools/blob/v0.8.0/go.mod#L3

So, I am closing this one. however, if anyone need help in the future regards this one then please feel free to raise a new issue.

[2022-03-30 17:10] #643 closed

[2022-03-31 04:14] zhaowei413 commented on #643
the same issue with you on go 1.16. Fixed after upgrade to go1.18.....

[2022-04-01 18:33] pintohutch commented on #456
/remove-lifecycle stale

[2022-04-01 19:39] manjinder-mckc commented on #636
What is the workaround for now ?

[2022-04-01 20:45] jmrodri commented on #551
This issue is also referenced by a bugzilla https://bugzilla.redhat.com/show_bug.cgi?id=2061611

[2022-04-03 12:18] #634 closed

[2022-04-05 00:25] camilamacedo86 commented on #636
/remove-lifecycle stale

[2022-04-06 10:40] seba-ban commented on #637
Adding `// +kubebuilder:validation:Schemaless` worked for me:

[code]

[2022-04-07 02:25] damnever commented on #652
ping

[2022-04-07 02:26] damnever commented on #652
/remove-lifecycle stale

[2022-04-08 11:02] sttts commented on #342
This is still painful.

[2022-04-13 20:44] cbandy commented on #649
/remove-lifecycle rotten

[2022-04-15 10:43] #514 closed

[2022-04-16 12:53] #631 closed

[2022-04-19 20:17] ahmetb opened #661 "Unclear on k8s.io/code-generator utils vs controller-gen tool"
I am a newcomer to the ecosystem and I cannot tell when to use

https://github.com/kubernetes/code-generator/blob/master/generate-groups.sh,
https://github.com/kubernetes/code-generator/blob/master/hack/update-codegen.sh or
https://github.com/kubernetes-sigs/controller-tools/tree/master/cmd/controller-gen

For example `controller-gen` can do deepcopy generation, and so can https://github.com/kuber

[2022-04-19 22:38] njhill commented on #391
It looks like this may now be addressed in knative: https://github.com/knative/pkg/pull/2431

[2022-04-22 22:32] akutz commented on #516
I am currently bit by this as well. Has anyone encountered a solution in the wild?

[2022-04-23 18:46] akutz commented on #516
I filed a PR to fix this issue -- https://github.com/kubernetes-sigs/controller-tools/issues/516.

[2022-04-24 15:15] zx8 commented on #586
/remove-lifecycle stale

[2022-04-24 16:32] AlmogBaku commented on #613
/remove-lifecycle stale

[2022-04-24 16:57] #633 closed

[2022-04-25 17:04] #642 closed

[2022-04-26 02:25] AlmogBaku opened #664 ":bug: RBAC markers are not being detected from internal packages"
Apparently, internal packages (that are located under an `internal` directory) are not being processed.

[2022-04-26 11:59] AlmogBaku commented on #664
My bad, apparently all of the markers in my internal packages were above some methods, which made them being detected as "method markers" instead of "package markers".

It works.

[2022-04-26 11:59] #664 closed

[2022-04-26 19:50] hoyhbx opened #665 "[BUG] Automatically generated regex validation for `Quantity` does not match the validation used by unmarshalerDecoder"
rabbitmq's cluster-operator(https://github.com/rabbitmq/cluster-operator) and a lot of other operators use controller-gen to automatically generate their CRDs.
For the `Quantity` field, controller-gen automatically generates the following JSON schema:
[code]
However, the automatically generated `pattern` does not match the validation pattern used by the unmarshalerDecoder, causing cases where the

[2022-04-28 09:29] saschagrunert commented on #613
Yep, so I have the same issue when upgrading grpc in https://github.com/kubernetes-sigs/security-profiles-operator/pull/905. I found out that this commit breaks controller-gen: https://github.com/golang/sys/commit/e5e7981a10699f0af2ffea4c0e0f542e447b2e4a

[2022-04-28 12:29] #613 closed

[2022-04-28 22:17] Porges commented on #543
/remove-lifecycle stale

[2022-04-28 23:15] Porges commented on #612
With the PR this simplifies down into:

[code]

[2022-04-29 20:00] alvaroaleman commented on #516
/assign akutz

[2022-04-30 14:38] alvaroaleman commented on #665
Yeah, should match what upstreams uses. Feel free to open a PR where you update it and reference the upstream source.

[2022-04-30 16:31] therealak12 commented on #622
/reopen

[2022-05-01 16:02] astoycos commented on #622
/reopen

[2022-05-02 01:25] #543 closed

[2022-05-02 15:21] matthchr commented on #551
/reopen

[2022-05-02 23:08] Porges commented on #665
Unfortunately, upstream does not use a regexp for validation so it can’t be simply included: https://github.com/kubernetes/apimachinery/blob/3b8fb46ed6f145544bd363fab539decff47c3753/pkg/api/resource/quantity.go#L147

[2022-05-03 15:44] brycahta opened #667 "Proposing `v0.9.1` Release"
Opening this issue per the [Release Process](https://github.com/kubernetes-sigs/controller-tools/blob/master/RELEASE.md) to cut a new release of `controller-tools`. The latest release was cut _Jan-5_, the change log since then is as follows:

https://github.com/kubernetes-sigs/controller-tools/compare/v0.8.0...master

![image](https://user-images.githubusercontent.com/61433408/166487461-5d321c71-7

[2022-05-03 16:41] akutz commented on #516
This has been fixed with #663.

[2022-05-03 17:41] hoyhbx commented on #665
The validation does not come from the kubernetes' parsing, but from a component called unmarshalerDecoder. I am still trying to find where exactly this component is implemented, but there is definitely some validation being used according to the error message from client-go.

[2022-05-03 17:52] alvaroaleman commented on #665
Unmarshaler decoder is here: https://github.com/kubernetes/kubernetes/blob/f02682c628c530219966a00ae002d799f0d813dc/vendor/github.com/json-iterator/go/reflect_marshaler.go#L201

Regex is here but it is documented as being overly permissive: https://github.com/kubernetes/kubernetes/blob/f02682c628c530219966a00ae002d799f0d813dc/staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go#L136

If it

[2022-05-03 18:24] hoyhbx commented on #665
Thanks for the pointers, sorry I didn't see the error message that the parseQuantityString was returning.
I think we should use a regex that conform to the validation used by the upstream, and the current one used by controller-gen does not because it's over permissive. The question is if the one in the upstream is good enough or there is a better regex that can express the validation better.

[2022-05-03 21:03] Porges commented on #665
I'd also note that [the documentation of what is permitted](https://github.com/kubernetes/kubernetes/blob/f02682c628c530219966a00ae002d799f0d813dc/staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go#L31-L66) is incorrect with regards to what `parseQuantityString` actually allows.

[2022-05-03 21:08] Porges commented on #665
Here's a first-pass take on a regex that matches upstream:

[code]

[2022-05-04 01:02] Pixcell opened #668 "Generating CRD in go code"
Hello :)

Thank you for the amazing work you guys are doing!

I have been using `make manifests` to generate my CRDs, and everything works perfectly fine.

However, I now need to generate the `CustomResourceDefinition` object directly in golang code, based on the struct I have defined and annotated in my `_types.go` file. Because I manages my cluster from go code using the k8s APIs and not using y

[2022-05-04 02:19] Pixcell commented on #668
Current workaround:
[code]

Which will generate a valid schema that does not do any validation. Which is not good enough for production environments

[2022-05-04 10:32] BarthV opened #670 "Install prerequisites are incomplete"
![image](https://user-images.githubusercontent.com/1901955/166665292-9473b33f-3d5c-416a-b6a9-cf5ce2fabbff.png)

You also need to add controller-gen in this list.
+ the current install fails when using controller-gen >= 0.7.0

It only works with 0.6.2 ATM

[2022-05-04 20:47] hoyhbx commented on #665
Yeah I agree. And the `parseQuantityString` does not conform to the `decimalExponent` production rule. The production rule permits `signed number`, but `parseQuantityString` seems to only permit signed integer: https://github.com/kubernetes/kubernetes/blob/f02682c628c530219966a00ae002d799f0d813dc/staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go#L252, which makes `.07893E985.90504` to f

[2022-05-05 21:33] Porges commented on #665
[Link to upstream issue for linkiness](https://github.com/kubernetes/kubernetes/issues/109839).

[2022-05-05 21:43] Porges commented on #670
Hi @BarthV, it seems like this is an issue with [the k6 documentation](https://k6.io/blog/running-distributed-tests-on-k8s/)?

[2022-05-05 21:54] Porges commented on #668
The struct that is in the `_types.go` file can be used to communicate with the cluster from Go code without using YAML files.

For example, if you have a [`Client`](https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/client#Client) (from `controller-runtime`)  you can invoke [`client.Create(ctx, myStruct)`](https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/client#Writer) to create a resource

[2022-05-05 22:06] Porges commented on #661
Note that the usual entrypoint is to use the overarching [Kubebuilder project](https://book.kubebuilder.io/) which uses `controller-gen` “under the hood”, and when doing this you do not need to call `controller-gen` directly as the provided `Makefile` takes care of this for you.

However, if you want to use `controller-gen` by itself then yes, it can be used as a one-stop shop, without any other o

[2022-05-05 22:07] Porges commented on #650
@blinkeye this has tripped me up so many times that `controller-gen` should probably warn when it happens.

[2022-05-05 22:08] Porges opened #671 "Feature: warn when a particular generator is specified multiple times on the command line"
It is quite easy to do this accidentally, and then it is non-obvious why the changes you are making do not work. See, e.g. https://github.com/kubernetes-sigs/controller-tools/issues/650

[2022-05-05 22:08] Porges commented on #650
/close

[2022-05-05 22:09] #650 closed

[2022-05-05 22:30] Pixcell commented on #668
Hi @Porges,

Thanks for the response, but I fear I might not have explained my problem properly.
My problem is not interacting with the CRs in the cluster, but how to, using go code create the CRDs in the cluster.

When I tried to create a CRDs using go code, it complains about OpenAPIV3Schema being required. And to be honest, I don't want to write this struct manually (because I am lazy, and beca

[2022-05-06 06:21] #644 closed

[2022-05-06 12:11] invidian opened #672 "+optional has no effect on inlined fields"
If you follow https://book.kubebuilder.io/quick-start.html, then patch `api/v1/cronjob_types.go` with the following changes:
[code]

You can see the difference in generated types as follows:
[code]

As you can see above, `+optional` got completely ignored in this case, resulting the same CRD struct for both fields, where the source type is different. I'd expect either those fields all be marked as

[2022-05-10 20:45] Porges commented on #667
@brycahta I am not in the `OWNERS` file… pinging @alvaroaleman & @joelanford

[2022-05-11 18:47] ahmetb opened #675 "controller-gen: Deterministic ordering for CRD output manifests (output:stdout)"
Every time I run `controller-gen` to generate YAML manifest for my CRDs, I get a different output.

Often, the `CustomResourceDefinition` objects that it spits out and separates with `---` in yaml doc are in different orders. For example if I have CRDs named Type1, Type2, Type3, the order in which they appear in YAML keeps shuffling.

This makes it hard/impossible to write validation/tests that en

[2022-05-11 19:00] ahmetb commented on #675
Looking at `OutputToStdout` writer I can't really tell what causes this non-determinism. https://sourcegraph.com/github.com/kubernetes-sigs/controller-tools@a260f1391b0f722e07ae04fe87e23e32bc1a1ec7/-/blob/pkg/genall/output.go?L85 So I think the order in which the parsing/collecting is done might not be deterministic.

[2022-05-11 22:47] Porges commented on #675
It will be due to the use of `map` somewhere. Order is randomized upon every run.

[2022-05-11 23:03] ahmetb commented on #675
Yep, it seems to be here https://sourcegraph.com/github.com/kubernetes-sigs/controller-tools@a260f1391b0f722e07ae04fe87e23e32bc1a1ec7/-/blob/pkg/crd/gen.go?L118-122

[2022-05-12 14:22] jan--f opened #676 "[struct,list,map]Type markers on types are ignored"
Let me preface this by admitting that I'm not exactly sure if this is a bug or expected behavior. I might also just not use the tooling correctly to get the outcome I want.

Server-side-apply makes use of markers (like `structType=atomic`) to merge resources and partial updates to them. controller-tools already [respects those markers on fields](https://github.com/kubernetes-sigs/controller-tools/

[2022-05-13 17:51] zhixunjie opened #677 "Error: x509: certificate signed by unknown authority while apply the sample yaml"
➜  demo-operator git:(master) ✗ k apply -f config/samples/apps_v1beta1_mydaemonset.yaml
Error from server (InternalError): error when creating "config/samples/apps_v1beta1_mydaemonset.yaml": Internal error occurred: failed calling webhook "mmydaemonset.kb.io": failed to call webhook: Post "https://demo-operator-webhook-service.demo-operator-system.svc:443/mutate-apps-cncamp-io-v1beta1-mydaemonset?

[2022-05-13 17:53] #677 closed

[2022-05-13 17:56] zhixunjie opened #678 "Error: x509: certificate signed by unknown authority while apply the sample yaml"
➜ demo-operator git:(master) ✗ k apply -f config/samples/apps_v1beta1_mydaemonset.yaml
Error from server (InternalError): error when creating "config/samples/apps_v1beta1_mydaemonset.yaml": Internal error occurred: failed calling webhook "mmydaemonset.kb.io": failed to call webhook: Post "[https://demo-operator-webhook-service.demo-operator-system.svc:443/mutate-apps-cncamp-io-v1beta1-mydaemonset?

[2022-05-14 00:13] #571 closed

[2022-05-17 14:12] rahulanand16nov commented on #667
Yes, waiting for the changes to be present in the new release :pray:

[2022-05-17 22:58] Porges commented on #672
I believe this should be due to the package-level defaulting to optional or required (i.e. I think they are optional by default), but I can’t actually get that to take effect. There might be another bug around that here…

[2022-05-18 13:31] joelanford commented on #667
Hey folks -- this is on the todo list. This week is KubeCon EU, so the maintainers here are pretty busy. I'd expect that we'll be able to circle back and cut a new release by the end of May.

[2022-05-19 22:08] varks commented on #461
looking forward to this support. Any updates?

[2022-05-20 01:06] cbandy commented on #461
Probably keep an eye on this KEP:
- https://github.com/kubernetes/enhancements/issues/2876

[2022-05-25 08:14] sbueringer opened #680 "controller-tools v0.9.0 does not generate CRDs for additional paths"
The new controller-gen version only generates CRDs for the first specified path.

An example:

* Checkout https://github.com/kubernetes-sigs/cluster-api
* Run controller-gen:
[code]
Only CRDs from the `./api/` folder are generated/updated none of `./exp/api/...` (i.e. the MachinePool CRD).

I took a closer look at the code and it looks like the metav1Pkg does not match when checking if MachinePool

[2022-05-25 08:20] sbueringer commented on #680
I think the issue was introduced via https://github.com/kubernetes-sigs/controller-tools/pull/663.

I reverted #663 locally (on top of the v0.9.0 release) and both issues were resolved.

@akutz can you please take a look when you've got some time? Thank you!

[2022-05-25 13:32] alvaroaleman commented on #667
We need some kind of fix for https://github.com/kubernetes-sigs/controller-tools/issues/680 before we do a release

[2022-05-25 21:25] joelanford commented on #667
v0.9.0 was released last week. I'll rename this to cover the 0.9.1 release we'll need.

[2022-05-26 16:28] jdef opened #684 "paths= resolver does not ignore underscore-prefixed dirs"
I upgraded from controller-gen 0.6.2 to 0.9.0 and now I see breakage because a project directory `_foo/` is now seemingly processed by `paths=./...` in the newer v0.9.0 version, whereas it was not processed by the v0.6.2 version (or, at least, i didn't get crazy breakage because of the files that live therein).

this behavior is surprising because none of the other Go tools themselves seem to proc

[2022-05-30 08:55] cndoit18 commented on #342
👀

[2022-06-01 15:59] matthchr commented on #551
/remove-lifecycle rotten

[2022-06-01 16:16] eddycharly opened #688 "Setting PreserverUnknownFields marker on both type and field generates an invalid schema"
When setting the `kubebuilder:pruning:PreserveUnknownFields` on a struct and a field using that struct, the generated schema is not valid.

For example:
[code]

Will generate the following schema:
[code]

The problematic part being:
[code]

From what I observed, this happens when flattening the schema.
I managed to fix the bug by adding a case for `XPreserveUnknownFields` here to prevent hoisting:

[2022-06-02 05:23] sbueringer commented on #688
Looks definitely weird, but I don't know what the expected behavior of controller-gen is if markers are set twice.

In ClusterAPI we use `+kubebuilder:pruning:PreserveUnknownFields` only on the field which is why we didn't had this issue.

It seems logical to deduplicate when the field and struct markers are identical. I assume in general the behavior is to just use both the markers from the struc

[2022-06-02 07:44] eddycharly commented on #688
I'm not very familiar with the code but it looks weird to me too.

From what I understand, every struct is first processed separately, then root types are flattened to produce the CRD schema by walking the struct definitions.
The flattening process has some logic to merge markers coming from the source schema definition into the target schema (this is the code I linked above). In this logic there'

[2022-06-02 08:14] sbueringer commented on #688
Let's see what @alvaroaleman and/or @akutz think. I'm just more like an occasional contributor and user :).

[2022-06-02 12:19] eddycharly commented on #688
Until then I created a WIP PR with the changes I did locally https://github.com/kubernetes-sigs/controller-tools/pull/689 (hopefully it will help the discussion around the issue and the eventual fix)

[2022-06-02 16:26] brycahta commented on #667
@joelanford , assuming this was referring to `v0.9.0` is there an ETA for `v0.9.1` release? Looks like https://github.com/kubernetes-sigs/controller-tools/issues/680 was fixed.

[2022-06-08 17:46] josvazg opened #690 "SIGBUS: bus error"
I can't even run `./test.sh` on a freshly checked out repo:

[code]

OS:
[code]

How can I avoid this issue?

[2022-06-08 17:51] josvazg commented on #690
Issue persists after a reboot, seems it does not depend on the state of the system.

[2022-06-08 17:52] josvazg commented on #690
[code]

[2022-06-08 17:55] josvazg commented on #690
Is there any known incompatibility with Go 1.18?

[2022-06-08 18:00] josvazg commented on #690
Seems `1.18.2` does not sigbus, bue fails to compile with errors, so I guess this project is not 1.18 ready and 1.18.3 has some bug. I might need to report that one upstream in the go project.

I will need to ensure to use go1.17 for now when using this project.

[2022-06-13 07:12] #675 closed

[2022-06-13 07:16] FillZpp commented on #656
/remove-lifecycle stale

[2022-06-13 07:20] #688 closed

[2022-06-14 03:19] FillZpp commented on #641
/remove-lifecycle rotten

[2022-06-14 03:40] FillZpp commented on #641
@mythi  Of course, it should be a new field in https://github.com/kubernetes-sigs/controller-tools/blob/master/pkg/webhook/parser.go#L60 . Do you have time doing this? Or I can help you on this.

[2022-06-14 04:05] FillZpp commented on #547
/remove-lifecycle rotten

[2022-06-14 11:13] mythi commented on #641
I need to prioritize other topics right now but I could indeed contribute to this.

[2022-06-14 16:16] chrischdi commented on #435
/repoen

The issue is still reproducible on the latest commit (`529c857f74b225412836567200cd0ae003fbb3b3`).

In my case I just want to add the two markers `+listType=map` and `+listMapKey=id` to allow the slice to get used together with Server-Side Apply.

In fact, when using a custom slice type it is not even possible to add the two markers.

The following variant simply get ignored by `controlle

[2022-06-14 16:18] chrischdi commented on #435
/remove-lifecycle rotten

[2022-06-14 16:18] chrischdi commented on #435
/reopen

[2022-06-14 20:33] hoyhbx commented on #665
Hi @Porges , I realized the regex above has a little typo.
The regex for number should be
[code]
instead of
[code]

Otherwise, `992m` would fail the validation

[2022-06-27 20:04] #435 closed

[2022-06-28 13:50] dprotaso opened #696 "Running controller-tools over k8s.io/api/core/v1.PodSpec fails"
Here the marker `mapType` is on a  `map[string]string`
https://github.com/kubernetes/api/blob/b98f264fe39f5b5393bf918d8c16f86527965f1c/core/v1/types.go#L3129-L3132

Running controller-tools over this field results in a warning/error

[code]

[2022-06-28 13:57] dprotaso commented on #696
Full error

[code]

Process exits with exit code 1

[2022-06-28 14:23] dprotaso commented on #696
Here are the fields with the markers

`must apply mapType to an object`
[code]

`must apply listType to an array, found`
`must apply listMapKey to an array, found`
`must apply listMapKey to an array, found`
[code]

[2022-06-28 14:33] dprotaso commented on #696
Note - this is the schema patcher

[2022-06-28 14:39] dprotaso commented on #696
false - alarm - it's my changes

[2022-06-28 14:39] #696 closed, assigned to nobody

[2022-07-01 02:41] knight42 commented on #456
This issue should be resolved by #630.
/close

[2022-07-01 02:41] #456 closed

[2022-07-04 07:59] jan--f commented on #676
Thanks! I'll try to confirm this and then close this here accordingly.

[2022-07-04 23:24] hugoShaka opened #702 "Flattening a schema drops the validation marker type overrides."
I'm using the tools from the `crd` package to generate an OpenAPI Schema and noticed the following behaviour:

* The Type of a field `X` is set through the validation marker `+kubebuilder:validation:Type=string` (for example, forcing a `metav1.Time` to be a string instead of an object)
* The `Parser` correctly discovers the type override and `parser.Schemata[myTypeIdent]` says the field `X` is a s

[2022-07-06 06:31] damnever commented on #652
🔢
/remove-lifecycle stale

[2022-07-06 07:12] FillZpp commented on #652
Unfortunately, the [OpenAPI data-types](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/2.0.md#data-types) which is used by CRD to define its additionalPrinterColumns does not support array type.

[2022-07-06 13:09] jan--f commented on #676
@robbie-demuth this has indeed been resolved.
I only have one minor follow up fix, proposed in #704.

[2022-07-06 13:09] #676 closed

[2022-07-06 20:38] dprotaso opened #705 "Allow overriding schemas"
Hey folks, the Knative project has been looking to generate schema for our API types and have been looking at `controller-gen`.

What's unique about us is that we embed the [`corev1.PodSpec`](https://github.com/kubernetes/api/blob/7e99a1ef2ccdd2589e9a41f5083a95c375ada0a2/core/v1/types.go#L3050). Since the aim of our project is to reduce complexity for our developers there are some semantics/valida

[2022-07-07 08:42] FillZpp commented on #652
@damnever That's different. The columns of those built-in resources are defined in kubectl logic, which can easily print any data they want. But CRD, on the other hand, can only define columns in `additionalPrinterColumns` with OpenAPI data-types.

[2022-07-07 15:20] vincepri commented on #705
While the ask above makes sense from a technical point of view, I'm not 100% sure if this functionality should live inside of controller-tools, reason being is that it seems it stretches out a bit the scope of the project.

Have you all considered embedding your own version of PodSpec instead of importing the `corev1`?

cc @alvaroaleman @joelanford

[2022-07-07 17:14] dprotaso commented on #705
This would break our downstream clients - we've had this since ~2018-2019. Secondly, we have feature flags that enable different sections of the PodSpec for advance users who have full control of the cluster.

[2022-07-07 18:23] dprotaso commented on #705
I mentioned earlier:

For example - let's say `controller-gen` adds special support for turning markers into [CEL expressions](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#validation-rules) - it would be great to manipulate the markers on the types vs. the generated cel expressions.

[2022-07-07 18:35] dprotaso commented on #705
Even within the PodSpec there is re-use of go types but with different validation requirements

ie. Init containers may not have Lifecycle actions, Readiness probes, Liveness probes, or Startup probes

[2022-07-07 18:38] negz commented on #658
/remove-lifecycle stale

[2022-07-07 20:05] alvaroaleman commented on #705
Sure, I get that. But we barely manage to maintain the existing codebase, so adding new features that then also have to be maintained is something I would prefer not to do for something that is more of a nice use case

[2022-07-07 20:53] dprotaso commented on #705
I can land the feature and maintain if that's the concern

[2022-07-08 03:59] FillZpp commented on #658
@muvaf  Not at all. Take [this sample project in Kubebuilder](https://github.com/kubernetes-sigs/kubebuilder/blob/master/testdata/project-v3-config) as an example:

Although the ValidatingWebhookConfiguration and MutatingWebhookConfiguration YAMLs generated by controller-tools have names `mutating-webhook-configuration` and `validating-webhook-configuration` ([see](https://github.com/kubernetes-si

[2022-07-08 04:10] FillZpp commented on #705
@dprotaso I think you could write a kustomize patch YAML like [these](https://github.com/kubernetes-sigs/kubebuilder/blob/master/testdata/project-v3-config/config/crd/kustomization.yaml#L10), that changes fields you want in the CRD YAML generated by controller-tools when doing `make deploy`, which actually executes `$(KUSTOMIZE) build config/default | kubectl apply -f -`.

So that you don't have t

[2022-07-08 19:48] astoycos commented on #622
/reopen

[2022-07-11 14:22] dprotaso commented on #705
@FillZpp that's still manipulating raw YAML - which isn't something I'd like to do (as I stated above). For example - how would I prune the list of fields to only an allowable set?

I think there's value is being able to manipulate markers on types

[2022-07-11 14:28] alvaroaleman commented on #705
This isn't some isolated thing that can be decoupled from everything else. This project currently lacks maintainers and adding something like this is in my opinion not worth it, because it complicates things to cover a niche use case

[2022-07-11 14:47] dprotaso commented on #705
Alright, thanks for the input everyone

[2022-07-11 14:47] #705 closed, assigned to nobody

[2022-07-13 01:23] benpbrown commented on #594
/close

[2022-07-13 01:23] #594 closed

[2022-07-14 01:58] killwing commented on #636
no error if use Unstructured instead:
[code]
controller-gen version: v0.8.0

[2022-07-21 01:46] sfc-gh-llin commented on #448
Yes, it's fixed now. Use the controller-gen crd option `crd:generateEmbeddedObjectMeta=true` will work

[2022-07-22 19:58] laxmikantbpandhare opened #707 "Bump k8s to Kubernetes v1.25.0-alpha.3"
Bump K8s version to v1.25.0-alpha.3.

I am working on the issue and will raise PR soon.

[2022-07-22 19:58] laxmikantbpandhare commented on #707
/assign

[2022-07-26 10:41] mythi commented on #641
@FillZpp thanks for giving the pointer where to start! I have the PR ready for review.

[2022-07-28 19:47] #707 closed

[2022-07-28 22:15] #641 closed

[2022-07-29 07:02] tyxeron commented on #631
/reopen

[2022-07-29 19:37] laxmikantbpandhare opened #711 "Bump k8s to Kubernetes v1.25"
Bump K8s version to v1.25

I will work on the issue once we have the **k8s v1.25 release.**

[2022-07-29 19:37] laxmikantbpandhare commented on #711
/assign

[2022-08-07 01:30] #647 closed

[2022-08-10 23:26] MaxThom commented on #550
/reopen

[2022-08-10 23:26] MaxThom commented on #550
Im facing the same exact issue.

[2022-08-16 08:08] invidian commented on #672
/remove-lifecycle stale

[2022-08-19 02:58] FillZpp commented on #461
/remove-lifecycle stale

[2022-08-23 23:16] yongxiu opened #714 "openAPIV3Schema generated by controller-gen for map doesn't have allows: true in additionalProperties"
In https://github.com/kubernetes/kubernetes/issues/104137#issuecomment-1215575261, I just learnt that if you want to allow arbitrary key in maps, you need to specify allows: true in additionalProperties for a map.

However for a normal map, controller-gen will not add this `allows: true` in the additionalProperties, causing adding key and value failed the schema validation

kuebuilder example:
[co

[2022-08-24 02:04] sfeng1996 opened #715 "How to convert CRD V1 version to v1beta1"
now，i genrate a crd manifests of the V1 version，How to convert CRD V1 version to v1beta1 ?

[2022-08-24 11:46] nikfot opened #716 "Lint check fails in groupversion_info.go"
### What broke? What's expected?

Some comments in the groupversion_info.go file do not end in "."(dot) causing golangci-lint checks to fail. It is minor but I am letting it here.
[code]
_The same happens for the spec comment of the created api._
### Reproducing this issue

It can be re produced by using the simple commands of `kubebuilder init` and `kubebuilder create api`

### KubeBuilder (CLI)

[2022-08-24 17:44] liggitt commented on #714
the `Allows: true` is not required in the yaml `additionalProperties` openAPIV3Schema, it's required when constructing an in-memory `AdditionalProperties: &apiextensions.JSONSchemaPropsOrBool{...}`

the openAPIV3Schema generated here looks correct

[2022-08-24 17:49] yongxiu commented on #714
But if I use the generated openAPIV3Schema to validate above YAML file, it will give errors:
[code]

---
The function I used is
[code]

nodePoolSchemaValidator is loaded using
[code]

[2022-08-24 17:52] yongxiu commented on #714
Btw, if I manually add `allows: true` in the openAPIV3Schema yaml file, it will not give errors any more.

So it's either `controller-gen`'s bug or https://github.com/kubernetes/kubernetes/issues/104137 ?

[2022-08-24 17:54] liggitt commented on #714
how are you constructing the `crd` instance in your example?

[2022-08-24 17:57] yongxiu commented on #714
[code]

`..../base/crd/bases/nodepools.yaml` is generated by controller-gen

[2022-08-24 17:59] liggitt commented on #714
`yaml.Unmarshal` won't work directly like that... that is bypassing the customized JSON unmarshaling implementation in `JSONSchemaPropsOrBool#UnmarshalJSON` that sets `Allow` to `true` internally

You'll need to either convert the yaml to json and unmarshal json into the struct, or use the apimachinery yaml unmarshaler (which does the same thing)

[2022-08-24 18:11] yongxiu commented on #714
You mean like below
[code]

The result is same..

[2022-08-24 18:46] jdef commented on #684
/remove-lifecycle stale

On Wed, Aug 24, 2022, 12:50 PM Kubernetes Triage Robot <
***@***.***> wrote:

[2022-08-24 19:59] liggitt commented on #714
That's still using direct yaml → struct deserialization, which won't work.

You'd need to either convert yaml to json using sigs.k8s.io/yaml#YAMLToJSON and then do `json.Unmarshal(jsonData, &crd)`, or use the apimachinery yaml deserializer (k8s.io/apimachinery/pkg/runtime/serializer/json#NewYAMLSerializer), which just does the same thing under the covers.

[2022-08-24 20:00] liggitt commented on #714
It also looks as though you might be trying to decode serialized yaml data into unversioned types... are you using `k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1#CustomResourceDefinition` or `k8s.io/apiextensions-apiserver/pkg/apis/apiextensions#CustomResourceDefinition`? For decoding yaml or json data to work correctly, you have to use the versioned type in the v1 package.

[2022-08-24 21:23] yongxiu commented on #714
Thanks Jordan, yes, NewYAMLSerializer works!

And I do need to use v1 version of CustomResourceDefinition.

[2022-08-24 21:23] #714 closed

[2022-08-25 11:11] pjbgf opened #718 "Regression from v0.9.0+ errors with `stderr: go: updates to go.mod needed`"
Command `controller-gen schemapatch:manifests="./" paths="./..."` breaks after upgrading to `v0.9.0+`.
Error:
[code]

Note that `go mod tidy` does not fix the problem.
Only downgrading to `v0.8.0` or `v0.7.2` fixes the issue (as per https://github.com/fluxcd/pkg/pull/324).

Full error by running [fluxcd/pkg](https://github.com/fluxcd/pkg)'s `make test-oci`.
[code]

[2022-08-25 13:02] #711 closed

[2022-08-25 16:48] pedroaccamara commented on #273
This might be relevant for some people still
What we want is for `SetupWebhookWithManager` in `main.go` to not be run when ENABLE_WEBHOOKS is false

So I recommend you to wrap all the lines
[code]
inside
[code]
That in combination with running
`$ make run ENABLE_WEBHOOKS=false`
should stop it trying to even setup any webhook. The guide does include this code, though its unlikely most ppl will see

[2022-08-26 12:52] #442 closed

[2022-08-31 06:18] lengrongfu opened #719 "controller-gen version from 0.6.2 upgrade to 0.70"
When upgrade controller-gen version lates, and then generating crd yaml file, find subResource status is nil.

[2022-08-31 07:28] lengrongfu commented on #719
Makefile content
[code]

[2022-08-31 07:44] lengrongfu commented on #719
in the CRD having `// +kubebuilder:subresource:status`

[2022-09-03 13:06] #637 closed

[2022-09-04 01:29] goder-tao commented on #471
Thanks! It works! save my life!

[2022-09-04 13:01] #719 closed

[2022-09-09 20:13] alexstojda commented on #636
/remove-lifecycle rotten

[2022-09-13 02:33] FillZpp commented on #656
/remove-lifecycle stale

[2022-09-13 05:23] tomer-epstein opened #721 "DeepCopy file was not generated"
`version: v0.9.0`
`os: windows`

`command:  controller-gen object:headerFile="hack\\boilerplate.go.txt" paths="./..."`

downgrading to v0.8.0 or v0.7.0 fixes the issue.

**same issue also for generating role and webhook**
`controller-gen rbac:roleName=manager-role crd webhook paths="./..." output:crd:artifacts:config=csigs.k8s.io/controller-tools/cmd/controller-gen@v0.9.0cts:config=config/crd/base

[2022-09-13 18:58] Wazbat commented on #447
Was this feature ever implemented? This would be very useful

[2022-09-15 16:17] brycahta commented on #667
Released: https://github.com/kubernetes-sigs/controller-tools/releases/tag/v0.9.1

[2022-09-15 16:17] #667 closed

[2022-09-19 15:19] hoyhbx commented on #665
/remove-lifecycle stale

[2022-09-21 10:24] camilamacedo86 commented on #726
Transferred the issue for this repo since the change would need to get done in the controller-gen.

[2022-09-23 05:16] panpan0000 commented on #447
same question here

[2022-09-26 00:43] #612 closed

[2022-09-26 19:23] kaovilai opened #728 "Hide `// TODO:` from generated CRD."
Would be awesome to be able to annotate each `_types.go` field if there is a TODO but without having it live in a CRD for end users to see.

[2022-09-27 07:14] adammw opened #729 "Generate groupversion_info.go similar to register.go"
Feature Request:

Generate groupversion_info.go similar to [kubernetes/code-generator](https://github.com/kubernetes/code-generator) [register.go](https://github.com/kubernetes/sample-controller/blob/master/pkg/apis/samplecontroller/v1alpha1/register.go)

A sample groupversion_info.go contains:
[code]

Kubernetes-style API types instead use the variable name `SchemeGroupVersion`, and contain the a

[2022-09-27 20:35] benjaminjb commented on #649
/reopen

[2022-09-27 20:37] cbandy commented on #649
I got you, @benjaminjb!

/reopen

[2022-09-29 15:21] imaskm commented on #448
Hi guys, I tried with "crd:generateEmbeddedObjectMeta=true" and generated manifests and go code again but it still isn't working

`manifests: controller-gen ## Generate WebhookConfiguration, ClusterRole and CustomResourceDefinition objects.
	$(CONTROLLER_GEN) crd:generateEmbeddedObjectMeta=true rbac:roleName=manager-role crd webhook paths="./..." output:crd:artifacts:config=config/crd/bases

gener

[2022-09-29 16:34] imaskm commented on #448
Found the issue, I was using Makefile generated by Kubebuilder, after adding this flag "crd:generateEmbeddedObjectMeta=true" to "manifests" target, somehow the location of generated crd yaml was changed and I kept applying the older ones.

[2022-09-29 20:11] matthchr commented on #551
/remove-lifecycle rotten

[2022-09-30 06:30] terassyi opened #730 "controller-gen: Deterministic ordering for webhook manifests"
When I generate webhook manifests with `controller-gen`, I get different ordered manifests every time.
The order of the objects of the `webhook` array in the generated YAML output is randomized each time.
[code]
I think it would be better if we can get manifests ordered by the webhook name every time because it makes easy to check.

This is the example code that gets its output.
Two validator webh

[2022-09-30 21:55] cbandy commented on #728
Related: #649

[2022-10-02 22:57] #670 closed

[2022-10-02 23:58] #668 closed

[2022-10-02 23:58] #671 closed

[2022-10-02 23:58] #661 closed

[2022-10-10 10:44] alexg-axis commented on #654
Still occurs in v0.10.0.

/reopen

[2022-10-10 19:17] #678 closed

[2022-10-11 22:57] jake-volvo commented on #342
I assume no one is working on this at the moment? I might pick this up if no else plans to.

[2022-10-12 08:10] FillZpp commented on #342
@jake-volvo sure, please feel free to create a PR for this.

[2022-10-13 20:44] asilverman commented on #402
/remove-lifecycle rotten

[2022-10-13 20:44] asilverman commented on #402
/reopen

[2022-10-19 15:10] akutz commented on #600
/reopen
/remove-lifecycle rotten

[2022-10-28 12:02] cbandy commented on #649
/reopen
/remove-lifecycle rotten

[2022-11-01 16:49] jmrodri opened #732 "Bump k8s to Kubernetes 1.26"
Creating an issue to ask for the 1.26 bump. https://www.k8s.dev/resources/release/#kubernetes-126

K8S 1.26 GA date is 2002/12/06

[2022-11-02 08:36] FillZpp commented on #732
s/2002/2022/
:)

[2022-11-02 09:31] yuvDev-hub commented on #668
what's the status on this one?

[2022-11-02 10:21] yuvDev-hub commented on #668
/reopen

[2022-11-03 17:58] NateThornton opened #733 "controller-gen DeepCopy tests?"
Would there be any interest in generating a companion zz_generated.deepcopy_test.go file that contains some trivial validation logic so running go test with code coverage would be complete?

I'm not even sure it would need test assertions, just something simple

[code]

[code]

I find in using kubebuilder after adding webhook and webhook suite test to our api/v1alpha1 folder, code coverage is abys

[2022-11-05 19:46] #690 closed

[2022-11-07 03:46] derekperkins commented on #476
Still hitting this problem

[2022-11-10 15:01] Skarlso commented on #585
Thank you @addreas. This saved my bacon. :)

[2022-11-10 23:39] zx8 commented on #586
/remove-lifecycle stale

[2022-11-11 05:48] #547 closed

[2022-11-14 08:23] invidian commented on #672
/remove-lifecycle stale

[2022-11-17 06:38] matthchr commented on #461
/remove-lifecycle stale

[2022-11-17 11:36] paullaffitte commented on #447
I need this feature too

[2022-11-21 14:22] Jean-Daniel opened #734 "controller-gen interprets path as numeric literal and fails"
When trying to run `controller-gen`, it fails with the following error, just because the path contains a dir with a name starting by 0.

[code]

[2022-11-22 11:17] juanluisvaladas opened #735 "Controller-gen crd doesn't allow to override the type of a field with multiple types"
Currently a field in a struct can override its type  with the marker `+kubebuilder:validation:Type=<type>`. I have a use case where I want to allow multiple types such as `boolean` and `string`. This could be achieved by defining the Parser's Schemata as:

[code]
And it's currently done in the types `k8s.io/apimachinery/pkg/api/resource.Quantity` and `k8s.io/apimachinery/pkg/util/intstr.IntOrStrin

[2022-11-22 12:16] camilamacedo86 commented on #716
Hi @nikfot,

Could you please let us know if the problem still?
If so could you please share the version of controller-gen used and confirm that it still faced with the latest?

[2022-11-22 13:16] camilamacedo86 commented on #734
Hi @SgtCoDFish,

What changes in the spec were made for the error began to be faced?
Could you let us know how is possible to reproduce this scenario outside of the github.com/cert-manager?

We need to ensure that it is not a bug/issue introduced in the github.com/cert-manager project.

[2022-11-22 13:46] SgtCoDFish commented on #734
I can reliably reproduce using these steps:

[code]

This is a completely unmodified controller-gen at v0.10.0.

The next test run worked successfully with the same command, same files, just a differently named tmpdir:

[code]

We run controller-gen in this way on every PR raised against cert-manager, and I haven't personally seen this error before but I'd bet it's reliably common with certain nam

[2022-11-22 14:16] #656 closed

[2022-11-22 18:25] camilamacedo86 commented on #734
Hi @Jean-Daniel,

So the problem here is that controller-gen is unable to generate the files when the output is like `/tmp/tmp.SgrxkiqbO4` (it has in the name dots). Just for we are able to confirm: can you try without a name that does not have dot and number like test to ensure that works?

[2022-11-23 00:49] jdef commented on #684
/remove-lifecycle stale

On Tue, Nov 22, 2022, 1:50 PM Kubernetes Triage Robot <
***@***.***> wrote:

[2022-11-23 12:17] SgtCoDFish commented on #734
I can reproduce the issue with `/var/folders/xt/087bdd_s6vd1j_jkk244w5bm0000gn/T/tmp.daYAU3yd` that @Jean-Daniel reported using the cert-manager codebase as well:

[code]

It works as expected if I use a tmpdir called `/tmp/tmp.daYAU3yd` - the problem is with the `087bdd_s6vd1j_jkk244w5bm0000gn`.

[2022-11-23 20:26] pjbgf commented on #718
/remove-lifecycle stale

[2022-11-23 20:52] Jean-Daniel commented on #734
No, `controller-gen`, for some reason try to interpret each path component as a number literal. If a path component starts with 0, it assumes this is an octal literal, and crash if it contains a 8 (which is invalid in octal literal). In the case of [SgtCoDFish](https://github.com/SgtCoDFish), it tries to parse `tmp.4paHkdEcpK` as a floating point literal, and obviously fails.

`controller-gen` MUS

[2022-11-23 20:58] camilamacedo86 commented on #734
Would you like to working on this change? If so, please feel free to push a PR.

[2022-11-24 09:21] nikfot commented on #716
Hello @camilamacedo86 ,
It is the group, however I am not sure how this has to do with the problem, since the problem was a minor one concerning linting.

Linting fails because the comments do not have a dot at the end. I have added a dot myself as in:
[code]