[2018-06-18 22:34] pwittrock opened #3 "Come up with a solution for distributing binaries for apiserver, etcd, kubectl"
Maybe `controller-tools install` command that downloads and installs them.  Should be in a location found by these tools

https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/test/server.go#L32

[2018-06-18 22:37] pwittrock opened #4 "Check if dep is installed before running it. Instruct user how to download if not"

[2018-06-26 13:47] pwittrock opened #20 "Make Gofmt goldenfiles work"
- [ ] Remove option to generate Makefile without gofmt
- [ ] Make scaffolded files already gofmted by sorting imports to match gofmt

[2018-06-26 14:06] #20 closed

[2018-06-26 14:54] pwittrock opened #21 "scaffold kustomization.yaml's for the configs"
- [ ] config/manager
- [ ] config/crd

[2018-06-28 01:12] pwittrock opened #24 "Scaffold samples for APIs when they are created"

[2018-06-28 01:18] pwittrock opened #25 "Figure out if we want an install.sh script"
Do we want something like this:

https://github.com/golang/dep/blob/master/install.sh

[2018-07-03 00:00] mengqiy opened #29 "Fix all context.TODO()"
There are many `context.TODO()` in the repo.
They should be replaced with reasonable context.

[2018-07-06 16:04] pwittrock opened #31 "Stop testing within the Dockerfile"

[2018-07-12 22:48] pwittrock opened #39 "pkg/apis/... tests don't compile after adding a second time"
The test name for each api is `TestStorage` so when we create 2 apis in the same package their names conflict.

[2018-07-13 16:31] droot commented on #39
@Liujingfang1 Can you pl. take a look it ?

[2018-07-13 16:40] Liujingfang1 commented on #39
@droot Yes, will look into it.

[2018-07-13 16:50] Liujingfang1 commented on #39
We can add the kind name to this function. It will become `TestStorage<Kind>`. @droot @pwittrock What do you think?

[2018-07-17 17:15] #39 closed

[2018-07-17 17:17] droot commented on #21
This is done.

[2018-07-17 17:17] #21 closed

[2018-07-17 17:18] droot commented on #24
This is done.

[2018-07-17 17:18] #24 closed

[2018-08-14 18:34] cjwagner opened #59 "The OWNERS_ALIASES file is invalid."
The OWNERS_ALIASES file in this repo cannot be loaded by Prow because it is not in the correct format.
https://github.com/kubernetes-sigs/controller-tools/blob/master/OWNERS_ALIASES

The `aliases` field should be a `map[string][]string` so the `-`s in front of the alias identifiers need to be removed. [Example.](https://github.com/kubernetes/kubernetes/blob/master/OWNERS_ALIASES)

/assign @pwittro

[2018-08-19 13:41] jkev53 opened #62 "Add external Type to scaffold"
Configure scaffold to access a non-core type created in another project.
* A CRD that is created and installed in another project.
* A CR defined via an API Aggregation (AA). Aggregated APIs are subordinate APIServers that sit behind the primary API server, which acts as a proxy.

[code]

[2018-08-19 13:57] jkev53 commented on #62
If the scaffold is also going to be able to create a controller for an external-type, then there should be the ability to pass an argument for import link

--import "github.com/example/myproject/apis/mygroup/v1alpha1"

[2018-08-20 22:12] jkev53 commented on #62
Initial implementation:
https://github.com/jkev53/controller-tools/tree/external_type/pkg/scaffold/external
https://github.com/jkev53/controller-tools/blob/external_type/cmd/controller-scaffold/cmd/external.go

[2018-08-31 20:08] jkev53 opened #74 "Add alpha command tree"
In order to allow more flexibility for developers to add features without disrupting the existing roadmap, create an alpha cmd tree

[2018-09-02 07:35] jkev53 commented on #74
[Pull Request](https://github.com/kubernetes-sigs/controller-tools/pull/75)
Adding an alpha feature requires the following 3 steps.
First add implementation files under the pkg/alpha directory. Here we add a feature alpha list
[code]
Second add the `cobra` command file under cmd/controller-scaffold/cmd/alpha/list.go
[code]
Third add the cobra command to  cmd/controller-scaffold/cmd/alpha.go
[code]

[2018-09-05 18:40] jkev53 commented on #62
Here is the cmd using alpha command

[code]

[2018-09-20 21:43] ichekrygin opened #81 "controler-gen fails if "group/version/types.go" is not an immediate child of "apis""
### Overview
Current project organization expects versioned types go files to be 2 directories deep under `apis` directory. For example:
[code]
Adding any additional top-level grouping (but still under `apis`) - breatk `controller-gen` functionality.
For example:
[code]

### Request
Add/update functionalilty in `controller-gen` to support `apis` to `types` organization that is more than 2 director

[2018-10-03 08:57] darkowlzz opened #86 "Remove generated file rules from gitignore"
The generated project's gitignore contains rules to ignore [`zz_generated.*`](https://github.com/kubernetes-sigs/controller-tools/blob/master/pkg/scaffold/project/gitignore.go#L54-L57).
When a new CRD object API definition is generated, and `zz_generated.deepcopy.go` isn't committed, any other operator that consumes this API fails to build with error
[code]

Removing the rule and committing the ge

[2018-10-08 20:17] mattfarina opened #90 "simpler base image?"
https://github.com/kubernetes-sigs/controller-tools/blob/7bc39115ce8a6509b8055daf72c339f73dc4df86/examples/godocbot/Dockerfile#L28

Ubuntu is rather large and full of known exploits... https://hub.docker.com/r/library/ubuntu/tags/

Could we get something pinned to a version and maybe use a lightweight base image like Alpine.

[2018-10-09 17:58] mengqiy opened #91 "Scaffolding unit tests for webhooks"
Currently we don't scaffold any unit tests.
But we should do it like scaffolding controller tests.

[2018-10-12 21:21] ichekrygin opened #94 "Add support for nested output layout"
Currently, CRD `generate` emit CRD files in a "flat" layout structure: `foo_v1alpha1_bar.yaml`
It would be convenient/helpful to emit CRD files in a nested layout that resembles apis types organization:
`foo/v1alpha1/bar.yaml`

[2018-11-09 16:19] kibbles-n-bytes opened #102 "Could CRD generation include field descriptions?"
It'd be useful if the comment above each field in the type definition was included as the `description` field for that property in the OpenAPI schema for the generated CRDs.

[2018-11-16 17:14] pmorie commented on #102
I'm majorly +1 on that idea

[2018-11-16 17:17] pmorie opened #103 "Add support for additionalPrinterColums"
Related: kubernetes-sigs/kubebuilder#447

It should be possible to generate `additionalPrinterColumns` for CRDs, possible example:

[code]

[2018-11-20 18:09] droot commented on #103
I would suggest using compressed form like we do for RBAC annotation.
[code]

[2018-12-07 16:45] sohankunkerkar commented on #103
@droot you can close this issue.

[2018-12-10 19:21] #102 closed

[2018-12-11 21:23] kibbles-n-bytes opened #116 "OpenAPI schema description generation does not work for all types of fields"
It looks like the description generation implemented in #102 works for some types of fields but not all.

For example, from the following type definition:
[code]

The following CRD is generated:
[code]

I would expect there to also be descriptions for `spec`, `thisDoesntWork`, and `bar`, but they don't show up.

[2018-12-11 21:24] kibbles-n-bytes commented on #116
@sohankunkerkar

[2018-12-11 23:00] sohankunkerkar commented on #116
@kibbles-n-bytes Thanks for the follow up. The issue you raised previously wasn't so clear for which fields should the description be present so I made a few assumptions while creating a PR for #102. I think the `spec` was not there in the assumption list so I can certainly add that feature. Having said that I couldn't replicate the other two issues you're facing. I used the type definition you pr

[2018-12-13 18:34] kibbles-n-bytes commented on #116
Talked offline and figured out the reason for the difference: I had been running with `SkipMapValidation` set, and @sohankunkerkar had been running with it unset somehow. So that explains the difference with our map outputs, but there are still some things that would be good to change about the behavior.

@sohankunkerkar wanted me to put together some example files to show the differences.

Exampl

[2018-12-14 22:06] #103 closed

[2019-01-04 00:50] DirectXMan12 opened #120 "deepcopy-gen should support unset GOPATH"
deepcopy-gen currently requires gopath to be set, despite the fact that a default gopath exists.  We should support both that use case, and the eventual go modules usecase, which doesn't require a gopath.

cc kubernetes-sigs/kubebuilder#542

[2019-01-10 00:36] sslavic opened #123 "Format validation key specified for string typed field is being ignored"
Following http://kubebuilder.netlify.com/beyond_basics/generating_crd.html#validation I tried to specify Format validation key for a string typed field e.g.
[code]
Generated CRD validation openAPIV3Schema included the property but format was ignored:
[code]
I expected
[code]

Bug seems to be in https://github.com/kubernetes-sigs/controller-tools/blob/master/pkg/internal/codegen/parse/crd.go#L279
w

[2019-01-16 01:41] DirectXMan12 opened #127 "For basic validation and defaulting webhooks, default to a stronger failurepolicy"
Since we're working on making the cases of webhook use for defaulting and validation easier, we might want to consider generating webhook configs with a "stronger" failurepolicy (i.e. not "ignore") for those, so that bad objects can't sneak into the cluster if our webhook server fails.

cc @mengqiy

[2019-01-16 01:42] DirectXMan12 commented on #127
/kind feature
/priority important-longterm

[2019-01-28 10:09] calind opened #129 "Add support for webhook namespace selector tag"
The https://godoc.org/k8s.io/api/admissionregistration/v1beta1#Webhook configuration supports a namespace selector. That should be suppoorted in code generation as well.

[2019-01-30 18:57] ichekrygin opened #132 "Update controller-runtime to v0.1.10"
To keep up-to-date with `controller-runtime` and `controller-tools` in general.
To leverage new features:
- CRD description
- logger

[2019-01-30 19:14] vincepri commented on #132
The controller-runtime dependency has already been upgraded to v0.1.10

https://github.com/kubernetes-sigs/controller-tools/blob/master/Gopkg.lock#L902-L943

[2019-01-31 02:55] jichenjc opened #133 "hardcoded ns generation"
according to
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/213

the following hard coded ns lead to issue, better to make it configuable...

// Namespace returns the namespace to be used in the RBAC manifests.
func (o *ManifestOptions) Namespace() string {
	// TODO(droot): define this as a constant and share it with scaffold pkg.
	return "system"
}

[2019-01-31 20:00] mengqiy opened #134 "Move godocbot to CR or KB repo"
godocbot is currently under examples/godocbot.
Though it has its own vendor for dependencies, `dep`when running at root dir still think it should vendor `controller-runtime`.

[2019-01-31 20:01] mengqiy commented on #134
cc: @droot

[2019-02-01 18:17] #134 closed

[2019-02-01 19:59] twiest opened #137 "Respect `+optional` comment tag during CRD generation"
According to https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#optional-vs-required there are valid use cases for using the `+optional` comment tag without using `omitempty`.

Also note that according to the api-conventions.md doc linked above, `omitempty`'s behavior in Kubernetes "may change in [the] future".

Therefore when generating CRDs, fields should b

[2019-02-05 21:59] ichekrygin commented on #132
my bad, wrong project  :(

[2019-02-05 21:59] #132 closed

[2019-02-06 22:23] ckrough opened #139 "struct tags containing digits are omitted from generated CRD"
Using kubebuilder 1.0.7 and 1.0.8, given a struct that includes numbers in the value of a struct field tag, the resulting generated CRD will be missing any fields that had digits in their json tag:

*struct*
[code]

*command*
`go run vendor/sigs.k8s.io/controller-tools/cmd/controller-gen/main.go all `

*CRD snippet*
[code]

[2019-02-11 14:05] alegacy commented on #123
I would like to take a stab at fixing this issue if no one has already started.

[2019-02-11 15:39] alegacy opened #141 "Should array schema include "format" key?"
Does it make sense to include the "format" key within a schema when the type is "array"?   For example, I created an array of strings and wanted those strings to be formatted as IPv4 addresses.  After fixing #123  to ensure that "format" keys are included for strings I found that the "format" key was included in both the array definition and the "items" definitions.   I cannot think of a reason wh

[2019-02-12 02:21] sohankunkerkar commented on #139
@ckrough It looks like your use case is not compliant with the kubernetes API guidelines. I attempted to fix a similar problem a while ago but had to close my PR. Here's the link for my PR:
https://github.com/kubernetes-sigs/controller-tools/pull/109
I hope that helps!

[2019-02-12 02:26] sohankunkerkar commented on #137
@twiest Thanks for bringing this point to our attention. Your changes look good to me! Could you please file a PR for this and add a corresponding test case?

[2019-02-12 02:40] ckrough commented on #139
Thanks @sohankunkerkar. I see that the [api-conventions](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#naming-conventions) don't allow underscores or dashes, but didn't see any restriction against digits in the tag contents.

Did I miss it?

[2019-02-12 02:55] sohankunkerkar commented on #139
@ckrough yeah, you're right. Nothing's mentioned in the doc specifically. Probably we can ask @droot / @DirectXMan12 for their suggestions.

[2019-02-14 21:01] #123 closed

[2019-02-14 22:09] DirectXMan12 commented on #139
Our API conventions seem to allow it, but I can't find anywhere we've actually done it.  At the very least, we should probably complain instead of silently continuing.  I don't think I'd mind supporting it, but I also wouldn't encourage its usage.

[2019-02-15 22:12] #141 closed

[2019-02-19 17:32] twiest commented on #137
@sohankunkerkar ok, sounds good. I'll look into adding that soon.

[2019-02-20 10:38] Adirio opened #145 "[RBAC] Allow to configure output file names"
Would allow to execute multiple rbac generatios in the same project without having to rename the files after each operation in case all need to be ketp.

Would enable what was proposed in https://github.com/kubernetes-sigs/kubebuilder/issues/601#issuecomment-465510993.

/kind feature
/priority important-longterm
/sig api-machinery

[2019-02-20 12:42] Adirio opened #146 "[RBAC] Allow to configure ServiceAccount"
Would enable what was proposed in kubernetes-sigs/kubebuilder#601.

/kind feature
/priority important-longterm
/sig api-machinery

[2019-02-22 16:20] ckrough commented on #139
My use case ended up changing so this isn't a blocker for me anymore. Because you don't encourage it's usage, but it would be better if there was a warning/error, I'm gonna leave this Issue open anyway.

[2019-02-26 00:10] ichekrygin opened #148 "Failure: controller-gen/main.go crd processes all directories (including vendor)"
It appears to be a regression as a result of #144 where `apis-path` and `apis-pkg` were added only in `cmd/crd/cmd/generate.go`, whereas it should be added in both `cmd/crd/cmd/generate.go` and `cmd/controller-gen/main.go`.

This results in failure when running via `controller-gen/main.go` since it attempts to process all directories under root path (including vendor) and ultimately fails on:
`pan

[2019-02-26 01:29] M00nF1sh opened #150 "json fields that contains numbers are ignored in json schema validation"
json fields like json:"s3,omitempty" are omited in generated openAPIV3Schema validation for CRD yaml

[2019-02-26 03:16] DirectXMan12 opened #151 "More obvious reference docs"
The [book](book.kubebuilder.io) has some documentation on the various commands invovled in controller-tools, but some of it's hard to discover (e.g. reference docs for crd-gen are burried in `Beyond Basics -> Deployment Workflow`), some bits are quasi-external (like deepcopy-gen) and thus don't have docs, and other bits (like type-scaffold) aren't documented at all.

We should write some reference

[2019-02-26 13:53] deads2k commented on #137
Yeah, there definitely are.  Because CRD validation is tied up with the spec generation, the same forces that drove protobuf to give warnings about required fields apply.  A required field means that old clients may not be able to create new content because they don't know about the new fields being added.  It almost seems like the tag is backwards and we want to give explicit opt-in consideration

[2019-02-26 21:56] mdeuser opened #152 "Util funcs do not correctly handle windows paths"
This issue was found in an attempt to run kubebuilder on Windows.

As an example, assume a windows GOPATH of `C:\Whisk\knative\testevtsrc` with the complete project folder being `C:\Whisk\knative\testevtsrc\src\github.ibm.com\mdeuser\test-event-source`

Some of the pkg\crd\util\util.go funcs, such as DirToGoPkg, do not correctly handle the UNC path separators.  Using the above example, DirToGoPkg

[2019-02-27 15:29] justinsb opened #153 "Don't include Kind in names"
Including the type name in the name of an object is superfluous and obscures the relations between them (IMO).

Thus, for example, we should call the ClusterRole `foo-manager`, not `foo-manager-role`.  The StatefulSet / Deployment should be `foo-manager`, it uses a ServiceAccount of `foo-manager`, which has a ClusterRoleBinding `foo-manager` to a ClusterRole `foo-manager`.

The other problem is th

[2019-02-27 18:26] #150 closed

[2019-02-27 21:42] DirectXMan12 opened #154 "segfault panic on running `controller-gen webhook`"
When run from the root of controller-runtime.  Probably should just be a normal error.

### Reproducer:

Have CR and CT checked out

[code]

[2019-02-27 21:42] DirectXMan12 commented on #154
cc @mengqiy
/kind bug

[2019-02-28 03:26] joelanford opened #155 "Support overriding CRD type validation for structs"
Currently, it seems the validation type for structs is always assumed to be `object`.

https://github.com/kubernetes-sigs/controller-tools/blob/5752ac22027d963d0d0c4ccd9c4a92620ee0f921/pkg/internal/codegen/parse/crd.go#L436-L441

However, structs can be serialized into types other than `object`. Is there a way to override the type detection for structs?

I'm trying to do something like the followi

[2019-03-04 23:29] estroz opened #156 "Merge existing and newly generated CRD OpenAPIv3 validation blocks"
Whenever I modify a type, or add/remove/update `+kubebuilder:validation:` directives from api's in `pkg/apis/<group>/<version>/*.go`, a CRD is generated with a validation block containing these changes. However if I add some validation field in a CRD that exists on-disk for an existing api, that field should be preserved in certain situations. Example:

On-disk CRD:
[code]

Then write a value to s

[2019-03-06 01:03] DirectXMan12 opened #162 "Umbrella: Refactor for simpler building blocks, composability"
We're hitting a number of issues with the current design of controller-tools (#81, #148, kubernetes-sigs/kubebuilder#620) that are due to internal architectural designs of controller-tools.

Currently, a several cases in controller-tools (e.g. controller-gen on crds) assume directory structures to infer information, which makes controller-gen difficult to re-use in other cases.  Furthermore, a bun

[2019-03-06 01:04] DirectXMan12 commented on #162
/kind feature
/priority important-soon

[2019-03-06 01:04] DirectXMan12 commented on #162
cc @mengqiy @droot

[2019-03-06 01:05] DirectXMan12 commented on #148
/kind bug
/priority critical-urgent

[2019-03-06 07:36] Adirio opened #163 "Avoid overriding values if already set in rbac options when setting defaults"
`pkg/rbac.ManifestOptions.SetDefaults` overrides existing values without checking them. If they have already be set this method should not override with the default as commented in https://github.com/kubernetes-sigs/controller-tools/pull/147#discussion_r262723950.

[2019-03-06 18:34] #145 closed

[2019-03-06 18:34] #146 closed

[2019-03-06 21:19] DirectXMan12 commented on #127
/good-first-issue

[2019-03-11 20:00] redborian opened #165 "CLI option to generate complete schema"
Currently, in the generated CRD schema, the fields `ObjectMeta` and `TypeMeta` are just `object`s. This seems to be [by design](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/customresources-validation.md#metadata). Anyhow, there needs to be a command-line option to generate a complete schema. This will be useful for IDE consumption.

[2019-03-12 08:40] bogdanpetrea opened #166 "Tests are failing when running locally"
Am I running them wrong?
[code]

[2019-03-12 23:31] DirectXMan12 opened #167 "Allow generation of validation for types from k8s.io/api"
We currently explicitly skip types from `k8s.io/api`, for no apparent reason.  We should allow generating validation for such types, even if it's only structural (optional vs required, basic type information)

/kind feature
/priority important-soon

[2019-03-13 22:28] janetkuo opened #168 "Add flags of other generators in `controller-gen all`"
`controller-gen all` runs all available generators, but doesn't provide flags of those generators. For example, `controller-gen crd --skip-map-validation`. It should be extended to include all those flags.

[2019-03-14 20:28] #154 closed

[2019-03-14 21:25] jonjohnsonjr commented on #81
I just hit this here: https://github.com/knative/pkg/tree/master/apis/istio/authentication

[2019-03-15 20:07] DirectXMan12 commented on #165
As an update: this is actually a relatively simple change, and should come as part of some broader refactoring work that we're working on right now.  We do want this as an option, though (I'm not sure it should be on by default -- need to talk that out).

[2019-03-21 18:57] jonjohnsonjr opened #173 ""crd generate" with CRD versioning?"
Any plans for how `crd generate` can support the upcoming [CRD versioning](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning/)? Or does it work already?

E.g. there is a [`Versions`](https://github.com/kubernetes/kubernetes/blob/e318642946daab9e0330757a3556a1913bb3fc5c/staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/type

[2019-03-25 04:53] andreykaipov commented on #120
I don't think deepcopy-gen is an issue actually.

Following https://github.com/kubernetes-sigs/controller-tools/pull/175, I was trying to migrate Kubebuilder to use Go modules too. The generation of the DeepCopy methods is fine, but the tricky part is trying to get the generator to place the file in the proper place.

Instead of specifying `./...` as our import path (see https://github.com/kuberne

[2019-03-25 20:00] negz commented on #155
I have a similar use case for primitive types, in which I'd like to define an 'enum' as an integer in my Go code, but have it marshal to a JSON string. This is handy because it allows a sane default for the zero type of an enum. For example:

[code]

https://github.com/kubernetes-sigs/controller-tools/blob/45a8321/pkg/internal/codegen/parse/crd.go#L285

Currently the controller-tools CRD generatio

[2019-03-28 22:21] DirectXMan12 commented on #120
this is on hold till we finish revamping controller-gen.  Ideally, we'll have deepcopy-gen built-in afterwards.

[2019-03-28 23:32] andreykaipov commented on #120
Oh like built into this library so Kubebuilder projects won't have to vendor code-generator's `deepcopy-gen`?

[2019-04-02 19:23] hasbro17 commented on #156
/cc @mengqiy @DirectXMan12 @droot
Any idea if it's possible to preserve manually added validation fields?

[2019-04-03 17:06] mengqiy commented on #173
We are in the process of rewriting CRD generator to get rid of `k8s.io/gengo` in our generator.
Multi-version CRD will be supported after the rewriting.

[2019-04-03 17:10] mengqiy commented on #168
@janetkuo In what cases you will want to skip map validation?

[2019-04-03 17:14] mengqiy commented on #166
You can't depend on an `internal` package under vendor. e.g. `github.com/kubernetes-sigs/controller-tools/vendor/sigs.k8s.io/controller-tools/pkg/internal/codegen`
The import path you should use is `sigs.k8s.io/controller-tools/pkg/internal/codegen`

[2019-04-03 17:16] mengqiy commented on #166
I guess the problem is that your repo is checked out under `github.com/kubernetes-sigs/controller-tools`, but it actually should be checked out to its canonical path `sigs.k8s.io/controller-tools`.

[2019-04-03 17:16] #166 closed

[2019-04-03 19:47] mengqiy commented on #156
It currently always rewrites the whole CRD.
It's hard to distinguish if a field is added by user manually or should be deleted. e.g. if there was `+kubebuilder:validation:Maximum=100` and later it is removed. The generator should be know this field should be removed and not treat it as user added.

IMO having `+kubebuilder:validation:title` should be better.

[2019-04-03 19:50] mengqiy commented on #148
The offending PR was reverted in #169

[2019-04-03 19:50] #148 closed

[2019-04-03 20:28] droot commented on #156
I agree with @mengqiy's reasoning here.  Adding `+kubebuilder:validation:title` in the `types.go` seems to be the right approach.

[2019-04-03 23:20] DirectXMan12 commented on #156
Ack.  We should have validation directives to support everything.  I don't think it makes sense to try and merge.

[2019-04-04 21:41] hasbro17 commented on #156
Sounds good to me. If we can extend the [supported tags](https://github.com/kubernetes-sigs/controller-tools/blob/45a832133205872f81bbe5edf97a630d30adafbc/pkg/internal/codegen/parse/crd.go#L473-L583) to include `title` and any other missing directives then we can regenerate validation from scratch every time.

[2019-04-05 15:13] sohankunkerkar opened #178 "quote escaping doesn't work properly in JsonPath for additionalPrinterColumn annotation"
**What happened:**
Quote escaping expression does not work as expected in Jsonpath for`additionalPrinterColumns` feature.

**What you expected to happen:**
It should handle the quote escaping expression

**How to reproduce it (as minimally and precisely as possible):**
you can use the below annotation for a given API type
`// +kubebuilder:printcolumn:name="ready",type="string",JSONPath=".status.co

[2019-04-05 15:20] sohankunkerkar commented on #178
/kind bug

[2019-04-05 17:15] estroz commented on #156
@mengqiy I will submit a PR.

[2019-04-08 17:31] DirectXMan12 commented on #120
yeah, exactly

[2019-04-11 21:01] estroz commented on #156
@mengqiy @DirectXMan12 @droot what is meant by [this code comment](https://github.com/kubernetes-sigs/controller-tools/blob/master/pkg/internal/codegen/parse/crd.go#L592)

Do you intend to support referencing other parsed types?

[2019-04-12 02:09] mengqiy commented on #178
@sohankunkerkar  Are you expecting the generated CRD to look like the following
[code]

[2019-04-18 15:02] jekohk opened #192 "CRD generate still requires PROJECT file when --domain arg is set"
Attempting to run `crd generate --domain xyz` in a non-kubebuilder project, which does not have a `PROJECT` file.

The help text seems to imply that a `PROJECT` file is not required if the `--domain` flag is set, however I am seeing that as not being the case:
[code]

FWIW, I am running this in the root directory of my project and the api path is correct.

[2019-04-18 18:44] DirectXMan12 commented on #156
I think that's intended to prevent recursive types from blowing out the generator.  We intend to eventually support embedding validation for other types.  The k/k validation parser doesn't support cross-group references, so we'd have to embed.

[2019-04-18 21:47] estroz commented on #156
@DirectXMan12 by "cross-group references" do you mean referencing validation using [`JSONSchemaProps.Ref`](https://godoc.org/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1#JSONSchemaProps)? And "embedding validation" == embedding a string value that unmarshals into a `JSONShemaProps`?

WDYT about having users define Go variables of type `JSONSchemaProps`, and have `+kubebuilder:vali

[2019-04-19 01:07] mengqiy commented on #173
Feel free to checkout the code in https://github.com/kubernetes-sigs/controller-tools/tree/crdgenerator, it is still under development.

[2019-04-24 06:37] sttts commented on #167
/cc @liggitt

This would force us into at least `IntOrString`.

[2019-04-24 13:56] twiest commented on #137
@deads2k I created a PR based on your advice.

Since this is changing behavior there are some concerns. Would you mind weighing in on the [PR](https://github.com/kubernetes-sigs/controller-tools/pull/185) I created please?

[2019-04-26 16:29] liggitt commented on #167
it also will cause problems with the recursively-defined managedFields subtree

[2019-04-27 07:22] sttts commented on #167
@liggitt can you elaborate? Would we need a "stop generation here" tag?

In general, I would very much like to see a KEP about a unified OpenAPI tag language we can use in k8s.io/api types as well, and with that make embedded much easier. This is something we might want to target in the 1.16 time frame.

[2019-04-28 13:40] runzexia opened #197 "support dry run with admission webhook"
v0.1.9
Does it currently support dry run with admission control? In my CRD I will return this error ` "admission webhook "validating-create-update-s2ibuilder.kubesphere.io"` does not support dry run", is there any plan support?

[2019-04-28 16:25] jekohk commented on #192
This line asserts that both `Domain` and `Repo` must be set on the `Generator` struct: https://github.com/kubernetes-sigs/controller-tools/blob/master/pkg/crd/generator/generator.go#L75

But the `crd` binary lacks a flag to pass `Repo` to the `Generator`: https://github.com/kubernetes-sigs/controller-tools/blob/master/cmd/crd/cmd/generate.go#L61

Should we simply add a flag to support passing `rep

[2019-04-29 13:08] liggitt commented on #167
without `$ref` support, recursively defined structures can't render a complete schema for use inside a CRD

[2019-04-29 13:41] sttts commented on #167
It's about schema generation here. Why shouldn't crd-gen be able to parse k8s.io/api types. It will flatten the output of course, without `$ref`.

[2019-04-29 13:44] liggitt commented on #167
How do you flatten a schema for a recursively defined type without use of $ref?

[2019-04-29 15:11] sttts commented on #167
@liggitt you drop it. But now I see what you mean. But we should find a way to cut that off from the schema, and allow 99% of the rest.

`+no-schema`

[2019-04-29 20:08] DirectXMan12 commented on #167
For the moment, you can take a look at the behavior in the new version of controller-tools -- it explicitly overrides a few types, like `IntOrString`, since they don't have markers (tags) on them already.

[2019-04-29 20:37] #152 closed

[2019-04-29 20:45] DirectXMan12 commented on #156
Yeah

No, I mean recursively replacing the ref with the actual type by fetching and generating a schema for that type (optionally with some overloading for certain types in k/k that don't behave as expected).

See #190

That makes our parsing a lot more complicated.  I'm planning to support putting validation on types instead of just fields, which makes it easier to share validation (e.g. ` // +ku

[2019-05-06 08:26] jschlichtholz opened #201 "Allow `api` as Group Name"
`controller-gen` does not support `api` and `apis` as a group name.

Having a folder structure like this:

[code]

will lead to `v1alpha.example.com` as a group name. I would expect `api.example.com`.

[2019-05-10 18:56] benjaminjb opened #206 "RBAC generation results in duplicates"
If I have multiple files with overlapping (or even identical) annotations for rbac specifications and run `go run vendor/sigs.k8s.io/controller-tools/cmd/controller-gen/main.go rbac`, I get duplicate entries in my `rbac_role.yaml`.

Is this on purpose, to let people know how many times they have included an rbac annotation? Or should the generator dedup RBAC roles?

[2019-05-10 18:57] benjaminjb commented on #206
I'm guessing the culprit is this append: https://github.com/kubernetes-sigs/controller-tools/blob/master/pkg/rbac/parser.go#L80

[2019-05-19 03:45] abursavich opened #212 "pkg/markers: index out of range panic on collector.go:293"
https://github.com/kubernetes-sigs/controller-tools/blob/4a32e77de72f35527a03dbd5813a14441d04cfbf/pkg/markers/collect.go#L293

[code]

[2019-05-19 03:58] abursavich opened #213 "pkg/crd: arrays are not supported as map values"
[code]

https://github.com/kubernetes-sigs/controller-tools/blob/455fb28296658dc93252700128c1e28992e7d38e/pkg/crd/schema.go#L288-L296

In my case, I have an object that mirrors a `ConfigMap` with the following field:

[code]

[2019-05-19 03:58] abursavich commented on #213
@DirectXMan12

[2019-05-19 03:58] abursavich commented on #212
@DirectXMan12

[2019-05-19 04:09] abursavich commented on #212
I was able to do a search through my code an reduce a repro down to this snippet:

[code]

[2019-05-22 10:00] kragniz opened #214 "Setting scope: Namespaced on generated CRD"
Currently, generated CRD resources without any special annotations on resources have `spec.scope: ""` set. When applied to a cluster, this defaults to `spec.scope: Namespaced`. I would expect this to be the default output from controller-gen.

The command I'm running is:

`controller-gen crd:trivialVersions=true paths=./pkg/apis/... output:crd:dir="${output}"`

[2019-05-23 01:13] mengqiy commented on #165
Fixed already.

[2019-05-23 01:13] #165 closed

[2019-05-30 22:25] DirectXMan12 opened #216 "Adjust for structural schema KEP"
A new kep was introduces to restrict how we generate OpenAPI validation for CRDs.  It has a number of special extensions that we'll want to support, plus restrictions on validating objectmeta. We'll need some specially handling here, since people might want a full metadata openapi spec for other reasons.

See also https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/201904

[2019-05-30 22:25] DirectXMan12 commented on #216
/kind feature

[2019-05-30 22:25] DirectXMan12 commented on #216
cc @sttts

[2019-05-30 22:27] DirectXMan12 commented on #213
good catch, we'll want to fix that.

/kind bug

[2019-05-30 22:29] DirectXMan12 commented on #212
/kind bug
/priority critical-urgent

[2019-05-30 22:34] DirectXMan12 commented on #151
/remove-lifecycle stale

[2019-05-30 22:34] DirectXMan12 commented on #151
we'll prob want to autogenerate docs for markers too, based on `-w`

[2019-05-31 13:49] sttts commented on #216
Which are those reasons?

Note that the spec is most probably incomplete when defined by the developer because ObjectMeta is defined by the cluster at hand. In contrast to anything else in a CRD, the ObjectMeta life cycle is not the one the operator builder controls. When the cluster adds a meta feature (server side apply, more powerful GC, etc.), every resource will inherit it.

[2019-05-31 19:40] DirectXMan12 opened #217 "flattening wipes out field validation on type aliases"
Flattening causes type alias information to override field information, which currently wipes any field specific validation.  We'll want to fix this, but we'll need to somehow merge the two sets of validation.

In case of disjoint sets of validation types this is easy.  In case of overlap (e.g. two pattern fields, two enums, etc), it's a bit more unclear what to do.  The "most correct" would proba

[2019-05-31 19:40] DirectXMan12 commented on #217
/kind bug
/priority critical-urgent

[2019-05-31 19:50] sttts commented on #217
`allOf` is still allowed as before with structural schema. But some directives must not conflict and hence you must be able to move them outside of the allOf:
* type,
* title,
* default
* additionalProperties
* nullable
* description

[2019-05-31 19:58] sttts commented on #217
if one of those conflict on one of the allOf branches, you can
* type: error
* title: override
* default: override the more specific one? or even restrict that to field markers
* additionalProperties: push the allOf inside of the schema, i.e. `allOf:[{additionalProperties:X},{ additionalProperties:Y}] => additionalProperties:{allOf:[X,Y]}`
* nullable: disjunction, i.e. `allOf:[{nullable:true, ...}

[2019-05-31 20:57] DirectXMan12 commented on #212
fix up ^

[2019-05-31 20:57] DirectXMan12 commented on #212
thanks!

[2019-05-31 20:58] DirectXMan12 commented on #217
description we override currently (we just keep the field description, since that's probably what you want), otherwise looks good.

[2019-05-31 21:02] #212 closed

[2019-05-31 21:12] sttts commented on #217
sounds also good @ description and title.

[2019-05-31 21:13] sttts commented on #217
one more case to consider:

additionalProperties and properties are mutual exclusive. So if one is one allOf branch, and the other is on another branch => error

[2019-06-03 10:42] jschlichtholz commented on #201
Seems to be fixed with the 0.2.0 rework.

[2019-06-03 10:42] #201 closed

[2019-06-04 01:08] DirectXMan12 commented on #216
We have a contributor who initially wanted to use this code for generating openapi specs to be consumed by editor tooling.

[2019-06-04 01:35] DirectXMan12 commented on #162
closing as this is implemented in v0.2.0

[2019-06-04 01:35] #162 closed

[2019-06-04 23:56] ironcladlou commented on #214
See https://github.com/kubernetes-sigs/controller-tools/pull/220

[2019-06-06 08:24] vincent-pli opened #221 "RBAC rule do not render if there is no empty row below the annotation"
Firstly I use
[code]

with out an empty row below the annotation, I find there is no RBAC stuff render, later I add a new empty row, then everything goes well.

Is that a bug?

[2019-06-06 22:38] #214 closed

[2019-06-06 23:48] DirectXMan12 commented on #221
No, it's intentional.  If there's no empty row, it's considered to be a marker on the function, since it's part of the function's godoc.  The rbac marker is package-level, so putting it on the function won't work.  We could probably clarify this better in the docs.

[2019-06-07 00:17] vincent-pli commented on #221
@DirectXMan12
Thanks a lot for clarification, that's make sense.

[2019-06-07 22:46] #221 closed

[2019-06-17 19:25] mengqiy opened #225 "Support generating Role"
Moved to CT from https://github.com/kubernetes-sigs/kubebuilder/issues/401.

kubebuilder currently only support generating ClusterRole, but there are use cases that we may only want a Role which restrict the permission to certain namespaces.

[2019-06-18 22:29] ekuefler opened #227 "Can't have a field named "items""
I have the following schema, modeled after the [GCE API](https://cloud.google.com/compute/docs/reference/rest/v1/instances):

[code]

The generated OpenAPI schema looks like this:

[code]

Note the doubling of "items", which may be causing an ambiguity. When I run a test that creates one of these, I get an error:

[code]

The error goes away if I change the json tag from "items" to "items_".

[2019-06-23 08:10] #3 closed

[2019-06-23 08:10] #4 closed

[2019-06-23 11:13] #25 closed

[2019-06-23 13:15] #29 closed

[2019-06-24 11:37] #74 closed

[2019-06-24 11:37] #62 closed

[2019-06-25 00:49] #86 closed

[2019-06-25 02:51] #90 closed

[2019-06-25 02:51] #91 closed

[2019-06-25 06:55] #94 closed

[2019-06-26 20:33] #217 closed

[2019-06-26 21:22] DirectXMan12 commented on #213
/assign @haiyanmeng

[2019-06-27 14:23] jimmidyson commented on #216
Any thoughts on how to tackle this @DirectXMan12?

[2019-06-28 07:18] pires commented on #216
@vincepri @ncdc can you describe better what was the problem embedded CRD ObjectMeta was raising? Seems to be related to this.

[2019-06-28 08:10] sttts commented on #216
@pires With structural schema we have `x-kubernetes-embedded-resource: true` which does everything around `ObjectMeta` validation.

[2019-06-28 09:43] jimmidyson commented on #216
I've worked around this with a kustomize patch of the crd manifest to only include name and generateName in ObjectMeta properties, but still with ObjectMeta in original struct (nothing gets generated if this isn't present). We could just do that on generation of validation spec, just restrict to name and generateName properties in metadata.

[2019-06-28 09:59] sttts commented on #216
@jimmidyson you will be able to have `x-kubernetes-embedded-resource: true` and in parallel your custom restrictions on name and generateName.

[2019-06-28 10:59] pires commented on #216
@jimmidyson @sttts IIUC the approach Cluster API folks picked up was to [remove ObjectMeta and explicitly specify the attributes Jimmi mentioned](https://github.com/kubernetes-sigs/cluster-api/pull/1062).  As I was reading the updates for CRD in 1.15, including `x-kubernetes-embedded-resource: true`, I figured it could be a _better_ solution. Hopefully, I'm not wrong 🤞

[2019-06-28 11:29] sttts commented on #216
@pires that will verify TypeMeta and ObjectMeta automatically yes. Plus whatever you add to that for additional constraints.

[2019-06-28 11:54] jimmidyson commented on #216
@sttts I thought that was for types embedded in eg spec, not for the top level crd? Do you have an example to hand?

[2019-06-28 12:30] sttts commented on #216
@jimmidyson right. For top-level it is automatic. And you are able to (only) constrain name and generateName.

[2019-06-28 18:03] DirectXMan12 commented on #216
So, one option is to use an override, which will handle explicit uses of objectmeta.  We'll override it to put `x-kubernetes-embedded-resource` in place.

@sttts presumably we need to strip that for the top-level objectmeta?  We can do that with a special case.

[2019-06-28 18:05] DirectXMan12 commented on #216
as for overlaying custom constraints, that'll take a bit more thought.  One option would be to have a special marker for roughly the equivalent of `ref`, and then we'd include that in an AllOf.  That seems like the easiest way without significantly changing things or forcing you to write an entire embedded jsonschema spec.

I'm open to alternatives, though.

[2019-06-28 23:21] droot opened #236 "Versions list in the generated CRD should be sorted by version name"
Looks like versions list generated CRD is not stable. So if the ordering doesn't match the one persisted in the etcd, server will throw an error.

You may see an error similar to the following:

[code]

[2019-06-29 00:22] #129 closed

[2019-06-29 07:01] sttts commented on #216
Yes, top-level does not have it.

That's what I would have expected. Even if we don't force anybody into the full OpenAPI spec (using some syntax), I would appreciate it very much if there were at least a generic, raw OpenAPI marker as well. Sometimes it will be easier to just write down what you want than to find a way with markers on types.

[2019-06-30 04:49] #133 closed

[2019-07-01 22:07] haiyanmeng commented on #225
I can work on this.

[2019-07-01 22:18] haiyanmeng commented on #225
/assign @haiyanmeng

[2019-07-01 22:29] damemi commented on #213
@DirectXMan12 based on your comments in https://github.com/kubernetes-sigs/controller-tools/pull/234/ will this only be allowed for byte slices? eg, if I have a `map[string][]string` that needs to have a named type?

[2019-07-01 23:35] ekuefler opened #237 "Support validation of array items"
controller-gen supports validation annotations like `Pattern` on strings and `MaxItems` on arrays. I would also like to be able to apply `Pattern` to arrays so that I can validate that every string in that array matches the pattern. Same goes for all of the other single-item annotations like `Minimum` and `Maximum`.

[2019-07-02 02:41] negz commented on #155
/remove-lifecycle statle

This is still something that would make life easier as a user of controller-tools. FWIW I've also wanted to use this proposed functionality for the original purpose @joelanford mentioned (i.e. storing conditions as a map, but marshalling them to an array) as well as the case I mentioned.

[2019-07-02 02:42] negz commented on #155
/remove-lifecycle stale

[2019-07-02 03:40] jgustie opened #238 "Race condition in (*TypeChecker).check()"
I am using the 0.2.0-beta.2 release (darwin-amd64) and occasionally see a panic that seems to stem from a race condition in the `TypeChecker.check` method; I rebuilt `controller-gen` with `-race` and used that to `make manifests` in a Kubebuilder tutorial project (v2 scaffolding), it produces data race warnings generally like:

[code]

I'm relatively new to Go so it isn't immediately apparent to m

[2019-07-02 06:28] mengqiy commented on #238
It seems `checkedPackages` should be synchronized to prevent race condition.
https://github.com/kubernetes-sigs/controller-tools/blob/cf8f8c9f83af535f1721ef3c77c4e0b106035352/pkg/loader/refs.go#L247
cc: @DirectXMan12

[2019-07-02 06:39] mengqiy commented on #236
Both `spec.version` and `spec.versions` are optional.
IMO if we have more than one versions, we should just alway clear `spec.version` field.

[2019-07-02 21:07] DirectXMan12 commented on #213
talked directly a bit  -- don't want to break existing folks, so we'll add string slice support too.  Don't really want to encourage maps though, as they're generally discouraged for "complex" datatypes (`[]byte` being an exception because its kinda-of a primitive in our APIs): https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#lists-of-named

[2019-07-03 17:34] mengqiy opened #239 "Make path optional"
From https://github.com/kubernetes-sigs/kubebuilder/pull/763#discussion_r296004286.

[2019-07-03 21:45] haiyanmeng commented on #238
I will take a look at this

[2019-07-08 00:57] hasbro17 opened #240 "Tool to generate API documentation in markdown"
It would be useful to be able to generate API documentation in markdown for all custom resource types under `pkg/apis/...` based on the comments in the `types.go` source.

Largely inspired by how the prometheus-operator auto-generates its API documentation.
https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md
https://github.com/coreos/prometheus-operator/blob/master/cmd/p

[2019-07-08 00:58] hasbro17 commented on #240
/cc @DirectXMan12 @droot

[2019-07-08 12:56] SharksZhang commented on #239
/assign

[2019-07-08 22:22] mengqiy opened #242 "More useful help text for controller-gen"

[2019-07-09 00:21] gautamkmr opened #243 "additionalPrinterColumns is not working as provided in example."
**File** ```api/v1/cronjob_types.go ```

[code]

**Generated CRD** ``` config/crd/bases/batch.tutorial.kubebuilder.io_cronjobs.yaml ```

[code]

However the out put still doesn't show that `Hello` column
[code]

[2019-07-09 07:02] gautamkmr commented on #243
kubectl>=1.1

[2019-07-09 07:02] #243 closed

[2019-07-09 15:32] skonto opened #244 "Support struct embedding"
I am hitting this one:
https://github.com/kubernetes-sigs/controller-tools/blob/abcf7d8d54b0cca0f42c470b705fd3cfe768ede3/pkg/crd/schema.go#L325 (btw there is a typo there s/enountered/encountered)
While my types are valid. They just use struct embedding.

[2019-07-09 16:24] skonto opened #245 "Support floats?"
In the official docs I still see float support: https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/, am I wrong?
I am currently hitting this error: https://github.com/kubernetes-sigs/controller-tools/blob/abcf7d8d54b0cca0f42c470b705fd3cfe768ede3/pkg/crd/schema.go#L387
Error I get is: `unsupported type "float32"`. I expected my field to be parsed and crd to have a field of type

[2019-07-09 16:49] skonto commented on #245
/cc @DirectXMan12

[2019-07-09 21:04] SharksZhang commented on #239
/unassign @SharksZhang

[2019-07-10 23:32] #238 closed

[2019-07-10 23:58] #213 closed

[2019-07-11 14:25] wallrj opened #249 "controller-gen crashed with "fatal error: concurrent map writes""
https://travis-ci.com/sky-uk/cassandra-operator/jobs/215146641#L995

[code]

[code]

[2019-07-11 17:09] gautamkmr opened #250 "Add an option to provide default value of spec in CRD"
Currently if we want to set some default value in spec for a specified CRD its not possible (AFAIK). It would be great if we can add that support and have it available in documentation.

[2019-07-11 18:23] mengqiy commented on #178
We need to verify if the new controller-gen still has the problem.

[2019-07-11 19:08] haiyanmeng commented on #239
I will take a look at this

[2019-07-11 19:09] haiyanmeng commented on #239
/assign @haiyanmeng

[2019-07-11 20:26] jgustie commented on #249
Looks like a dup of #238, should be fixed in beta.3

[2019-07-11 21:05] jgustie opened #251 "Role ordering is not stable"
Using 0.2.0-beta.3 the RBAC generator is modifying files on every pass. I think this is due to the #235 changes: the ultimate ordering of the policy rules slice is now determined by a map iteration.

I'm still transitioning from Java to Go, but I think the fix is to aggregate the `rules` keys into another slice, sort the ruleKey slice and iterate over that when building the list of policy rules.

[2019-07-11 21:47] DirectXMan12 commented on #250
This went in in 1.15, so we should have markers to support it.

[2019-07-11 21:47] DirectXMan12 commented on #250
/kind feature

[2019-07-11 22:46] DirectXMan12 commented on #251
they should be being sorted @haiyanmeng FYI

[2019-07-11 22:46] DirectXMan12 commented on #251
/kind bug

[2019-07-11 22:48] DirectXMan12 commented on #244
can you please provide the actual struct that you're using?  Embedded fields should be handled fine.

[2019-07-11 22:49] DirectXMan12 commented on #244
you'll need to mark the field with `json:",inline"`, though

[2019-07-11 23:46] haiyanmeng commented on #251
/assign @haiyanmeng

[2019-07-12 08:17] wallrj commented on #249
@jgustie Thanks. We'll update to the latest version and re-open this if we come across the problem again.

[2019-07-12 08:17] #249 closed

[2019-07-12 23:29] #239 closed

[2019-07-13 00:10] mengqiy opened #256 "Minimum marker is not working for string"
`Minimum` validation marker is no longer working for string.

/kind bug

[2019-07-13 00:51] hasbro17 commented on #240
/cc @mengqiy Hoping to get the kubebuilder perspective on this. I might be wrong but I believe this is no longer included in kubebuilder v2 and I think this might be a better place for it.

[2019-07-15 16:28] mengqiy commented on #240
kubebuilder v2 doesn't support `docs` command. It'd be great if we can bring it back.
Regarding the format, are there other format options here?

[2019-07-15 16:39] mengqiy commented on #256
Actually we need to use `MinLength` instead.

[2019-07-15 16:39] #256 closed

[2019-07-16 11:37] skonto commented on #244
@DirectXMan12 thanks for the hint. I will try that.

[2019-07-16 11:48] skonto opened #257 "CRD yaml file generated is too verbose"
Is there an option to create a shorter generated CRD yaml? Is there a way to declare defaults?
I tried to create the equivalent of this : https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/manifest/spark-operator-crds.yaml and it was ~5361 lines. Are there any flags to set to make it have a reasonable size? Also I noticed inconsistencies:
eg.
[code]
while in the original it i

[2019-07-16 17:07] #251 closed

[2019-07-16 21:32] mengqiy commented on #197
@runzexia IIRC current behavior is that no matter whether dryrun is true or false in the incoming AdmissionRequest, the admission webhook will do the same thing based on its logic. It's up to the kube-apiserver to decide if persist the object.

What is your use case around dryrun?

[2019-07-16 21:34] mengqiy commented on #197
I was think from the controller-runtime perspective, now I realize this issue is in CT.
I guess you want to have something to specify the `sideEffects` in the mutaing|validatingWebhookConfiguration.

[2019-07-16 21:36] mengqiy commented on #197
Currently I believe you can use kustomize patch to set `sideEffects`.

[2019-07-17 16:05] alexkreidler opened #259 "Add a version command or option to `controller-gen`"
It would be great to know which version of `controller-gen` we're using in our kubebuilder projects to better diagnose errors and help the community.

Please add a `version` command or `--version` or `-v` flags to controller-gen to help us with this. Thanks a ton!

[2019-07-17 17:55] alexkreidler commented on #137
As of now, [v0.2.0-beta.3](https://github.com/kubernetes-sigs/controller-tools/tree/v0.2.0-beta.3) includes PR #211, which adds a `// +kubebuilder:validation:[Required/Optional]` at both the package and field level, which although won't respect the `+optional` tag, should provide a good alternative for most users.

I hope the main `kubebuilder` integrates this ASAP so that we can manage required a

[2019-07-17 18:15] haiyanmeng commented on #236
/assign @haiyanmeng

[2019-07-17 18:40] alexkreidler opened #261 "Update command line help and add docs for move from `deepcopy` naming to `object` naming."
Across the entire web, everyone refers to the need to genreate `DeepCopy()` functions to implement the `runtime.Object` interface, and even the current help from `controller-gen -h` gives the following example:
[code]
However, the correct command is `controller-gen object paths=./apis/v1beta1/some_types.go`

Additionally, the old `k8s:deepcopy-gen` markers have been depracated in favor of `kubebui

[2019-07-17 18:43] vincepri opened #262 "Wrong deepcopy generation when using type aliased arrays or maps"
I'm hitting an issue when generating `deepcopy` files with `controller-gen`. If I have something like:
[code]
It generates:
[code]
Which fails compilation with `cannot use &in (type *IngressRules) as type IngressRules in assignment`.

The same issue goes for `type Tags map[string]string`, where we alias Tags to a map.

Tried both latest `master` and `beta.3`

[2019-07-17 18:50] damemi commented on #137
@alexkreidler actually, #211 *did* add a simple `+optional` marker as well to support existing use cases: https://github.com/kubernetes-sigs/controller-tools/pull/211/files#diff-98d9e6de300551c3efea14dd61735526R69. With that, I think this issue can be closed as resolved.

Btw, I also have one in progress to add a `+required` marker as well. While our full `+kubebuilder:validation:..` markers are t

[2019-07-17 20:33] mengqiy commented on #262
cc: @DirectXMan12

[2019-07-17 20:56] alexkreidler opened #264 "deepcopy-gen should have good support for existing APIs and not fail on difficult fields"
`deepcopy-gen` should be able to run on an existing API codebase with as minimal changes possible and without failing or throwing errors. This means that it should work on structs who also have
- interfaces
- functions
- maps

and other types. It should ignore these fields happily and without issues so we can run `controller-gen object paths=./...` on an existing codebase and it should generate as

[2019-07-17 21:14] mengqiy commented on #236
Ref: https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning/#version-priority

[2019-07-18 19:52] hasbro17 commented on #240
@mengqiy There is also the [gen-crd-api-reference-docs](https://github.com/ahmetb/gen-crd-api-reference-docs) tool which more closely follows the format of Kubernetes API reference docs:
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/
Knative API docs example generated from that tool: https://knative.dev/docs/reference/

The table format is quite similar to the prometheus docs

[2019-07-19 19:54] jwoglom opened #270 "metav1.MicroTime set as CRD type: object instead of format: date-time, type: string"
metav1.Time is properly parsed as a date-time, while metav1.MicroTime is not.

e.g. a field definition ``` LastUpdateTime metav1.MicroTime `json:"lastUpdateTime"` ``` results in a CRD generation of:
[code]
Changing the field to `metav1.MicroTime` results in:
[code]
resulting in kubebuilder errors such as:
[code]

[2019-07-22 14:25] silasb opened #272 "Pattern troubles around {} chars"
Using v0.2.0-beta.3  (v0.2.0-beta.4 doesn't appear to be honoring any validations)

Have a simple pattern that I'm using to validate against build IDs in my project.

[code]

The problem is when I use `controller-gen` I get `extra arguments provided: "}$"` error multiple times.

[2019-07-22 18:40] #139 closed

[2019-07-22 19:13] spitfire88 opened #273 "Setup: problem running manager: tls.crt: no such file or directory"
I am trying out the tutorial for running Cronjob (https://book.kubebuilder.io/cronjob-tutorial/cronjob-tutorial.html)
When i get to the "make run" step, i see this error:

which: no controller-gen in (/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/home/gamma/.local/bin:/home/gamma/bin:/usr/local/bin/helm/:/usr/local/go/bin/:/home/gamma/.local/bin:/home/gamma/bin:/usr/local/bin/helm/:/usr/local

[2019-07-22 21:12] DirectXMan12 commented on #236
The actual issue here, I believe, is not the sorting, but the defaulting of `spec.version` using the sorted version.

Having a stable sort is nice, but what we actually need to do here is that we're consistently setting `version`.

[2019-07-22 21:44] haiyanmeng commented on #236
Thanks for pointing out, Solly.

In summary, what we really need are two things:
1) make the order of CRD versions stable;
2) explicitly set `crd.Spec.Version` to the first item of the sorted CRD version list.

[2019-07-22 22:29] DirectXMan12 commented on #242
closed by #248

[2019-07-22 22:29] #242 closed

[2019-07-23 00:14] DirectXMan12 commented on #262
fascinating.  I don't think we ever have a case of `[]*Type` in our APIs in Kubernetes -- just `[]Type`, which is one of the reasons we never saw this (we're *this* close to being source-identical to k/k's deepcopy-gen on `k8s.io/api`, which is one of the informal tests for `controller-gen object).

As for the maps, we never actually use those as type aliases in Kubernetes either, so we didn't cat

[2019-07-23 00:57] DirectXMan12 commented on #262
at any rate, fix (and regression test) coming shortly

[2019-07-23 07:16] DirectXMan12 commented on #262
That was a doozy.  I've got a regression test in place matching your description, but can you also confirm that #275 fixes your issue?

[2019-07-23 14:15] vincepri commented on #262
I'll test it out today

[2019-07-23 14:50] vincepri commented on #262
@DirectXMan12 Confirmed the patch works fine!

[2019-07-23 21:50] #262 closed

[2019-07-24 01:43] DirectXMan12 commented on #216
See also https://github.com/kubernetes-sigs/controller-tools/pull/266

[2019-07-24 01:43] DirectXMan12 commented on #216
Still need a marker for embedded-resource, but I'm calling this done for now.

[2019-07-24 01:43] #216 closed

[2019-07-24 01:46] DirectXMan12 opened #278 "Marker for x-kubernetes-embedded-resource"
Should be straightforward -- we just need to add a validation marker for `x-kubernetes-embedded-resource`, and a test case for it to the crd integration test.

The meaning is described [in the structural schema KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190425-structural-openapi.md).

probably something like `+kubebuilder:validation:EmbeddedResource`.

/go

[2019-07-24 01:47] DirectXMan12 commented on #278
May need to wait till we get 1.15 types in here to support the new field.

[2019-07-24 01:48] DirectXMan12 commented on #244
yeah, that just needs the tag

[2019-07-24 10:56] skonto opened #279 "Generated Metadata breaks crd in 1.15"
Details are described in https://github.com/kubernetes/kubernetes/issues/80493. Initially I thought that this might be a k8s issue but it looks now like an incompatibility issue for controller-tools.

The problem is that the default `preserveUnknownFields: true` in combination with
[code]
and
[code]
create this error  ```
The CustomResourceDefinition "cronjobs.batch.tutorial.kubebuilder.io" is inv

[2019-07-24 11:13] skonto commented on #279
@DirectXMan12 am I missing something here?

[2019-07-24 11:14] skonto commented on #244
@DirectXMan12 feel free to close it. It worked thanks!

[2019-07-24 18:53] ekuefler opened #280 "controller-gen drops all validation metadata in v0.2.0-beta.4"
After updating from v0.2.0-beta.2 to v0.2.0-beta.4, controller-gen appears to ignore all of the validation annotations I've defined in my custom types. Running `make manifests` after the update with no other changes causes all lines like `pattern` or `minItems` to be deleted from the CRDs.

[2019-07-24 23:35] skonto commented on #279
I verified that this works with 1.14.2 but not 1.15.1

[2019-07-25 04:32] hasheddan commented on #278
Would be happy to take this one!

[2019-07-25 04:36] hasheddan opened #281 "Marker for x-kubernetes-preserve-unknown-fields"
Similar to #278, a marker should be created to specify pruning behavior as was introduced in [v1.15](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#pruning-versus-preserving-unknown-fields). There would also need to be an integration test case for this marker.

Proposal for format of marker: `+kubebuilder:validation:PreserveUnknownFields`

[2019-07-26 01:41] tamalsaha opened #284 "How do I set pattern for metadata.name field?"
The name of my CRD object is used to create a Service. So, I want to apply the same pattern to `metadata.name` field of my CRD. How do I do that?

[2019-07-26 02:00] tamalsaha opened #285 "How do I add labels for the generated CRD yaml?"
We like to add label to our generated CRD yamls. This gives users a quick way to check the installation process worked or not.

The main issue I see is that there is parser for `MapType`. Is this something that can be supported?

[2019-07-26 02:10] tamalsaha opened #286 "Ignore internals types"
We have a repo where where one apigroup uses EAS and other api groups use CRD. We are trying to use controller-gen to generate CRD yamls. But it fails with an error like below:

[code]

You can see the change here: https://github.com/stashed/stash/pull/843

How can this be fixed?

[2019-07-26 16:44] tamalsaha opened #287 "map values must be a named type"
My apis package has a Go struct that is not a CRD. But controller-gen keeps throwing the following error:

[code]

[code]

Full Example:
https://github.com/kubedb/apimachinery/blob/report-kubebuilder-bug/apis/kubedb/v1alpha1/report.go

Clone and checkout this branch and then run `make gen` to reproduce.

How do I tell controller-gen to ignore this struct?

[2019-07-26 16:51] tamalsaha opened #288 "Support generating CRD yamls without the description fields"
The generated yamls has the description field which is useful but I have a case where it makes the CRD to cross the 1 MB limit. I would like to have the option to avoid generating the description field in the CRD yaml.

[2019-07-27 17:36] #153 closed

[2019-07-30 11:40] munnerz commented on #280
I can confirm this is the case with .4. .3 does *not* have the same issue, so I've rolled back for the time being 😄

[2019-07-30 11:41] munnerz commented on #280
/kind bug

[2019-07-30 19:06] liggitt commented on #279
`preserveUnknownFields` is a new field in 1.15. Anything setting `preserveUnknownFields: false` is opting into structural schema validation and must comply with all the structural requirements (see https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#specifying-a-structural-schema), including not redefining metadata validation rules

[2019-07-30 19:16] liggitt commented on #279
And you are correct, structural schema is required to make use of webhook conversion

[2019-07-31 09:15] jiachengxu opened #291 "controller-gen doesn't work with k8s.io/apiextensions-apiserver"
Hi folks,

I use controller-gen integrated with Kubebuilder to generate RBAC, webhook and CRDs for my project, there is a command called `make manifests` to run:
 `controller-gen "crd:trivialVersions=true" rbac:roleName=manager-role webhook paths="./..." output:crd:artifacts:config=config/crd/bases`
to generate everything, but it doesn't work for me since I have `k8s.io/apiextensions-apiserver` in

[2019-07-31 17:39] mengqiy opened #292 ":book: doc for controller-gen CLI option markers"
We currently don't have doc for the controller-gen CLI option markers as shown below. And we probably should have.

[code]

[2019-07-31 19:42] #236 closed

[2019-08-01 03:47] DirectXMan12 commented on #292
should be easy to adapt the markerdocs mdBook plugin to do this as well -- `-hhhh` outputs JSON like `-wwww`.

[2019-08-01 03:48] DirectXMan12 commented on #292
/good-first-issue

[2019-08-01 12:08] munnerz commented on #291
Can you share your types.go file containing your API definitions? It looks like you are depending on something in the apiextensions-apiserver API group 🤔 fwiw, #277 is a fix for:

[code]

[2019-08-01 13:26] jiachengxu commented on #291
@munnerz , yes, you are right, my API definitions depend on the apiextensions-apiserver API group, and thanks for the info :)!

[2019-08-01 13:29] munnerz opened #293 "Switching to go modules completely and removing dep"
When contributing to this repository, it's a bit confusing as there's both Gopkg files as well as `go modules`.

Are the Gopkg files still required? It looks like builds use go modules from what I can see, but there may be parts of the project i'm not aware of 😄

[2019-08-01 13:32] munnerz commented on #293
Ah, I see that the `test.sh` script still verified dep files, although this check appears to be passing even when I bump dependencies in `go.mod`, so I don't think it's being effective as it should be!

Is there any objection to simply moving to go modules only? With `replace` directives in the `go.mod` file (similar to [this](https://github.com/jetstack/cert-manager/blob/master/go.mod#L120-L134))

[2019-08-01 13:33] munnerz commented on #291
It looks like similar PRs for the `JSONSchemaPropsOrArray`, `JSONSchemaPropsOrBool` and `JSONSchemaPropsOrStringArray` need to be made in order to make controller-tools work for you too!

[2019-08-01 13:45] jiachengxu commented on #291
Hi @munnerz, yes, you are right, would you mind me working on this? I think your PR is a good example for me to start and I can send the similar PRs for `JSONSchemaPropsOrArray`, `JSONSchemaPropsOrBool` and `JSONSchemaPropsOrStringArray`.

[2019-08-01 18:19] droot commented on #288
Few possible options here worth considering:
- skip description generation for all fields
- truncate description field
- Keep the descriptions at the top level fields and drop for fields level below

[2019-08-01 18:20] droot commented on #288
/cc @DirectXMan12 WDYT ?

[2019-08-01 19:30] DirectXMan12 commented on #280
can you post post a reproducer?  I can't seem to reproduce this on our test data.

[2019-08-01 19:49] DirectXMan12 commented on #280
88586d41f78829b7bb6b99e0fce5fadf2726879b

[2019-08-01 19:50] DirectXMan12 commented on #280
(it's fixed on master)

[2019-08-01 20:21] mengqiy commented on #280
Closing in favor of v0.2.0-beta.5 release.

[2019-08-01 20:21] #280 closed

[2019-08-01 23:50] droot commented on #288
We discussed this offline and supporting an option to specify truncation limit for description field seems to be a reasonable approach.

[2019-08-02 02:12] ekuefler commented on #280
Confirming fixed in 0.2.0-beta.5

[2019-08-02 09:17] szediktam opened #294 "controller-gen Unknown supported Kind Interface when generating crd"
I use kubebuilder to building api by using crds.
when I generate crd by controller-gen, with a command:
     ```controller-gen crd```
 it occurs an error:
    ```Unknown supported Kind Interface```

The reason is, in my crd types, I use a interface to accept any object.
I want to generate a "object" item in crd. An example as following:
type RequestBody interface {
}
CRD define:
[code]

But the co

[2019-08-02 11:17] jiachengxu commented on #259
Yes, this would be helpful, since I encountered a similar issue with kubebuilder :https://github.com/kubernetes-sigs/kubebuilder/issues/909. I could try to work on this if help is needed.

[2019-08-02 16:45] janetkuo commented on #168
/remove-lifecycle rotten

[2019-08-02 16:58] janetkuo commented on #168
Hmm this is no longer relevant because the code has been restructured.

[2019-08-02 16:58] #168 closed

[2019-08-02 17:33] #225 closed

[2019-08-02 22:22] cadedaniel commented on #272
I too experienced this. I set up an [example repository](https://github.com/cadedaniel/kubebuilder-pattern-validation-bug/blob/master/api/v1beta1/frigate_types.go#L30-L31 ) (minimal, used Kubebuilder to set up) which reproduces the issue.

To reproduce the issue, run `make manifests`:
[code]

The error message comes from [this branch](https://github.com/kubernetes-sigs/controller-tools/blob/master

[2019-08-05 06:52] balasankarc opened #295 "Version 0.1.9 of tools bumped API version to 1.13, but same version of runtime specifies 1.12"
Version 0.1.9 of controller-runtime specifies kubernetes-1.12.3 - https://github.com/kubernetes-sigs/controller-runtime/blob/v0.1.9/Gopkg.toml#L33

However, with 0.1.9, controller-tools bumped its requirement to kubernetes-1.13.1, thus causing a mismatch between `runtime` and `tools` - https://github.com/kubernetes-sigs/controller-runtime/blob/v0.1.9/Gopkg.toml#L33

Was this bump intentional?

[2019-08-05 20:06] DirectXMan12 commented on #294
For the moment, at least, I'd use `json.RawMessage` here as the underlying type.  That should work fine.  We decided to not support this because it's not recommended as part of the Kubernetes API conventions, but we can revisit that decision if it proves onerous.

[2019-08-05 20:11] DirectXMan12 commented on #294
alternatively, `runtime.RawExtension` will covert the equivalent for specifically Kubernetes-related raw JSON blobs.

[2019-08-05 21:03] DirectXMan12 commented on #259
/kind feature
/help-wanted

You can more-or-less copy the ldflags/git approach from other projects or bits of kubernetes.  If you've done something similar before, or are willing to do a bit of bash/makefile spelunking, this is a reasonable starter issue.

[2019-08-05 21:03] DirectXMan12 commented on #259
/priority backlog

[2019-08-05 21:03] DirectXMan12 commented on #259
/help

[2019-08-05 21:03] DirectXMan12 commented on #259
(we'd probably add this as a `--version` flag)

[2019-08-05 21:11] #244 closed

[2019-08-05 22:07] jiachengxu commented on #259
Hi @DirectXMan12, if help is needed, I am willing to work on this issue, any more hints on this?

[2019-08-06 01:23] fanux opened #726 "auto generate sample yaml spec"
/kind feature

This this my api type:
[code]
After generating yamls:
[code]

[code]
The spec is `foo:bar`, auto-generate spec may be more convenience

[2019-08-06 01:34] DirectXMan12 commented on #259
~~kustomize uses goreleaser, so it's not 1-to-1, but you can get the gist of the general technique here: https://github.com/kubernetes-sigs/kustomize/blob/master/releasing/goreleaser.yaml#L11 / https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/commands/misc/version.go~~

~~Instead of goreleaser, we'd use a script to grab the version info.  The general trick is to run something like `git

[2019-08-06 01:51] DirectXMan12 commented on #279
we should be no longer specifying validation for objectmeta in the latest versions of controller-tools, in part due to this issue.

[2019-08-06 01:51] DirectXMan12 commented on #279
can you retry with beta.5?

[2019-08-06 01:53] DirectXMan12 commented on #167
closing, fixed by the overrides section in v0.2.0-xyz

[2019-08-06 01:53] #167 closed

[2019-08-06 01:56] DirectXMan12 commented on #245
so, it's technically supported, but floats are *highly* discouraged (and disallowed in official kubernetes APIs) because they won't round-trip properly, can't actually represent certain numbers exactly, etc (all the normal reasons floats are usually not what you want in a program).  We recommend using `resource.Quantity` or `int32` for your numeric types, in accordance with the Kubernetes API conv

[2019-08-06 01:57] DirectXMan12 commented on #120
fixed in v0.2.0-xyz

[2019-08-06 01:57] #120 closed

[2019-08-06 01:58] DirectXMan12 commented on #281
seems reasonable to me :-)

[2019-08-06 01:58] DirectXMan12 commented on #278
sure.  We'll have 1.15 soonish

[2019-08-06 02:23] szediktam commented on #294
Thanks for your reply. @DirectXMan12
But how to use json.RawMessage or runtime.RawExtension to make it.
Can you show me an example?

[2019-08-06 03:00] youngchul opened #296 "Type field exists on CRD validation schema"
Type field was removed from CRD validation schema (#72) because kubernetes 1.11 rejects CRDs with type property if subresource status is enabled. However, this is not the case on v0.2.0 beta release. On the master branch, `controller-gen` still generates a CRD with type field when subresource status is enabled.

[code]

[2019-08-06 06:48] magicsong opened #297 "generating CRD failed because of following fields"
1. `*float64` unsupported type "float64"(seems it is forbidden by k8s )
2. including object like https://github.com/kubernetes/apimachinery/blob/6fa4771c83b36b02580b91137a4f7daf13201b24/pkg/util/intstr/intstr.go#L41:6 (but not this package). it tells me to generate json tag to such object but it is  unneccessary because the struct itself has implement the json marshal interface

[2019-08-06 10:08] szediktam commented on #294
I use runtime.RawExtension as the type, and generated a object type in crd.
RawExtension.Raw is []byte, unmarshal it to interface to process the data.

[2019-08-06 10:13] szediktam commented on #294
Using interface type is a direct idea for user to generate crd.
Maybe it is onerous to support interface type. @DirectXMan12

[2019-08-06 20:17] DirectXMan12 commented on #294
sorry, I'm having trouble parsing your issue with `RawExtension` -- it's designed for when you need to represent an arbitrary Kubernetes object.

Sorry, I'm having trouble parsing what you're trying to say here.

[2019-08-06 20:33] DirectXMan12 commented on #264
so most of these are somewhat intentional, in that their presence and the lack of a manual deepcopy method probably indicate a malformed Kubernetes API object.  The issue is mainly that go types serve as the IDL for Kubernetes, but no all Go types and constructs "exist" in the IDL.

Skipping those fields might be fine for deepcopy (albeit pretty surprising), but what do we do for CRD generation?

[2019-08-06 20:46] DirectXMan12 commented on #264
/kind feature

[2019-08-06 20:46] DirectXMan12 commented on #264
(to be clear, I'm up for debate here, just laying out the existing thinking)

[2019-08-07 04:11] SataQiu opened #300 "Inconsistent header for generated files with other k8s code generation tools"
The header for other k8s code generation tools, such as `defaulter-gen`, `deepcopy-gen` and `conversion-gen` looks like:
[code]

But our header is different:
[code]

This may break something. For example, `verify-boilerplate.sh` in k/k uses `DO NOT EDIT` as a key word to identify automatically generated files. Ref: https://github.com/kubernetes/kubernetes/blob/master/hack/boilerplate/boilerplate.p

[2019-08-07 04:12] SataQiu commented on #300
If this makes sense, please let me know. I'd love to send a PR.

[2019-08-07 07:57] tothandras commented on #245
I think it would be better to support it and have a warning in the documentation about this. There are scenarios where precision is not important and any workaround might be worse.

[2019-08-07 09:13] muvaf opened #301 "CRD cannot be generated for Unstructured type"
We got a type that has `*unstructured.Unstructured` as [one of its fields](https://github.com/crossplaneio/crossplane/blob/master/pkg/apis/workload/v1alpha1/types.go#L150) and we're generating CRD off of it. I am working on transition to controller-tools v0.2.0 and running into the following error:
[code]

Looked into the source code and there really isn't a tag for `Object` field, however, even i

[2019-08-07 16:02] szediktam commented on #294
sorry for my poor english.
I use runtime.RawExtension to solve my problem.

But, I think it is necessary to support initerface type when generate crds by controller-gen.

[2019-08-08 16:27] marun commented on #301
Have you considered using a `RawExtension` field and adding mutator/accessor methods on the type to convert to/from unstructured?

[2019-08-08 18:57] ncdc commented on #279
@DirectXMan12 I'm seeing this too with beta.5. Still digging into it but wanted to report it here.

[2019-08-08 18:58] ncdc commented on #279
Or rather, `preserveUnknownFields` is still `true` (the `metadata` validation is correctly switched to `object`).

[2019-08-08 19:01] ncdc commented on #279
If I manually set `preserveUnknownFields`, I'm able to deploy everything.

[2019-08-08 19:48] ncdc commented on #279
Aha, we need #281

[2019-08-08 19:49] benjaminjb commented on #206
/remove-lifecycle stale

[2019-08-08 19:53] liggitt commented on #281
note that `spec.preserveUnknownFields: true` will not be allowed in v1, but must be specified in the schema itself, for example:
[code]

Also note that use of `x-kubernetes-preserve-unknown-fields: true` to avoid specifying any schema properties is discouraged, since it limits the amount of useful information available to clients. Use for specific subtrees that can contain arbitrary JSON is the in

[2019-08-09 02:24] DirectXMan12 commented on #281
yep, the marker would set the x- value.

[2019-08-09 06:22] muvaf commented on #301
I haven't yet. If we have to change the type of the field, this will require an interface change on our CRDs though, so, it'd be awesome if we can get the `Unstructured` type to work somehow.

[2019-08-09 08:21] muvaf opened #302 "Single-version generated CRDs cannot be installed"
Probably I missed something but I can't get a single-version CRD to be installed on my cluster.

This is a project that has 2 kinds generated by kubebuilder v2: https://github.com/muvaf/kubebuilder-init

Check it out and run the following:
[code]

You'll get:
[code]

I see that it hits the following error on https://github.com/kubernetes/apiextensions-apiserver/blob/master/pkg/apis/apiextensions/v

[2019-08-09 09:48] muvaf commented on #302
Just tested it with k8s 1.14.5. The creation command succeeds but all validations are omitted.

The yaml file I use for creation:
[code]

What I get when I run `kubectl get crd eksclusters.compute.aws.crossplane.io -o yaml`
[code]

[2019-08-10 16:05] cliveseldon opened #304 "IntOrString is not structural in generated OpenAPIv3 CRD"
I'm using kubebuilder v2.0.0-beta.0 with a api Go type that includes `v1.PodSpec`.
The generated CRD yaml can be installed by fails to be structural with condition errors like:

[code]

I would expect the auto-generated OpenAPIV3 definitions to be structural.

[2019-08-11 23:33] #81 closed

[2019-08-12 22:41] mengqiy commented on #304
`controller-gen` currently generates
[code]
which works with 1.14 and older, but will be rejected by 1.15+, since it's not structural.

For 1.15+, we should generate something like
[code]

[2019-08-12 22:42] mengqiy commented on #304
cc: @droot @DirectXMan12

[2019-08-12 22:45] mengqiy commented on #297
Re. 1, float is not roundtrip-able, so it's not allowed in k8s.
Re. 2, see https://github.com/kubernetes-sigs/controller-tools/issues/304

[2019-08-12 22:45] #297 closed

[2019-08-12 22:55] DirectXMan12 commented on #304
To clarify a question I had earlier: If I specify `x-kubernetes-int-or-string: true`, the validation code seems to imply that the API server will be fine with the `anyOf`, so we should be fine.

[2019-08-13 06:03] #294 closed

[2019-08-13 22:26] #292 closed

[2019-08-14 00:02] DirectXMan12 commented on #245
it's not just precision -- it's namely that it doesn't round-trip.  I'm can you provide a concrete example here of a scenario where you want to use float?

[2019-08-14 09:02] tothandras commented on #245
@DirectXMan12 We have an operator managing [canary releases](https://banzaicloud.com/blog/istio-canary/) (using Istio). The user should be able to provide arbitrary prometheus queries with thresholds (usually a floating number) alongside the built-in metrics (request success rate and request duration).

[2019-08-15 09:43] runzexia commented on #197
I think this should be a CR issue in my scenario, I am very sorry to submit the problem to CT here. My webhook configuration is registered by CR's `WebhookBuilder` to k8s,
Can I modify `sideEffects` in the old version of CR (v0.1.10)?

[2019-08-15 16:30] mengqiy commented on #197
You can try it with v0.1.*. But IIRC restarting the webhook server may overwrite it.

[2019-08-15 20:12] DirectXMan12 commented on #245
I think that's probably a better case for quantity than for a normal float, but I see your point.

[2019-08-15 20:12] DirectXMan12 commented on #245
we could also have an "allowDangerousTypes" option too.

[2019-08-16 02:07] #197 closed

[2019-08-16 12:32] tothandras commented on #245
@DirectXMan12 Thank you for considering it! From a UX perspective, by default I would log out a warning with a link to the relevant part of the documentation or a short description, but not fail to build. The `allowDangerousTypes` option could be used to turn off this warning.

[2019-08-16 12:51] munnerz opened #307 "Feedback on creating conversion webhook CRDs using controller-tools"
I've been spending the last few days implementing a conversion webhook for cert-manager.

For context, cert-manager does *not* use Kubebuilder, however it *does* use controller-tools to generate CustomResourceDefinition resources. We are also utilising the upstream `conversion-gen` tool to generate our conversions, as opposed to defining one of our external versions as the 'hub version' (as descri

[2019-08-19 16:11] hasheddan commented on #301
Updating [the link referenced above ](https://github.com/crossplaneio/crossplane/blob/master/apis/workload/v1alpha1/types.go#L150) to the `*unstructure.Unstructured` field.

[2019-08-19 20:32] DirectXMan12 commented on #307
Will take a look at the patch, seems reasonable

there's a fix for 2 in #290.  Should be in the most recent release (v0.2.0-rc.0)

Hmm... the problem is, we were trying to avoid things that aren't inherent to the code that the marker lives in.  For instance, `path` is inherent, because it's generally hard-coded in the setup, while name and namespace *generally* aren't inherent, since they *general

[2019-08-19 20:34] DirectXMan12 commented on #245
/kind feature
/priority backlog
/help

[2019-08-22 05:03] rajathagasthya opened #309 "Document mapping between controller-tools and k8s versions"
It would be helpful to document controller-tools version compatibility with k8s versions.

[2019-08-22 17:35] DirectXMan12 commented on #178
this is super old.  Fixed in new controller-gen

[2019-08-22 17:35] #178 closed

[2019-08-25 17:09] cliveseldon commented on #304
Any update on this? Happy to help if you point me to the code?

[2019-08-26 13:30] mengqiy commented on #304
The code is here: https://github.com/kubernetes-sigs/controller-tools/blob/a653df4cae21d140ed307073ccbfb1d7e245d3a6/pkg/crd/known_types.go#L71-L79

[2019-08-31 19:32] #163 closed

[2019-09-02 15:25] BenWUKFast commented on #272
This is a regression from V1. I'm refactoring a controller and ran into this issue.

Here's an example off UUIDv4 validation which fails due to this regression

[2019-09-03 15:33] DirectXMan12 commented on #127
/remove-lifecycle stale
/lifecycle frozen

[2019-09-03 15:34] DirectXMan12 commented on #151
done, can be found in the book under the reference section, and on the CLI via `-w` and `-h`

[2019-09-03 15:34] #151 closed

[2019-09-03 18:20] #301 closed

[2019-09-04 08:07] ghost opened #313 "Document marker locations"
I'm using kubebuilder 2.0, in v1, the controller-gen version used allowed markers to be placed in function godoc position, however in controller-gen 0.2.0 it must be placed outside of that. It's worth documenting in kubebuilder, but I think it would be a good idea to get it documented in the tooling first. I can't see it mentioned anywhere or at least explicitly made clear.

Wrong example:

[code]

[2019-09-04 09:11] voelzmo commented on #279
Just found this as well when using kubebuilder on 1.15.3
I'm not sure how to fix this currently – can I do some manual changes until #281 finds its way?

[2019-09-09 12:19] aanm opened #315 "Unable to create schema validation with a regex that is quoted with single quotes"
[code]
[code]
/kind bug

cc @DirectXMan12

[2019-09-09 14:16] DirectXMan12 commented on #315
`// +kubebuilder:validation:pattern="Fo{,2}` should work.  Anything that's not a "trivial" string must be quoted.  The quoted strings follow the rules of Go's own strings.  See https://book.kubebuilder.io/reference/markers.html#marker-syntax for more details.

Feel free to re-open if this doesn't solve your issue.

[2019-09-09 16:49] aanm commented on #315
I did try single quotes `'` but not `"`. Thanks @DirectXMan12

[2019-09-09 16:53] DirectXMan12 commented on #315
hmm... single quotes didn't work?

[2019-09-09 16:54] DirectXMan12 commented on #315
That seems like a bug

[2019-09-09 17:06] aanm commented on #315
@DirectXMan12 yep, I can confirm. Single quotes doesn't work.

[2019-09-09 17:49] DirectXMan12 commented on #315
huh

[2019-09-09 17:50] DirectXMan12 commented on #315
will attempt to reproduce

[2019-09-09 17:50] DirectXMan12 commented on #315
possibly a parser bug

[2019-09-10 10:33] code0x9 opened #316 "Generated OpenAPI validation spec with Enum Array is invalid"
from kubebuilder 2.0, generated openapi validation spec is changed. i was able to circumvent this problem by manually patch generated CRD in crd/kustomization.yaml, but i think this one needs fix.

foo_types.go
[code]

expected CRD
[code]

actual CRD
[code]

kustomization.yaml patch
[code]

[2019-09-11 07:34] devholic commented on #316
I think this can be resolved by using type alias, like:

[code]

[2019-09-16 03:30] #173 closed

[2019-09-17 02:51] ekuefler commented on #227
/remove-lifecycle stale

I believe this is still an issue.

[2019-09-17 21:21] DirectXMan12 commented on #315
Ah, too many languages floating around -- we follow Go syntax, so single quotes denote characters, not strings :-)

[2019-09-17 21:21] #315 closed

[2019-09-17 21:21] DirectXMan12 commented on #315
(you can use either double quotes or backticks, both of which follow Go's parsing semantics)

[2019-09-18 08:17] calind opened #320 "Generate go code for CRDs"
Currently the controller-tools generate yaml files from defined types. It would be very useful to generate the go code for CRDs as well. This way, the controller manager can reconcile/install the CRDs before starting the actual controllers.

[2019-09-18 17:28] aanm commented on #315
Thanks for taking a look at it!

[2019-09-20 08:48] zhsj commented on #302
I think it's been fixed by #322

[2019-09-20 13:12] aanm opened #324 "controller-tools creates schema with '$ref' which is not supported in k8s"
[code]

[code]

`kubectl apply` returns a `$ref: Forbidden: $ref is not supported`

/kind bug

[2019-09-20 16:45] tamalsaha commented on #286
@droot / @DirectXMan12 , can this issue get some love? We are looking to use Kubebuilder for the new CRD GA features. This is a blocker for us adopting Kubebuilder.

[2019-09-20 20:21] DirectXMan12 commented on #286
hey, sorry, somehow I missed this in my normal triage

It should be possible to skip internal packages.  I'd be in favor of having a marker that indicated internal packages or whatever.

Are you willing to submit a PR? It should be a pretty simple PR -- you'll need to change the logic in `"pkg/crd/parser".Parser.indexTypes` that populates the group-version for each package to skip internal package

[2019-09-20 20:21] DirectXMan12 commented on #286
/kind feature

[2019-09-21 09:02] tamalsaha commented on #286
@DirectXMan12 , I took an attempt at implementing this feature https://github.com/kubernetes-sigs/controller-tools/issues/286 . PTAL.

[2019-09-24 16:45] ndavidson-pulse opened #327 "controller-gen doesn't accept -mod=vendor, downloads source if it can't find the module cache"
I've been trying to vendor a project using kube-builder and controller-gen and build it in our CI system.

However I noticed a pretty significant increase in build-time and when I investigated I discovered that each time I exec controller-gen in a container, if it can't find a populated go package source cache it fetches every dependency from the go.mod / go.sum.

There doesn't appear to be any wa

[2019-09-25 08:24] sttts opened #328 "Spec of API machinery's Quantity is wrong (incomplete)"
https://github.com/kubernetes-sigs/controller-tools/blob/538d4b23662f14d691b7c4c3a9a841a497a4f1e2/pkg/crd/known_types.go#L58 specifies quantities as string, while they allow ints and numbers https://github.com/kubernetes/kubernetes/blob/5713c22eecff4610026643fbd3d37c33a43c168d/staging/src/k8s.io/apimachinery/pkg/api/resource/quantity_test.go#L219. We cannot express int-or-number-or-string in struc

[2019-09-25 18:16] #192 closed

[2019-09-30 13:51] reith opened #330 "CRD Patch genereator?"
Hi,

I like to have some generators to help making patches for status changes. In a naive approach I made `ChangeReady(bool ready)` that sets `Status.Ready` on my CRD and records whether It's changed or not. Then `Status.Data` could make proper patch.

I think it is a useful job to have some code generators for and I'm looking to to make some. Does `controller-tools` currently provide helpers for

[2019-09-30 21:40] DirectXMan12 commented on #291
I'm curious as to why your types depend on apiextensions?  Are you embedding a CRD spec in your types?

[2019-10-01 12:12] dlespiau commented on #259
/assign @dlespiau

[2019-10-02 20:21] erictune opened #333 "controller-gen doesn't know its version"
I wanted to mention the version of controller-gen I am using as part of reporting another issue.   But controller-gen doesn't print it version out, AFAICT.

[2019-10-02 20:22] erictune commented on #333
Oh, this is a dup of #259.

[2019-10-02 20:22] #333 closed

[2019-10-02 20:31] erictune opened #334 "Dubious output from "controller-gen crd -w""
Repro:
- Run `$ controller-gen -w`
- Find the line like:
`+kubebuilder:validation:ExclusiveMaximum=<bool>  type      indicates that the maximum is "up to" but not including that value.`
- Ponder whether `<bool>` is the right type to use to express an ExclusiveMaximum.
- Ponder whether this field should really be allowed to be applied to `type` rather than `field`.   Does someone often want to say

[2019-10-04 01:42] marun commented on #328
/assign

[2019-10-04 23:43] erictune opened #336 "controller-gen panics if there is an empty or incomplete go file in your project."
If you accidentally write an empty or incomplete .go file in your KubeBuilder project and then run `make`, it will invoke controller-gen, which will panic.  I would expect controller-gen to print an error message instead.

Repro:
[code]

[2019-10-05 12:48] reith commented on #330
[This](https://github.com/reith/controller-tools/tree/patch-generator) is my unpolished work that generates patch implementation for primitive types. Do you agree such thing is useful to have in kubebuilder?

[2019-10-07 21:27] #259 closed

[2019-10-07 22:35] #286 closed

[2019-10-08 08:50] reith commented on #330
I changed my approach in first post and generated code looks like:
[code]

For this CRD:
[code]

[2019-10-10 21:06] pmorie commented on #250
@marun is this addressed by https://github.com/kubernetes-sigs/controller-tools/commit/6a7730120cada464a5dd6426b78873e74367b82d ?

[2019-10-10 21:56] hasbro17 commented on #285
@mengqiy @DirectXMan12 Is it possible to do this in the `v0.2.0+` releases of `controller-gen`?

Plus what would be the marker path for setting object metadata if that's possible? It's not immediately clear from the [marker pkg godocs](https://godoc.org/sigs.k8s.io/controller-tools/pkg/markers).

[2019-10-10 22:14] tamalsaha commented on #285
We use `kubectl` to apply labels to generated crd yamls. https://github.com/stashed/stash/blob/5fb54194c1ff5faf7d7d15176a4107c127319395/Makefile#L227

This workaround is working for us.

[2019-10-11 00:54] mengqiy commented on #285
Adding a label is not specific to CRD, it can be considered as a customization of an object.
One way to add the label is using kustomize. Use either the commonLabel or a patch to add the label.

@DirectXMan12  WDYT?

[2019-10-11 00:59] marun commented on #250
/close

Fixed by #323

[2019-10-11 00:59] #250 closed

[2019-10-11 05:15] hasbro17 commented on #285
@mengqiy Fair point. It's not specific to the CRD's API so this probably doesn't need to come from `_types.go`.
A kustomize patch would be better, or an additional step after running the crd generator like @tamalsaha's work around.

[2019-10-11 11:33] enxebre opened #339 "Marker for x-kubernetes-immutable and x-kubernetes-immutable-keys"
Adding a validation marker for Marker for x-kubernetes-immutable and x-kubernetes-immutable-keys, and a test case for it to the crd integration test.

KEP: https://github.com/kubernetes/enhancements/pull/1265/files
WIP PR: https://github.com/kubernetes/kubernetes/pull/83743

[2019-10-11 15:54] DirectXMan12 commented on #285
yeah, either a kustomize patch, kubectl, etc is the right approach.  Closing.

[2019-10-11 15:54] #285 closed

[2019-10-11 21:14] jameshochadel opened #340 "Nested anonymous structs cause panic when generating CRDs"
This issue was found while using `controller-tools` with Kubebuilder.

**To reproduce:**

Create a new Kubebuilder v2 project:

[code]

In `./api/v1/frigate_types.go`, modify `FrigateSpec` to be:

[code]

And run `make manifests`.

_Expected behavior_: `controller-get` is fetched, and the CRDs are generated.
_Actual behavior_: I get the following panic:

[code]

The panic occurs whether or not the

[2019-10-14 14:02] robbie-demuth opened #342 "Support validating internal list items on list types"
Per https://book.kubebuilder.io/reference/markers/crd-validation.html, validating tags like `+kubebuilder:validation:MinLength` and `kubebuilder:validation:Pattern` must be specified on `string` fields or `string` types. If one has a field of type `[]string`, however, it is impossible to use such tags on the field directly to enforce validation on the individual list items. This forces users to al

[2019-10-14 16:39] robbie-demuth commented on #316
This is similar to https://github.com/kubernetes-sigs/controller-tools/issues/342. Creating a type alias works, but has other undesirable side effects

[2019-10-14 16:41] robbie-demuth commented on #237
I didn't find this initially, but it looks like the same issue that I just opened https://github.com/kubernetes-sigs/controller-tools/issues/342

[2019-10-14 18:38] robbie-demuth commented on #342
@DirectXMan12 @damemi @sttts - Do any of you have any insight into this? Could this be implemented by updating the `ApplyToSchema` methods to interact with the `Items` field for the desired validation markers?

[2019-10-15 14:08] danigrmartinez opened #343 "singular annotation does not get apply to the crd"
I wanted to get a specific single and plural name not base on the kind of the CRD. According to the [documentation](https://book.kubebuilder.io/reference/markers/crd.html) can be done using the `+kubebuilder:resource:singular`.

### Reproduce the issue
[code]

### Expected CRD result
[code]

### Actual CRD result
[code]

This is because on the [ApplyToCRD function](https://github.com/kubernetes-si

[2019-10-15 18:07] sttts commented on #342
The current solution is to alias the string type and add marker for the alias.

We had a discussion before to have a special syntax to apply something for items or additionalPropoerties. This was never implemented or fleshed out AFAIK. Something around the lines of
[code]

[2019-10-15 18:50] robbie-demuth commented on #342
While aliasing the string type and adding the marker to the type itself works, doing so requires significant controller-side changes since there's no way to cast between slices of different types. The ability to do something like you've shown above would be a huge improvement.

[2019-10-15 18:57] sttts commented on #342
It is painful, I understand. @DirectXMan12 can comment on that topic more than I can.

[2019-10-17 16:34] alexkreidler commented on #261
/remove-lifecycle stale.

[2019-10-17 16:35] alexkreidler commented on #261
/remove-lifecycle stale

[2019-10-22 00:26] joelanford opened #348 "Does CRD controller-gen version attribution work for other binaries?"
In https://github.com/kubernetes-sigs/controller-tools/pull/338, the version of `controller-gen` that is used to generate the CRD is inserted into the CRD as an annotation.

As I understand it, this works by querying the go module metadata of the Go binary. This works well for `controller-gen`, but how does it work for binaries that vendor and use controller-tools as a library?

If I understand co

[2019-10-22 06:18] gaocegege commented on #245
I am glad to share why we need float in CRD spec.

We are implementing an AutoML (a.k.a Hyperparameter tuning) system using kubebuilder. CRD is here https://github.com/kubeflow/katib/tree/master/pkg/apis/controller.

You can see here https://github.com/kubeflow/katib/blob/master/pkg/apis/controller/common/v1alpha3/common_types.go#L42

We allow users to define the goal of the tuning experiment (e.g

[2019-10-23 14:40] sebgl opened #349 "Empty validation field when generating CRDs with multiple versions"
I think there's a bug which prevents the trivial versions option to work as expected.

How to reproduce:

* setup an `apis/` pkg using a kubebuilder directory structure, containing multiple versions of the same CRD, with a different spec:
[code]
* generate the CRD manifests using `crd:trivialVersions=true`
* according to the code, the CRD top-level `validation` field should be filled with the sche

[2019-10-23 14:42] sebgl commented on #349
Looking at the code, the `validation` and `schema` fields are mutated in `toTrivialVersions()`.
I think we process each individual groupKind as many times as there are corresponding versions, but since we end up mutating the same CRD multiple times, its validation field becomes `nil` starting the second iteration.

[2019-10-30 20:00] stijndehaes commented on #273
@spitfire88 Running in to the same issue right now. Just added validating and Defaulting webhooks to the code. Now can't run this locally anymore. Anyone any idea?

[2019-10-30 20:01] stijndehaes commented on #273
FOund the solution `export ENABLE_WEBHOOKS=false` Forgot to set this environment variable

[2019-10-30 21:55] DirectXMan12 opened #352 "CRD v1 support"
We should support (optionally) generating apiextensions/v1 CRDs.  This adds support for defaulting + a handful of other things.  We'll need to keep v1beta1 support around for a while.

[2019-10-30 21:55] DirectXMan12 commented on #352
/kind feature
/priority important-soon

[2019-10-31 22:45] DirectXMan12 commented on #352
/assign @DirectXMan12

[2019-11-05 14:15] damemi opened #357 "Directories (options?) containing "0x" are parsed as hexadecimal"
Error, when using a random tmp dir in a CI test:
[code]
(https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_api/508/pull-ci-openshift-api-master-verify/1474)

It seems that the `0x` in the output dir is being parsed as hexadecimal. I don't think we need to support hexadecimal values for our option flags, so it is probably worth it to sanitize those.

[2019-11-05 21:29] DirectXMan12 commented on #288
fixed a while ago with the `maxDescLen` option

[2019-11-05 21:32] DirectXMan12 commented on #245
@gaocegege it's not clear to me why that needs *float* in the IEEE sense.  We could improve the syntax for resource.Quantity a bit, but I think resource.Quantity should suffice for your use case.

[2019-11-05 21:51] DirectXMan12 commented on #348
The traditional method is to use linker flags, but that doesn't provide a good answer with go get.  The other option is manual updates, but that's also not great.

I *think* we can probably traverse the dependencies in the debug info if the main module doesn't look like controller-gen -- that's probably the most reliable method here.

That could work, but defeats the purpose a bit (determine usage

[2019-11-05 21:51] DirectXMan12 commented on #348
/kind feature
/help-wanted
/priority backlog

[2019-11-05 21:55] DirectXMan12 commented on #342
we've thought about implementing `:items:` before.  It's not entirely clear how the internals would work beyond literally having a copy of every marker, but that's a discussion for the internals.  Someone would need to do a prototype.

We removed the way it used to work because it was *very* inconsistent and caused issues when you actually wanted a marker to apply to the field in general and not t

[2019-11-05 21:56] DirectXMan12 commented on #342
I'd *encourage* new users to do the type aliasing, but I understand that that's clunky sometimes, and that it'd cause existing users some pain, so figuring out an alternate solution (like `:items:`) would be good.

[2019-11-05 21:57] DirectXMan12 commented on #240
/remove-lifecycle stale

[2019-11-05 21:58] DirectXMan12 commented on #240
/help

but you'll need to put together a proposal first

[2019-11-06 02:00] gaocegege commented on #245
Yeah, It also works.

[2019-11-06 05:51] joelanford commented on #155
This was resolved in #200.

[2019-11-06 05:51] #155 closed

[2019-11-06 21:59] #352 closed

[2019-11-07 05:03] benjaminjb commented on #206
/remove-lifecycle stale

[2019-11-07 17:30] alexkreidler commented on #264
/remove-lifecycle stale

[2019-11-08 20:04] nzmsv commented on #313
Is this a regression?  It is certainly surprising that controller-gen started silently ignoring markers in previously working code.

[2019-11-08 20:12] nzmsv commented on #313
Actually, it appears that this behavior is somewhat documented, but it is certainly confusing.  For example, see https://book.kubebuilder.io/reference/markers/rbac.html: it says the marker belongs "on package".  But if it appears anywhere else it is silently ignored.  Printing a warning would be a huge improvement.

[2019-11-11 06:47] mariantalla opened #359 "Marker for x-kubernetes-map-type"
Create a marker to validate `x-kubernetes-map-type`, which is a CRD API extension since https://github.com/kubernetes/kubernetes/pull/84113.

/kind feature

[2019-11-11 06:48] mariantalla commented on #359
/assign
(related to https://github.com/kubernetes-sigs/structured-merge-diff/issues/115)

[2019-11-11 09:18] BenWUKFast commented on #313
I feel this is a regression pre-1.0 but I don't have the time to test I'm afraid.

Warnings would be a blessing and save a lot of head scratching (and potential malicious edits)

[2019-11-12 23:28] maxsmythe commented on #291
[Gatekeeper](github.com/open-policy-agent/gatekeeper) is embedding a CRD spec into its `ConstraintTemplate` resource:

https://github.com/open-policy-agent/frameworks/blob/1307ba72bce38ee3cf44f94def1bbc41eb4ffa90/constraint/pkg/apis/templates/v1beta1/constrainttemplate_types.go#L46

[2019-11-14 12:51] thetechnick commented on #291
@jiachengxu and I are also embedding the CRD Spec into one of our resources.
We are working on tooling that manages CRDs dynamically.

[2019-11-14 20:33] damemi commented on #137
I think this can be closed, now that we have the ability to switch the default between optional/required, `// +optional` should be respected when in required mode.

[2019-11-14 20:33] damemi commented on #137
/close

[2019-11-14 20:33] #137 closed

[2019-11-15 05:12] tamalsaha commented on #304
@mengqiy / @DirectXMan12 , PTAL https://github.com/kubernetes-sigs/controller-tools/pull/360

[2019-11-15 17:21] DirectXMan12 commented on #291
We might want to better generically detect when something implements the JSON interfaces manually -- we have the typechecking info, so it should be possilbe.

/help

[2019-11-15 20:20] #304 closed

[2019-11-19 20:32] pgier opened #363 ""Error: no generators specified" conflicts with cli help"
The controller-gen cli help print this example
[code]
But running this command fails with the error message `Error: no generators specified`.  I'm guessing the cli help is wrong, or should this run all the generators?

[2019-11-21 07:40] rockmenjack opened #364 "controller-gen just panic upon cyclic import"
[code]

It took me a whole morning to figure out why...

The root cause was:
package ```controllers``` import some other package which in turns imports ```controllers```

[2019-11-21 17:54] jgustie commented on #279
I found that `v1beta1` generated CRDs that use `IntOrString` are problematic because of the use of `x-kubernetes-int-or-string`: this seems to force the use of structural schemas on the API side regardless of if `preserveUnknownFields` is explicitly set to "true" or left unset (and structural schema validation currently fails because of the inclusion of `metadata` definitions).

Manually removing

[2019-11-23 09:46] vsliouniaev commented on #240
Prometheus-operator documentation generation is markdown-focused and has some limitations, especially around formatting lists and code block examples for fields.

[2019-11-25 21:45] estroz commented on #127
@DirectXMan12 I assume this feature still needs working on. Has there been any work done on determining which failurepolicy is the best option yet?

[2019-11-25 21:59] mengqiy commented on #127
This is already done. kubebuilder currently defaults it to `fail`.
e.g. https://github.com/kubernetes-sigs/kubebuilder/blob/fc60d25463298ee14da3ccb0f6c9cb9cc70af94d/testdata/project-v2/api/v1/captain_webhook.go#L37

[2019-11-25 21:59] #127 closed

[2019-11-26 13:12] pires commented on #302
I'm running into this as well if I set `crdVersions=v1`. Support for CRD v1 was introduced in #356 which I'm thinking introduced a regression that indeed had been fixed by #322.

If I don't set `crdVersions=v1`, it just works.

I am using `controller-gen` v0.2.4 and `kubebuilder` v2.2.0.

[2019-11-26 13:17] pires commented on #302
Interestingly enough, i see this problem only when testing my controller w/ `envtest`, not with `kubectl apply --validate -f`.

`kubectl` is v1.16.3 and I'm running `kind` v0.6.0 (Kubernetes v1.16.3).

[2019-11-26 13:20] pires commented on #302
Here's a sample with `crd:crdVersions=v1,trivialVersions=false`: https://github.com/pires/kubebuilder-issue/blob/master/config/crd/bases/example.pires.github.com_stuffs.yaml#L18-L23.

[2019-11-27 13:56] TommyLike opened #367 "controller-gen doesn't work on mac"
**environment**:
1. system os: mac catalina 10.15
2. controller-gen: Version: v0.2.4
3. go: go version go1.12.6 darwin/amd64

**Error**:
[code]
**background**:
I created a new operator project with kubebuilder init command, but it failed to execute the make generate command which is generated by the framework on macos.

[2019-11-28 15:48] aeb-sia opened #369 "Generating CRD with a validation pattern fails"
When I try to generate a CRD with the validation pattern
[code]
set on a field, it keeps failing. I found out that the issue is the `:`

It must be a sort of recent change, since the pattern used to work fine. I updated go and the operator-sdk lately. I suspect this pulled a couple of updates that broke things

I'm using the `operator-sdk version: "v0.12.0", commit: "2445fcda834ca4b7cf0d6c38fba631

[2019-12-04 05:26] hasheddan commented on #281
Fixed by #345

/close

[2019-12-04 05:26] #281 closed

[2019-12-04 05:26] hasheddan commented on #278
Fixed by #345

/close

[2019-12-04 05:26] #278 closed

[2019-12-04 06:43] tamalsaha commented on #288
@DirectXMan12 , is it possible to set this on per CRD basis in a single api group?  Right now, I pass this to the controller-tools binary. So, description of  all the crds in an api group is truncated.

[2019-12-04 11:46] pires commented on #302
@muvaf my workaround is to not install the CRDs with `envtest` and instead do it with `kubectl` before running the tests. If you built your project with `kubebuilder`, it should be as easy as adding in the `Makefile` the goal `install` as a dependency of goal `tests`.

With that said, I'm thinking the problem lies in `envtest`, since it fails in both the default mode (running its own `etcd` and `k

[2019-12-04 13:06] Kyrremann opened #370 "Generate labels requirements"
In our CRD we require that everyone labels their resource with a `team`-label. In `openAPIV3Schema` we can use the following:
[code]

But I can't seem to find a way to solve this with the `controller-gen` tool.

Has anyone tried to do something similar, or is this maybe an unsupported feature?

[2019-12-04 23:41] DirectXMan12 commented on #288
it's not currently possible (mainly since we consider this a hack and would like to move to a place where this isn't a problem).  You could just run controller-gen separately for that API group.

[2019-12-05 12:25] muvaf commented on #302
@pires Thanks for the suggestion! I haven't run into this issue since we haven't needed to migrate to CRD `v1` version. Is there a technical reason that you want to pass `crdVersions=v1` explicitly? As far as I see, api-server would happily manage the underlying conversions.

[2019-12-05 14:43] pires commented on #302
You need this in order to enable the generation of certain markers, like `kubebuilder:validation:default`.

[2019-12-05 20:53] DirectXMan12 commented on #279
@sttts is that intentional?

[2019-12-05 20:58] liggitt commented on #279
yes, use of new features like extensions requires structural schemas.

[2019-12-05 21:11] pires commented on #302
As per @DirectXMan12 comment, it seems I have no issue at all and this is expected https://github.com/kubernetes-sigs/controller-tools/pull/322#issuecomment-562311830 when doing CRD v1 alone.

[2019-12-05 21:30] DirectXMan12 opened #371 "preserve source spans through the whole generation process"
we lose source span information partway through.  It'd be nice to preserve this so that we could give better error messages.

[2019-12-05 21:30] DirectXMan12 commented on #371
/kind feature
/priority important-longterm

[2019-12-05 21:34] DirectXMan12 commented on #367
You're missing a C compiler, which is required to work with cgo.  Install the dev tools for your system.

[2019-12-05 21:34] #367 closed

[2019-12-06 08:21] tamalsaha commented on #288
That does not work for me. All my CRDs are in the same api group but one CRD is causing problem. Is it possible to run YAML generation for a single CRD in an api group?

[2019-12-07 00:20] pgier opened #372 "unable to apply example cronjob crd"
I ran into this issue when trying to upgrade to the latest controller-gen (v.0.2.4).  I'm seeing a validation error when trying to create the example cronjob CRD.
[code]
I'm not sure if this is a bug, or if there is some other config necessary for this to work.

Edited because I think this is actually not related to #360 like I originally thought.

[2019-12-08 09:59] balasankarc commented on #295
I still think that mismatch is weird, but I don't care about it anymore. Hence closing.

[2019-12-08 09:59] #295 closed

[2019-12-09 17:46] pgier opened #373 "x-kubernetes-int-or-string causes some validation errors"
The addition of x-kubernetes-int-or-string in CRD generation in #360 (added in v0.2.3) activates CRD validation which was not activated in earlier controller-gen versions.
As an example, add an IntOrString field to the FooSpec in foo_types.go, and add a comment on the ObjectMeta field in the Foo struct.  Using controller-gen v0.2.2 this generates a valid (not strictly checked) CRD.  Using latest c

[2019-12-09 17:54] pgier commented on #373
Example types.go and generate CRD files.
[controller-gen-example-foo.tar.gz](https://github.com/kubernetes-sigs/controller-tools/files/3941061/controller-gen-example-foo.tar.gz)

[2019-12-09 21:23] #302 closed

[2019-12-13 14:02] #257 closed

[2019-12-13 18:05] #237 closed

[2019-12-16 22:20] #270 closed

[2019-12-18 21:51] vincepri opened #375 "Converting CRDs to v1 generates invalid spec.versions"
After adding `crd:crdVersions=v1` option to our controller-tools generator and running tests in Cluster API, it seems that the generated CRDs have an invalid `spec.versions`.

In more details, the error seems to be returning because the block
[code]

is the same across the versions we have, and it's not being set top-level (like in v1beta1).

Error received:

              Message: "CustomResource

[2019-12-18 21:51] vincepri commented on #375
/kind bug

[2019-12-19 00:53] mengqiy opened #376 "Marker parsing logic is not compatible with bazel targets"
If I want to run controller-gen in bazel, I may run something like:
`controller-gen object:headerFile=./hack/boilerplate.go.txt paths="//path/to/my/package:name"`
But our code currently doesn't like `:` when it's not in a "map":
https://github.com/kubernetes-sigs/controller-tools/blob/998668a61585e05bbd875e2fb0d0f536af4cdb58/pkg/markers/parse.go#L353-L380
Currently 3 places use it in the same file

[2019-12-19 00:53] mengqiy commented on #376
cc: @DirectXMan12

[2019-12-19 05:18] ekuefler commented on #227
/remove-lifecycle stale

Still sad about this

[2019-12-19 12:37] porridge opened #377 "Problems with prepending "---" in when generating YAML"
There are two issues with [this code](https://github.com/kubernetes-sigs/controller-tools/blob/998668a61585e05bbd875e2fb0d0f536af4cdb58/pkg/genall/genall.go#L110-L115):
1. the `---` dashes separator is needlessly prepended even at the top of files that contain just a single file. This is semantically equivalent to the canonical form or using `---` as a *separator*, however it creates problems with

[2019-12-19 15:49] vincepri commented on #375
Actually nevermind, this is because kubebuilder isn't running 1.16 yet.

/close

[2019-12-19 15:49] #375 closed

[2019-12-19 21:16] DirectXMan12 opened #380 "duplicate marker: XPreserveUnknownFields vs PreserveUnknownFields"
@sttts did you intend to have have preserveunknownfields registered as both `kubebuilder:validation:XPreserveUnknownFields` and `kubebulder:pruning:PreserveUnknownFields` (field only)?

I seem to recall that only the latter was desired.

[2019-12-19 21:52] sttts commented on #380
I think the later only.

[2019-12-20 19:14] ZedYeung opened #383 "How to skip/ignore specific type?"
I have an interface type in my file like this.
[code]
Since the interface is not supported. https://github.com/kubernetes-sigs/controller-tools/pull/126
The error would be `unsupported AST kind *ast.InterfaceType`

Any way to skip such type with marker like `kubebuilder:skipversion`

I tried this
[code]
but not work.
Is this the right way to use it? what is the version it skip? should i pass the v

[2019-12-20 21:12] DirectXMan12 commented on #376
I think the problem is shell escaping escaping -- you're saying

`paths="//path/to/my/package:name`, but what's getting passed to controller-gen is `paths=//path/to/my/package:name`, which means we're invoking the "guess where the string ends" logic.

If we say `paths='"//path/to/my/package:name"'`, it'll probably work.

[2019-12-23 03:46] #284 closed

[2019-12-29 15:19] #293 closed

[2019-12-29 21:26] #273 closed

[2019-12-30 06:35] keenJR commented on #336
I agree. I have the same problem.

[2019-12-30 12:47] ndavidson-pulse commented on #327
/remove-lifecycle stale

[2019-12-30 20:55] knabben commented on #336
Fixed with https://github.com/kubernetes-sigs/controller-tools/pull/351

[code]

[2020-01-03 05:08] #296 closed

[2020-01-03 06:11] tamalsaha opened #385 "Rethinking metadata schema generation in CRD yamls"
Currently controller-tools does not generate any properties for metadata fields at any level in CRD yamls to accommodate for structural schema.

https://github.com/kubernetes-sigs/controller-tools/blob/master/pkg/crd/known_types.go#L29-L33

My it is my understanding that only top level metadata field is restricted to define name & generatedName fields. Any other nested metadata field can have deta

[2020-01-03 06:12] tamalsaha commented on #385
/sig api-machinery

cc: @sttts @munnerz @DirectXMan12

[2020-01-03 06:13] tamalsaha opened #386 "Avoid generating description in metadata of CRD structural schema"
CRD structural schema requires that `if metadata is specified, then only restrictions on metadata.name and metadata.generateName are allowed.`

If I add comments to `metadata` field in Go struct, kubebuilder sets that as `metadata.description` in the generated CRd yaml. This generated yaml is considered invalid as structural schema.

Example:
- https://github.com/appscode/voyager/commit/5f8a169dae

[2020-01-03 06:14] tamalsaha commented on #386
/sig api-machinery

cc: @sttts @DirectXMan12 @munnerz

xref: https://github.com/kubernetes/kubernetes/issues/86800

[2020-01-03 10:08] sttts commented on #386
Please create a PR for controller-gen which avoid the description field. We cannot change the CRD restriction, but only adapt controller-gen to follow it.

[2020-01-03 10:10] sttts commented on #385
I would prefer to see a stripped down EmbeddedObjectMeta if possible, or at least let controller-gen do the restriction. ObjectMeta has so many fields which do not make sense for embedded ObjectMeta. Also the schema is super huge.

[2020-01-03 10:45] tamalsaha commented on #385
I like the idea of `EmbeddedObjectMeta`. We kind of doing that in our custom type. https://github.com/kmodules/offshoot-api/blob/master/api/v1/pvc.go#L24-L98

[2020-01-04 06:33] #300 closed

[2020-01-05 00:51] marun commented on #328
/remove-lifecycle stale

[2020-01-05 10:15] #288 closed

[2020-01-06 23:46] DirectXMan12 commented on #328
huh?

The code in k8s.io/apimachinery says otherwise: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go#L393

[2020-01-06 23:48] DirectXMan12 commented on #385
/help

[2020-01-06 23:58] DirectXMan12 commented on #380
/help

[2020-01-07 08:30] sttts commented on #328
Isn't https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go#L646 the relevant line? Quotes are optional. The OpenAPI spec you link to is incomplete (OpenAPI v2 ...).

[2020-01-07 20:49] DirectXMan12 commented on #328
Interesting... was that intended?  Generally our OpenAPI is less restrictive that what we accept (i.e. we validate more than what our OpenAPI says), but in this case the OpenAPI is *more* restrictive that what we accept.

[2020-01-07 20:51] DirectXMan12 commented on #328
Technically, neither is right (it should be `int or (string that matches the quantity format)`), but I guess since we accept raw integers in the parsing logic we can move forward with that.

[2020-01-08 08:05] sttts commented on #328
IMO the v2 spec is just wrong. A published spec should never be too restrictive. It may be incomplete server side validation will do the final check anyway.

I agree, we could add a regex to specify `string that matches the quantity format` if we want to. Maybe we actually should to avoid unmarshalling errors in Go code.

[2020-01-08 23:23] mengqiy opened #388 "Add integration test for webhook generator"
https://github.com/kubernetes-sigs/controller-tools/tree/master/pkg/webhook currently doesn't have an integration test.
We should add an integration test similar to [rbac](https://github.com/kubernetes-sigs/controller-tools/tree/master/pkg/rbac).
It should be fine that the testdata directory only contains a go file that contains nothing but some webhook markers.
[Here](https://github.com/kubernete

[2020-01-09 11:06] aanm commented on #324
/remove-lifecycle stale

[2020-01-13 01:11] #316 closed

[2020-01-13 12:23] muvaf commented on #279
Is there a flag or a way to disable use of `x-kubernetes-*` features during CRD generation? This is breaking 1.14 and lower versions and currently GKE default version is 1.13 and AWS EKS doesn't yet [have support](https://docs.aws.amazon.com/eks/latest/userguide/kubernetes-versions.html) for 1.15

[2020-01-13 21:41] estroz opened #390 "controller-gen: no errors for a CRD with multiple versions marked as storage"
**controller-tools version:** `v0.2.4`

I have two API versions `./api/v1alpha1` and `./api/v1alpha2` for my kind `Frigate` and group `example.com` in a kubebuilder operator project. Upon running
[code]
I see the following:
1. An absence of `+kubebuilder:storageversion` above either `Frigate` type declaration will result in an error.
1. Setting `+kubebuilder:storageversion` above either `Frigate`

[2020-01-13 22:25] DirectXMan12 commented on #390
/kind bug
/priority important-longterm
/good-first-issue

yep, we should check that only one is marked storage version

[2020-01-13 22:28] DirectXMan12 commented on #279
@muvaf that's probably a separate issue (just that client-side validation doesn't understand), but yeah, we should fix that too.  In the short term, you can run with `--validate=false` on `kubectl [xyz] config/crd/base`.  Can you file a separate issue please?

[2020-01-13 22:33] estroz commented on #390
I'll take this on.

[2020-01-13 23:41] yuzisun opened #391 "markers to skip fields that does not have json tags for crd generation"
`controller-tools` version: 0.2.2

Currently I am getting this error after upgrading controller-tools from 0.2.2 from 0.1.9 because in our CRD status we included a go struct `URL` (https://github.com/knative/pkg/blob/43ca049cdbdad4892b0c926e7c6536d064efde72/apis/duck/v1beta1/addressable_types.go#L40) which does not have json tags and this blocks generating the crd manifests.
[code]

We want a way

[2020-01-14 04:03] yuzisun commented on #324
Any update on this getting the same issue here.

[2020-01-14 10:11] muvaf opened #392 "Client-side validation fails with kubectl versions 1.14 and below"
For the field typed `IntOrString`, controller-tools started to generate a type information in CRD like the following:
[code]

This type information in CRD is not recognized by kubectl versions 1.14 and below. It looks like support has been added in 1.15, see https://github.com/kubernetes/kubernetes/pull/78815

[2020-01-14 10:12] muvaf commented on #279
@DirectXMan12 yeah, this seems to be the case. I tested with GKE 1.13.11 and kubectl 1.17 and it worked. Thanks!

Here is the separate issue https://github.com/kubernetes-sigs/controller-tools/issues/392

[2020-01-14 10:17] advissor commented on #279
@muvaf @DirectXMan12 --validate=false I tried before with no success.
As far as I remember client/server compatibility version is +/- 1 minor.
So, 1.15 and 1.17 <> 1.13 are not compatible then , it this right?

https://kubernetes.io/docs/setup/release/version-skew-policy/

[2020-01-14 17:48] pires commented on #324
Try it differently:
[code]

[2020-01-14 20:34] DirectXMan12 commented on #391
/kind feature
/priority important-longterm

I'm assuming URL has custom serialization.  We need a good way to detect that a type has custom serialization and use that instead of the fields.

[2020-01-14 20:34] DirectXMan12 commented on #391
/help

[2020-01-14 21:24] DirectXMan12 commented on #392
/priority critical-urgent
/kind bug

We probably need some way to optionally strip out newer type info when generating.

[2020-01-14 21:24] DirectXMan12 commented on #390
/assign @estroz

[2020-01-15 21:16] mcristina422 opened #393 "Test that kubebuilder schemes are round-trippable"
I wasn't sure if this should be in controller-tools or in kubebuilder itself.
Additionally if it should be added as a generated test for all kubebuilder projects

The below test works for https://github.com/kubernetes-sigs/kubebuilder/tree/master/testdata/project-v2/api/v1
[code]

[2020-01-19 07:24] #309 closed

[2020-01-22 07:53] ggaurav10 commented on #272
I had the same issue. Adding quotes worked for me:
[code]

[2020-01-23 07:10] vishvananda commented on #391
I'm running into the same issue. Is there a reasonable workaround for this?

[2020-01-23 08:59] vishvananda commented on #391
I've managed to work around the specific knative issues with the following patches:

https://github.com/kubernetes-sigs/controller-tools/compare/master...vishvananda:fix-known

There must be a better way to do this than adding custom exceptions for every type, but I'm not sure of the best approach. Both of these objects have a MarshalJSON that writes the data as a string.

[2020-01-23 21:54] vishvananda commented on #324
I've run into this issue as well when building controllers for knative. Changing the upstream code to use inline embedded structs isn't really an option. It seems like having a way to disable $ref generation would be valuable.

[2020-01-24 15:48] sebgl commented on #349
/remove-lifecycle stale

I think this is still an issue. https://github.com/kubernetes-sigs/controller-tools/pull/350 is pending review.  https://github.com/kubernetes-sigs/controller-tools/pull/365#discussion_r350404541 adds integration tests to catch this bug.

[2020-01-27 15:27] DirectXMan12 commented on #391
The fix should be to check during schema generation if a type implements the {Marshal,Unmarshal}JSON interfaces, and if so treat it as opaque.  We have type-checking information, so we can do this.

[2020-01-29 09:03] RamLavi opened #396 "error 'build constraints exclude all Go files' when performing: go run controller-gen/main.go on golang1.12 container"
I am getting the following error when my container (base image is FROM golang:1.12.0 or 1.12.+) performs the following command via one of the Makefile sections: ```go run vendor/sigs.k8s.io/controller-tools/cmd/controller-gen/main.go crd```. The error I get is:
[code]
(btw if I change the image back to golang 1.11.9 then the issue does not occur.)

I think the issue is related to the fact that con

[2020-01-29 18:12] RamLavi commented on #396
well, this seemed to do the trick:
[code]

[2020-01-29 18:12] #396 closed

[2020-01-30 15:06] joelanford commented on #287
/reopen
/remove-lifecycle rotten

[2020-01-31 22:31] thackem opened #398 "Controller-gen creating unwanted CRDs"
In my API structs I have a spec field like:
[code]

This results in an ObjectRef CRD file being generated in config/crd/bases when I run the default `make generate` target.

[2020-01-31 22:37] DirectXMan12 commented on #398
/kind feature
/priority important-longterm

/help

this should prob just be a marker to disable this that we can read in `gen.go`

[2020-02-03 21:46] vincepri commented on #339
/lifecycle frozen

[2020-02-03 22:45] robbie-demuth commented on #342
I'd like for this issue to stay open since addressing it would be a huge quality of life improvement. Do only maintainers have the ability to use /remove-lifecycle-stale?

[2020-02-03 22:46] robbie-demuth commented on #342
/remove-lifecycle stale

[2020-02-03 23:16] erictune commented on #334
/remove-lifecycle rotten

[2020-02-05 17:28] benjaminjb commented on #206
/remove-lifecycle stale

[2020-02-06 10:56] mariantalla commented on #359
This was addressed by https://github.com/kubernetes-sigs/controller-tools/pull/347.

/close

[2020-02-06 10:56] #359 closed

[2020-02-07 20:29] benjaminjb opened #401 "RBAC generation with specific resourceNames"
The regular RBAC generation annotation works great if you want to give permissions over all instances of a certain type. Say you want to give permission to get all statefulsets, that's as easy as

`// +kubebuilder:rbac:groups=apps,resources=statefulsets,verbs=get`

But what if you want to give permissions only over a few instances? For example, when dealing with PodSecurityPolicies, you'll probabl

[2020-02-10 13:58] pgier opened #402 "Remove creationTimestamp from generated CRD"
controller-gen currently adds the metadata field `creationTimestamp: null`.  I think this field should not be included in the CRD yaml since this value should be added by the server.

[2020-02-13 21:24] maxsmythe commented on #291
/remove-lifecycle stale

[2020-02-15 09:58] #320 closed

[2020-02-19 07:01] Kyrremann opened #406 "go get controller-gen@v0.2.5: invalid version"
I'm trying to download the latest version of `controller-gen`, but get `invalid version` for every version i try. I'm guessing I'm doing something wrong on my side, but not sure how to fix it.

[code]

Running `go version go1.13.4 darwin/amd64`.

[2020-02-21 18:55] hasbro17 commented on #240
/lifecycle frozen

I think we still want this. But I need to throw together a proposal first if someone else doesn't.

[2020-02-21 20:18] jeyaramashok commented on #240
+1

[2020-02-25 21:27] pgier commented on #406
Your command is missing part of the repo path:

Should be:

However, this command will tell you that the github repo path doesn't match the declared module path, so what you really want is the `sigs.k8s.io` path to install the command.

[code]

[2020-02-26 06:55] Kyrremann commented on #406
Thanks! That solved!

[2020-02-26 06:55] #406 closed

[2020-02-26 16:38] aeb-sia commented on #369
I don't think this is fixed yet, is it?

[2020-02-26 19:18] hypnoglow commented on #364
Probably fixed in https://github.com/kubernetes-sigs/controller-tools/pull/351

[2020-02-26 20:17] hypnoglow commented on #343
/remove-lifecycle rotten

[2020-02-26 20:17] hypnoglow commented on #343
/assign

[2020-02-27 19:20] hypnoglow commented on #369
@aeb-sia Could you try enclose pattern with a backtick:
[code]

This worked for me:

In go struct:

[code]

Generated:
[code]

[2020-02-29 15:59] yuzisun commented on #324
any update on this?

[2020-03-01 13:32] tamalsaha commented on #240
https://github.com/ahmetb/gen-crd-api-reference-docs

[2020-03-01 13:34] tamalsaha opened #410 "Support generating Kustomize friendly annotation for CRDs"
https://kubectl.docs.kubernetes.io/pages/examples/kustomize.html

[code]

[2020-03-03 06:56] tatsuhiro-t commented on #324
I've run into this issue too.
It looks like applying the following patch fixes this issue, but I'm not sure it is the correct way:

[code]

[2020-03-03 19:32] djzager commented on #206
@benjaminjb As someone that's wanting to contribute more to the controller-tools project, but doesn't know all of the intricacies of the project, it would be really helpful to have a set of recreation steps. This way, if I attempted to fix it, I would have some way of knowing with confidence that I actually addressed the issue.

[2020-03-03 19:36] djzager commented on #206
It's usually better to use a permalink in these circumstances as this line has changed in the, almost year, since this issue was created.

https://github.com/kubernetes-sigs/controller-tools/blob/35a714515c99ad819bf5c4c8252491585c3e53b5/pkg/rbac/parser.go#L80

Versus

https://github.com/kubernetes-sigs/controller-tools/blob/d6efdcdd90e2a95ae7aea0dbec3252b705a9314d/pkg/rbac/parser.go#L80

[2020-03-03 21:47] loewenstein commented on #245
@DirectXMan12 Would you consider reopening this? We would be willing to contribute float support.

We plan to include another CRD (like a template) in ours and that unfortunately uses a float64.

[2020-03-04 13:41] aeb-sia commented on #369
Yes that works. Is this escaping documented somewhere?

[2020-03-04 20:46] djzager commented on #206
I went ahead and tried to re-create this by creating two APIs:

[code]

And updating the cronjob_controller.go to duplicate the annotations from cronjob2_controller.go:

[code]

ran `make manifests` and did not see duplicates in `config/rbac/role.yaml`:

[code]

[2020-03-05 09:46] djzager commented on #227
Played around with this a little bit and it is definitely still an issue. Was able to recreate it by starting up the trivial CronJob example from the kubebuilder book, updating the CronJobSpec to look like the original comment, creating a test that created the CronJob, and it failed similarly.

Additionally, I wanted to see what would happen if I simply applied the generated CRD and created the in

[2020-03-05 09:46] djzager commented on #227
/assign

[2020-03-05 09:48] djzager commented on #227
My suspicion is it's something with the way the request is being sent to the apiServer from the client versus `kubectl create -f some.yaml`. Unless someone interjects with another idea, my next step would be to see what happens when I use the master branch of controller-runtime.

[2020-03-05 09:49] djzager commented on #206
/assign

[2020-03-05 09:58] djzager commented on #261
@alexkreidler looking at the [kubebuilder book](https://book.kubebuilder.io/reference/markers/object.html?highlight=deepcopy#objectdeepcopy) and a more recent version of `controller-gen -h` (see below). I don't think this is an issue anymore. Can you confirm?

[code]

[2020-03-05 14:19] djzager commented on #227
That didn't work. Updated controller-runtime to master branch with `go get sigs.k8s.io/controller-runtime@master` and it failed as before.

[2020-03-05 14:21] djzager commented on #227
https://github.com/kubernetes/kubernetes/issues/68466 looks related

[2020-03-05 19:55] djzager commented on #227
and https://github.com/kubernetes-sigs/kubebuilder/issues/635

[2020-03-05 20:44] djzager commented on #227
Finally relief :sunglasses:.

`kube-apiserver` bundled with kubebuilder `v2.3.0`:

[code]

Updated the kube-apiserver to `v1.16.0`:

[code]

And my contrived test case passed:

[code]

[2020-03-05 20:50] djzager commented on #227
@ekuefler I think this issue can be closed in favor of https://github.com/kubernetes-sigs/kubebuilder/issues/1418

[2020-03-06 10:48] #330 closed

[2020-03-06 14:14] djzager commented on #227
Turns out that my issue with getting the wrong version of `kube-apiserver` was all on me. Properly updating kubebuilder to `v2.3.0` fixed this issue for me. Can you confirm @ekuefler ?

[2020-03-06 20:27] benjaminjb commented on #206
Heya, sorry about missing the recreation steps and good point on the permalinks. (Also, very curious to see there is now a de-duplication function here, thanks to this PR: https://github.com/kubernetes-sigs/controller-tools/commit/4b05637ab8a7c61b6ab6ea98453fe25486879e98)

To replicate this issue (which is still occurring), rather than create two API:

a) `kubebuilder create api --group batch --ve

[2020-03-06 20:57] djzager commented on #206
I am using:

[code]

In cronjob_controller.go:

[code]

Looking at the Makefile scaffolded by kubebuilder `v2.3.0` I see:

[code]

Hope this helps.

[2020-03-06 21:10] benjaminjb commented on #206
Glad to see this issue taken care of and thanks for your help (and future contributions to the project)

[2020-03-06 21:10] #206 closed

[2020-03-07 14:36] djzager commented on #401
/assign

[2020-03-08 02:16] munnerz commented on #307
I think this can be closed now 😀

[2020-03-08 02:16] #307 closed

[2020-03-08 13:37] yuzisun commented on #391
Do you mean here?
[code]

[2020-03-09 08:39] tatsuhiro-t opened #414 "type-scaffold --namespaced=false does not work."
I expect that type-scaffold --namespaced=false produces `// +genclient:nonNamespaced`, but it doesn't.

It looks like it needs `.GenerateClients`,  but I cannot find anywhere to enable it.
See https://github.com/kubernetes-sigs/controller-tools/blob/d6efdcdd90e2a95ae7aea0dbec3252b705a9314d/pkg/typescaffold/scaffold.go#L48-L53

[2020-03-09 23:10] #340 closed

[2020-03-10 02:45] uthark commented on #402
I did some digging and found out that this comes from JSON encoding.
What happens is that `yaml.Marshal` is called https://github.com/uthark/controller-tools/blob/master/pkg/genall/genall.go#L106.
This in turn calls `json.Marshal` https://github.com/kubernetes-sigs/yaml/blob/v1.1.0/yaml.go#L17
and it falls to the `	if f.omitEmpty && isEmptyValue(fv)` check (https://golang.org/src/encoding/json/enc

[2020-03-10 20:41] hypnoglow commented on #369
@aeb-sia I am not sure if this is documented somewhere. I've found the example in the [testdata](https://github.com/kubernetes-sigs/controller-tools/blob/v0.2.5/pkg/crd/testdata/cronjob_types.go#L114).

The [documentation](https://book.kubebuilder.io/reference/markers.html?highlight=quot#marker-syntax) I've found so far only states this:

I guess we need some help here to improve documentation on

[2020-03-10 23:27] #343 closed

[2020-03-10 23:41] DirectXMan12 commented on #324
That's not the correct fix -- you've broken the contract of that method.  Let's find a minimal reproducer, find the actually root cause of the bug, and put a fix in in the correct spot.

[2020-03-11 18:11] skaslev commented on #391
@DirectXMan12 I'm interested in working on fix for this. Can you elaborate on what do you mean by treat them as opaque? Should schema generated for types with custom json serialization get declared as Any type?

[2020-03-13 05:18] binoue opened #417 "Failed to create webhook configuration with v0.2.7"
**What happened**:

I updated controller-tools from v0.2.5 to v0.2.7 and generated our manifests from the source code scaffolded by `kubebuilder`.
The generated webhook manifests were like below and not properly generated.

[code]
After adding `matchPolicy="Equivalent"` marker, the manifest was properly generated.
Based on [this code](https://github.com/kubernetes-sigs/controller-tools/blob/master

[2020-03-14 00:20] DirectXMan12 commented on #391
So, our code generator is built on introspection: for each type, visit its sub-types, etc, mapping them to jsonschema.  Some types, however, *can't* or *shouldn't* be introspected.  For these types, introspection produces bad results, because their serialized form is not equivalent to their Go form under our normal generation rules.  Instead, we have to treat these types as if they're "opaque" --

[2020-03-16 12:31] camilamacedo86 opened #418 "Add annotations to gen additional printer columns for the defined specs"
**Story**

I am as a dev, using a tool which is using the controller-tools (e.g kubebuilder), would like to be able to define via annotations specs to be generated as additional printer columns in the CRD's.

NOTE: At the same way that we can gen the validations would be very nice, we are able to gen the additional printer columns via annotations for the CRD (_types.go) spec definitions.
See: http

[2020-03-16 12:34] camilamacedo86 commented on #418
It is done already : https://book.kubebuilder.io/reference/generating-crd.html?highlight=AdditionalPrinterColumns#additional-printer-columns

[2020-03-16 12:34] #418 closed

[2020-03-17 20:15] djzager commented on #417
/assign

[2020-03-17 20:23] djzager commented on #417
Looks like this was introduced in https://github.com/kubernetes-sigs/controller-tools/pull/408 and there was a follow-up in https://github.com/kubernetes-sigs/controller-tools/pull/411
but I don't see that in the release notes for [v0.2.7](https://github.com/kubernetes-sigs/controller-tools/releases/tag/v0.2.7).

@vincepri am I right in thinking this will be fixed in the next release of controller

[2020-03-17 20:24] djzager commented on #417
Except this comment in the release notes leaves me confused.

[2020-03-17 20:24] djzager commented on #417
/unassign

[2020-03-17 23:32] vincepri commented on #417
v0.2.7 has https://github.com/kubernetes-sigs/controller-tools/commit/1c6d3844762fed588be5123e5b38ccbeb25d94e1 so it should be fixed

[2020-03-17 23:34] vincepri commented on #417
`matchPolicy=Equivalent` should be valid

[2020-03-18 10:05] jiachengxu opened #419 "contoller-gen: webhook generator support for admissionregistration.k8s.io/v1"
Hi folks,
Since `admissionregistration.k8s.io/v1beta1` is deprecated in kubernetes v1.16 in favor of `admissionregistration.k8s.io/v1`, do you have a plan for adding support to generate webhook configurations (Validating/MutatingWebhokConfiguration) for `admissionregistration.k8s.io/v1`?

I can work on this if it is needed.

[2020-03-18 11:26] jiachengxu commented on #417
but the `matchPolicy` is optional, so it also should work without setting the `matchPolicy`, but it is still not properly generated.

[2020-03-18 13:48] porridge commented on #377
/remove-lifecycle stale

[2020-03-18 15:43] vincepri commented on #417
@jiachengxu you're right, can you open a PR with your patch and we can get another release out?

@DirectXMan12 we should probably spend some time to add some test data for webhooks as well

[2020-03-18 16:01] djzager commented on #417
/assign

Only because I already have the PR ready to submit.

[2020-03-18 16:05] djzager opened #421 "Add testdata for webhook generation"
Regressions like https://github.com/kubernetes-sigs/controller-tools/issues/417 would be easier to catch in the PR phase if testdata existed (like for rbac).

[2020-03-18 16:26] #401 closed

[2020-03-18 16:32] #417 closed

[2020-03-19 10:37] jiachengxu commented on #380
/assign

[2020-03-20 04:06] joelanford opened #423 "Using type=array override on a map results in invalid schema generation"
I have something like the following type and kubebuilder validation annotation with custom serialization that produces a JSON array:
[code]

When I run controller-gen to generate the CRD, the resulting schema for this type contains `type: array` with an `additionalProperties` field and no `items` field. This is invalid in kubernetes 1.17+

I expected the schema for Conditions to contain an `items`

[2020-03-20 04:10] joelanford commented on #423
See https://github.com/operator-framework/operator-sdk/issues/2658 for specific details

[2020-03-23 19:22] axsaucedo commented on #391
@yuzisun I have also run into this issue attempting to add ducktyping into our CRD status. Is there a workaround for this?

[2020-03-24 19:50] camilamacedo86 commented on #423
Following the steps to reproduce the scenario.

- Follow up the Quick Start in kubebuilder. https://book.kubebuilder.io/quick-start.html

**Update the type.go as follows:**

- Add the `Conditions Conditions `json:"conditions"`` for the Spec with the ` +kubebuilder:validation:type=array`

[code]
- Add the Condition impl as follows

[code]

- Add a list type in the status as well. See:

[code]

- No

[2020-03-25 20:14] so-jelly commented on #324
I have a minimal reproducer: create a main api and a sub of it.   Reference the main type in the sub.
https://github.com/so-jelly/ref/blob/master/pkg/apis/ref/v1/sub_types.go#L8

[2020-03-26 16:36] akoserwal opened #425 "flag redefined: kubeconfig: allow double vendoring this library but still register flags on behalf of users"
Error:
 /var/folders/3d/_kgky9bj61g5144z004y51qr0000gp/T/go-build652443801/b001/e2e.test flag redefined: kubeconfig
panic: /var/folders/3d/_kgky9bj61g5144z004y51qr0000gp/T/go-build652443801/b001/e2e.test flag redefined: kubeconfig
[code]
Using :-
[code]

And in my test case, I am using a library which is also using controller-runtime/operator-sdk
```github.com/RHsyseng/operator-utils/pkg/utils/ope

[2020-03-26 16:38] #425 closed

[2020-04-03 23:55] #348 closed

[2020-04-04 10:05] #261 closed

[2020-04-05 19:38] #264 closed

[2020-04-06 10:29] yoichiwo7 commented on #391
I have tried controller-gen built with #427 in my Kubernetes v1.15.3 cluster.
It works fine and generated YAML also works fine with kubectl commands such as `apply`, `create`, and `delete`.  But after the CRD is installed, I get following error when I try to run `kubectl diff` with any resources. (looks like the error comes from `kubernetes/kube-openapi`)

[code]

I have also tried on Kubernetes v

[2020-04-07 01:04] raffaelespazzoli opened #430 "validation:pattern should be applicable to a string slice"
`validation:pattern` validation rule is only applicable to a string. Logically I don't see a problem in making it also applicable to a string slice with the convention that each value of the slice must match the pattern.
Please add that feature.
Most of the scalar validation rules, could probably be applicable to slice values with the same logic.

[2020-04-08 14:42] muvaf commented on #291
I have a type that embeds `CustomResourceDefinitionSpec` type which suffers from [this issue](https://github.com/crossplane/crossplane/blob/55793a570a8a2c72f0acaf5987354922997076ef/apis/apiextensions/v1alpha1/infrastructuredefinition_types.go#L33).

@DirectXMan12 If you can give me some pointers, I can work on a PR to make it happen.

[2020-04-16 23:25] FreedomBen commented on #342
For what it's worth, I'm running into this now.  My CRD is pretty large and will require a great number of type aliases (and associated casts) which I'd really rather not do.  Was it decided not to do this or is there just not anyone willing at the moment?

[2020-04-17 06:09] aborilov commented on #419
+1

[2020-04-17 12:23] robbie-demuth commented on #342
I think the latter. I took a quick look through the code to try to evaluate the level of effort, but wasn't familiar enough with it to make an accurate guess

[2020-04-17 22:41] dthomson25 commented on #328
@sttts and @DirectXMan12, isn't it true that a quantity can be float (i.e. 1.2 not "1.2")? If that's the case, then isn't a stringOrInt is too restrictive?

[2020-04-18 00:38] DirectXMan12 commented on #328
I *think* when you specify a decimal, it needs to be in quotes, otherwise other systems will parse it as a float, voiding the entire purpose of resource.Quantity.  `UnmarshalJSON` technically accepts unqualified floats (like it accepts unqualified ints), but I'd *guess* that's probably a bug.

@sttts thoughts?

[2020-04-18 00:48] jessesuen commented on #328
You can specify decimal without quotes. The following valid:

[code]

The normalized version of `0.5` cpu eventually becomes `"500m"`.

In our CRD, when generating the OpenAPI validation spec for a field which is of `resource.Quantity`, controller-tools **_incorrectly_** generates:

[code]

Which does not allow decimals. To work around this, we currently have to surgically remove the `resource.Qua

[2020-04-18 05:57] sttts commented on #328
Technically float is allowed by quantities. The problem here is that CRDs don't do the conversion of 0.5 to `"500m"` on the server-side, but probably should. For that `x-kubernetes-quantity: true` might make sense.

[2020-04-19 04:27] yuzisun commented on #324
@DirectXMan12 Any update on this?

[2020-04-20 20:45] DirectXMan12 commented on #324
I believe there's a fix up here: https://github.com/kubernetes-sigs/controller-tools/pull/428

[2020-04-20 20:51] #376 closed

[2020-04-20 21:08] DirectXMan12 commented on #328
Yeah, I'm aware that it's incorrect, but I wanted to check to see what the story was here, because, as noted by @sttts, since CRDs don't get normalized, you're gonna read back `0.5`, which doesn't get round-tripped through many systems properly (because floats don't round-trip).

or `format: quantity`

We probably need to drop the int-or-string designation here, but I'm not really certain how to p

[2020-04-20 21:10] DirectXMan12 commented on #328
@jessesuen I'm curious as to what your desired behavior would be here -- non-structural means no server-side defaulting, etc, which seems like a big trade-off for accepting unquoted floats.

[2020-04-20 21:10] DirectXMan12 commented on #328
(no intention of sounding passive-agressive here -- I'm just curious about your usecase)

[2020-04-20 21:12] DirectXMan12 commented on #342
The core developers just don't really have bandwidth atm, and it's not super-high priority.  If someone else wants to pick this up, that'd probably work.

[2020-04-20 21:55] DirectXMan12 commented on #385
/remove-lifecycle stale

[2020-04-20 21:59] DirectXMan12 commented on #386
/lifecycle frozen
/priority important-soon

[2020-04-20 22:39] DirectXMan12 commented on #291
I *think* someone posted something recently: https://github.com/kubernetes-sigs/controller-tools/pull/427

just waiting on a test

[2020-04-20 22:48] DirectXMan12 commented on #391
You'll have to manually override the type when you use that capability.  e.g.

[code]

[2020-04-20 23:03] maxsmythe commented on #291
Great news! I look forward to ditching the old, old version of controller-gen

[2020-04-24 14:51] ifilonenko commented on #287
any progress on this?

[2020-04-27 20:10] DirectXMan12 opened #434 "Warn about things that we strongly recommend avoiding"
#317 introduces support for a pattern we generally don't recommend: pointers as map values.  This is mainly for a few legacy use cases that folks want to support, but I think we generally want to warn people that this isn't a pattern that we/the kube API conventions generally suggest/support.

We probably want something that looks a lot like our error reporting system, but works adds a "non-fatal"

[2020-04-27 21:46] frodopwns commented on #279
Ran into this in kube 1.16 docker-desktop. Generated project using Kubebuilder 2.3.

[code]

[2020-04-28 20:48] DirectXMan12 commented on #279
@frodopwns the related issues should be solved.  Can you confirm that you have the latest version of controller-tools installed?

[2020-04-29 21:19] dthomson25 commented on #328
@jessesuen and I are maintainors of a project called [Argo Rollouts](https://github.com/argoproj/argo-rollouts), and it has a CRD called a Rollout that replaces the Deployment object with other deployment strategies like blue-green or canary. For a user to start using a Rollout, they only need to change the apiVersion and kind and add a new deployment strategy. If a user has a float value for thei

[2020-04-30 17:50] avorima opened #435 "Flaky behaviour using custom slice types and listType marker"
`controller-gen` will sometimes fail to create the CRD manifests when using a custom slice type, e.g. `type Foos []Foo` and the `listType` and `listMapKey` markers.

To reproduce this create a sample project with kubebuilder v2.3.1:
[code]

and then add the following to the `api/v1beta1/frigate_types.go` file:

[code]

Running `make manifests` will then on occasion yield the following errors:

[co

[2020-05-01 07:34] dmvolod opened #436 "Marker comment block incorrectly parsed when it's a last comment block in the file and surround godoc"
This is a problem related to the following issue https://github.com/kubernetes-sigs/kubebuilder/issues/1299
The simple reproducer is place marker comments between godocs in the
pkg/webhook/testdata/webhook.go

I will try to take care about this issue
/assign @gmvolod

[2020-05-01 07:35] dmvolod commented on #436
/assign @dmvolod

[2020-05-01 08:24] alukyan commented on #327
We are running our Go builds in airtight build environment which has vendored dependencies and `controller-gen` fails as it tries to retrieve dependencies from the network which is locked down.

[code]

`controller-gen` should have an option to run `go list` and other Go commands with `-mod=vendor`

[2020-05-01 22:42] alukyan commented on #327
It seems that Go 1.14 now defaults to running `go` tools with `-mod=vendor` if top level directory contains `vendor` subdirectory. We will verify this as we migrate our builds to 1.14 and report results here.

[2020-05-02 15:06] #370 closed

[2020-05-03 23:38] #371 closed

[2020-05-04 10:45] ndavidson-pulse commented on #327
Great I hope this works, I never managed to isolate if it was controller-gen calling a tool directly, or the go toolchain. We'll also try with go 1.14 and report back.

[2020-05-04 11:35] dgrisonnet opened #438 "CRD validation errors in Kubernetes 1.18"
#### What happened?

I tried running the following command in a `1.18.2` Kubernetes cluster:
[code]
And got the following validation errors:
[code]

We have the same errors in prometheus-operator when creating CRDs generated by controller-gen in a `1.18.x` Kubernetes cluster https://github.com/coreos/prometheus-operator/issues/3122.

#### controller-tools
`v0.3.0`

#### Kubernetes
[code]
/kind bug

[2020-05-05 03:05] #372 closed

[2020-05-05 12:08] redradrat commented on #279
@frodopwns @DirectXMan12
yep, I'm running into this as well on controller-gen 0.3.0

[2020-05-06 11:53] Oblynx opened #439 "Parse long enums split in multiple lines"
Currently, a long enum validation like
[code]
has to be written on a single line of code. It would be nice to be able to split across multiple lines, for example like this:
[code]

[2020-05-07 21:10] #373 closed

[2020-05-09 21:58] #369 closed

[2020-05-13 07:53] ksaritek commented on #434
I would like to give it a try :)
/assign

[2020-05-14 11:52] RobbinBaauw commented on #245
`float64` is also used in Kubernetes APIs:

https://github.com/kubernetes/kubernetes/blob/7580666e0c58b0a34a87fb19beeb682a88e50fac/pkg/kubelet/apis/stats/v1alpha1/types.go#L342-L344

Right now, it is unfortunately impossible to use `stats.PodStats` in your CRD (both because of this error and because `VolumeStats` has an embedded `FsStats` without JSON tags).

[2020-05-14 22:13] ksaritek commented on #434
I created a `guestbook` kubebuilder init project and added a `*ast.StarExpr`  to guestbook struct
[code]

my patch:
[code]
controller-gen prints warning at the end like `/go/src/example/api/v1/guestbook_types.go:55:20: map values should be a named type, not *ast.StarExpr`.
@DirectXMan12 , it that right?

[2020-05-15 01:04] muvaf commented on #392
@DirectXMan12 Is there an update on this? I'd like to help if you can give me some pointers.

[2020-05-15 20:43] zlesnr commented on #245
This is surprising.  If I'm meant to use `resource.Quantity`, how does one convert that to a `float64`?

[2020-05-19 06:38] #363 closed

[2020-05-19 10:06] christopherhein opened #441 "Ability to skip descriptions per field or per package"
I have a CRD which nests multiple large CRD objects, when `controller-gen` generates the manifests with all the metadata and descriptions this can equal well over 2mb. Looking at `controller-gen crd -www` it doesn’t appear there is a way to skip descriptions either at a field level or even at a package level. Is that correct?

If that is, would there be any objections to a marker like `// +kuberne

[2020-05-19 12:47] skaslev commented on #324
@DirectXMan12 I added a test based on @aanm's reproducer. #428 should be good to go imo.

[2020-05-19 15:49] JohnStarich commented on #363
Looks like I’m 1 day too late...

Anyone know how to run all generators? Was that option removed after v0.1?

[2020-05-21 02:47] Porges opened #442 "controller-gen crashes in structToSchema"
If `RawSpec` is not set on the `schemaContext`’s `info *markers.TypeInfo` member, then `structToSchema` will crash [here](https://github.com/kubernetes-sigs/controller-tools/blob/820a4a27ea84247e0da004cb4033ae9dc3839849/pkg/crd/schema.go#L330).

I think the fix is probably that:

[code]

Should become:

[code]

Another option is that `RawSpec` should be preserved every time a new context is create

[2020-05-21 22:49] ksaritek commented on #434
pull request: https://github.com/kubernetes-sigs/controller-tools/pull/443

[2020-05-24 14:58] tamalsaha opened #444 "Default value not allowed for in x-kubernetes-list-map-keys"
I filed the issue in k/k: https://github.com/kubernetes/kubernetes/issues/91395

I am cross posting here because I don't know if this is an issue in the upstream CRD validation or the YAML generated by controller-tools.

[2020-05-24 14:59] tamalsaha commented on #444
/kind bug

[2020-05-24 17:13] liggitt commented on #444
In a v1beta1 CRD, a property specified as a list-map item key must be a required property.

In a v1 CRD it can be a required property or be given a default value

[2020-05-24 18:13] tamalsaha commented on #444
The example CronJob yaml in controller-tools project also does not work in 1.18

https://github.com/kubernetes-sigs/controller-tools/blob/v0.3.0/pkg/crd/testdata/testdata.kubebuilder.io_cronjobs.yaml

[code]

@liggitt , how does CRD authors add default value for core/v1 types used in their CRD like done here?

https://github.com/kubernetes-sigs/controller-tools/blob/master/pkg/crd/testdata/cronjob

[2020-05-24 18:15] tamalsaha commented on #444
@liggitt ,
Do you think we can add a pr like
https://github.com/kmodules/api/commit/c8bc107809b9d4bf05e0c8ec57740d1dce697cca

to solve this issue?

[2020-05-24 19:05] tamalsaha opened #445 "Strip default values from v1beta1 CRD yaml"
https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#defaulting says

`To use defaulting, your CustomResourceDefinition must use API version apiextensions.k8s.io/v1.`

So, the default values should be stripped from v1beta1 CRD yaml.

[2020-05-25 03:05] Porges commented on #442
/kind bug

[2020-05-26 21:38] #364 closed

[2020-05-27 20:38] andrewrynhard opened #447 "Support for array length in printcolumn"
Hello, I would like to have a printcolumn that disaplays the length of an array in the status. In the jsonpath docs this looks like it is possible. I either have the syntax wrong, or it is not supported.

running

[code]

gives me nothing.

[2020-05-28 00:16] DirectXMan12 commented on #436
Can you provide a patch that reproduces?  I can't reproduce this locally with your suggestion (which seems to deal with normal comments, not godoc ones).  I tried

[code]

and got

[code]

[2020-05-28 06:32] dmvolod commented on #436
Thanks for feedback, @DirectXMan12
I was my fail misprint, yes, normal comment, not godoc
Please add this comment as reproducer and run whole test.sh as it regress on pkg/webhook/parser_integration_test

[2020-05-28 23:26] #336 closed

[2020-05-29 15:33] champak opened #448 "Objectmeta of embedded object goes missing during CRD conversion"
Hi folks,
I ran into an odd issue with CRD conversion using controller-tools v0.2.4/kubebuilder 2.2.0/apiserver 17.1 This CRD has embedded native specs like the PodTemplateSpec in its spec. I found that in the conversion functions the ObjectMeta of the embedded PodTemplateSpec is nulled out. Other attributes look OK. There is nothing in the validation callback. I had needed to add preserveUnknownF

[2020-06-01 07:17] zroubalik commented on #398
any update on this please?

[2020-06-01 11:26] dmvolod commented on #436
@DirectXMan12 I'm not sure, but looks like you did test with old data without test cache clean.
Could you please re-run whole test with test.sh in root folder. Thank you.

[2020-06-01 22:00] #324 closed

[2020-06-01 22:28] matthchr commented on #245
I'm also interested in float support - in our case we're creating CRDs that manage resources whose APIs are beyond our control and these APIs sometimes have float fields. It's possible for us to use strings (and convert before issuing a request to the backing API in our controller), but it would be easier if things were float all the way through, especially because we're already tied to failings o

[2020-06-01 22:58] DirectXMan12 commented on #436
hmm... figured it might be go version, so I updated from 1.14.1 --> 1.14.4, still no dice:

[code]

The `count=1` is supposed to prevent cached results.  Trying with the full shebang from `./test.sh`:

[code]

[2020-06-01 22:59] DirectXMan12 commented on #436
Can you paste the output of `git diff`?

[2020-06-01 22:59] DirectXMan12 commented on #436
(as well as `git rev-parse HEAD`)

[2020-06-01 23:01] DirectXMan12 commented on #398
I think you should be able to use the `skipversion` marker here.

[2020-06-01 23:04] DirectXMan12 commented on #328
@sttts is there any way here then for us to have a valid structural deployment object embedded in a CRD?  It kinda seems like the answer is "no".

[2020-06-01 23:07] DirectXMan12 commented on #448
/kind bug
/priority critical-urgent
/needs-more-info

any idea if this is happening during the conversion webhook?  Can you post a reproducer?

[2020-06-02 02:15] champak commented on #448
I had added logs to the ConvertTo(dstRaw conversion.Hub) and ConvertFrom(srcRaw conversion.Hub) functions in the file api/v<>/<>_conversion.go to display the contents of the ObjectMeta from the CRD and the embedded PodTemplateSpec. The ObjectMeta.Name etc from the CRD level had the expected contents but the contents from the embedded podtemplatespec were nulled.   Are there other places that may b

[2020-06-02 07:31] sttts commented on #328
No, nobody tried to solve the type reference problem in schemas.

[2020-06-02 07:57] zroubalik commented on #398
@DirectXMan12 but this marker disable CRD generation for all types in the particular version, right?
For example I have `MyTypeA`, `MyTypeB` and `InternalTypeA` in version `v1alpha1` and I'd like to generate CRDs only for `MyTypeA` and `MyTypeB`, not for `InternalTypeA`.
Unfortunately I haven't found a way how to achieve that.

[2020-06-02 15:23] dmvolod commented on #436
It's very strange but after getting some OS update (incl golang version) I'm unable to reproduce the issue right on current master branch, looks like it was a floating bug related to my env, but it was originally submitted by other. Thanks a lot and sorry for disturb.

[2020-06-02 20:04] champak commented on #448
I created a simple repro for this issue.  @DirectXMan12 please see https://github.com/champak/repro-kbuilder-version-issue .

If the sample yaml at https://github.com/champak/repro-kbuilder-version-issue/blob/master/config/samples/left_v1alpha1_repro.yaml

is applied, the logs at the webhook converter look like

2020/06/02 19:42:14 ConvertFrom : working on repro-sample
2020/06/02 19:42:14 ConvertF

[2020-06-02 20:19] champak commented on #448
And a get on the CRD looks like

$ kctl get repro.left.play.zone/repro-sample -o yaml | more
apiVersion: left.play.zone/v1
kind: Repro
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"left.play.zone/v1alpha1","kind":"Repro","metadata":{"annota
tions":{},"name":"repro-sample","namespace":"default"},"spec":{"foo":"bar","grap
h":{"dummy":"isthere",

[2020-06-03 16:19] alukyan commented on #327
/reopen
vendoring has to be supported explicitly.
It should be possible to run builds on secure build agents without downloading all dependencies from Internet

[2020-06-03 23:08] DirectXMan12 commented on #328
Ah, slightly different question:

the schema for anything containing resource.Quantity is non-structural, correct?

[2020-06-04 06:14] sttts commented on #328
If you use `x-kubernetes-int-or-string: true`, it is structural. If you try to add floats with some `anyOf` construct it is non-structural.

[2020-06-04 19:38] champak commented on #448
@DirectXMan12  let me know if I try to get any other details etc. that may help. I hope the example provides enough info. One thing I had noted is that the meta-data was missing even before we hit the convert functions. For the v1alpha1 CR version we hit the reconcile loop before going to the convert callbacks  and the bits are already missing. That made me wonder if it is the apiserver that may h

[2020-06-05 21:01] alexec commented on #245
I've been replacing `float32` with `string `and adding a getter method.

[2020-06-06 15:58] rajasaur commented on #279
I have the same problem as @redradrat  with Kubebuilder 2.3.1 and controller-gen v0.3.0 too (This was a project that was upgraded from Kubebuilder 2.2 and so changed the Makefile to update controller-gen from v0.2.4 to v0.3.0).

The CustomResourceDefinition "xx.yy.zz" is invalid: spec.conversion.strategy: Invalid value: "Webhook": must be None if spec.preserveUnknownFields is true

[2020-06-07 00:57] #388 closed

[2020-06-09 21:17] champak commented on #448
@DirectXMan12 please let me know if you need any other info to take a look into this issue. Thanks !

[2020-06-10 23:57] DirectXMan12 commented on #448
sorry.  Did some digging thursday / friday.  I think you're hitting unknown field elision -- need to confirm that, but I think it's because conversion requires `preserveUnknownFields: false`, which will strip fields from the under-specified ObjectMeta.  Related: #385, #395

[2020-06-11 00:02] DirectXMan12 commented on #328
yeah, so you can't represent what vanilla kubernetes accepts as a structural OpenAPI schema, since kubernetes accepts floats

[2020-06-11 10:00] max8899 commented on #287
@tamalsaha try to use the latest controlller-gen in master branch

[code]

and re-generate will be work

[2020-06-11 20:08] champak commented on #448
@DirectXMan12 Thanks for taking a look ! If there is any hack that would allow crd conversion to work w/o needing preserveUnknownFields: false let me know and I can try it out. I could not tell if the changes from #385, #395 will get pulled into controller-gen main. I did not follow what functional need makes preserveUnknownFields: false mandatory. I can see it is desirable since dealing with conv

[2020-06-11 22:13] DirectXMan12 commented on #448
kubernetes itself requires `preserveUnknownFields: false` if conversion is enabled for v1beta1, and IIRC has it on by default in v1

[2020-06-11 22:44] champak commented on #448
@DirectXMan12 thanks for explaining ; in that case it sounds like something on the lines of #395 would be needed. I did not see updates on the issue since Jan ; is a different approach under consideration ? Think it would be essential to preserve at least a few common fields from ObjectMeta  like name, namespace to be able to make embeddable native resources work well in a versioned CRD.  Base typ

[2020-06-12 12:30] robbie-demuth opened #450 "`GO111MODULE=off go get -u sigs.k8s.io/controller-tools/cmd/controller-gen` fails with undefined error"
As of this morning, our organization's CI pipelines starting failing with the following error:

[code]

[2020-06-12 23:17] #390 closed

[2020-06-13 23:40] #393 closed

[2020-06-14 01:42] #392 closed

[2020-06-15 20:17] kensipe commented on #444
@tamalsaha your suggested fix will help the kubebuilder community (and may be worth it)... but we should look to have a solution in controller-tools for all projects that use controller-runtime (in lieu of a core fix that defines how defaults are expressed)

[2020-06-17 21:16] DirectXMan12 commented on #380
/remove-lifecycle stale

[2020-06-18 22:31] champak commented on #448
@DirectXMan12 is there any possibility of a fix or workaround for this issue in the near future ? Thanks.

[2020-06-20 10:10] #272 closed

[2020-06-22 18:05] #349 closed

[2020-06-23 16:47] kwiesmueller commented on #444
/cc @jennybuckley

[2020-06-23 16:48] kwiesmueller commented on #444
/cc @jpbetz

[2020-06-23 17:00] tamalsaha commented on #444
The propose solution is to write a KEP and update the k/api types with the new annotations. See here: https://github.com/kubernetes/kubernetes/issues/91395

My personal hack has been just use my forked api repo with kubebuilder:default annotation. It unblocked me for now. https://github.com/kmodules/api/commit/c8bc107809b9d4bf05e0c8ec57740d1dce697cca

[2020-06-24 00:02] kensipe commented on #444
@tamalsaha The solution discussed in the WG API Expression meeting today (which is a WG for api-machinery) is that @jennybuckley is working on a solution (I think for controller-gen).  I specifically asked about the need for a KEP with answers being redirected to Jenny is working on it.   Here is the meeting agenda: https://docs.google.com/document/d/1CSpNaicbEqKJoW306qaQEBIkwC1mGIcKl3yiB_C0HZk/ed

[2020-06-24 05:39] #383 closed

[2020-06-24 21:50] Jeffwan opened #453 "Cut new release"
controller-tools has lots of improvement we'd like to use and it's been a while since 0.3.0 release.

Can you help cut a new release?

[2020-06-25 07:50] lulf opened #454 "Markers for setting labels and annotations for CRD"
When managing multiple CRDs for a project, it is useful to be able to set labels (and annotations) on them, so that its easy to operate on a group of crds, for instance when deleting them.

The code base is new to me, but I was wondering if it would make sense to generalize the SpecMarker interface to provide a pointer to the ObjectMeta as well, and create a 'metadata' marker that would override t

[2020-06-27 03:48] christopherhein commented on #441
/close You can accomplish this same thing using `maxDescLen=0` in the CLI options. For example:

[code]

[2020-06-29 22:53] DirectXMan12 commented on #454
We prefer not to have markers for properties that aren't inherently tied to the code.

For example, since changing the "type" of a field (type, validation, defaulting, etc) changes how the code has to deal with that field, it makes sense to generate openapi from the code.  However, the labels & annotations on a particular CRD aren't generally tied to the code that references that resource, so IMO

[2020-06-29 22:53] #454 closed

[2020-06-29 22:53] DirectXMan12 commented on #454
(feel free to continue commenting, but I'm closing this for bookkeeping)

[2020-06-30 03:21] maxsmythe opened #456 "Generated CRDs have status fields in their output set"
Generated CRDs have blank values in their status field. This appears to interfere with ArgoCD.

Given that manifests should not define status, it may be worth explicitly removing status from the output.

Here is some sample output from running controller-gen in the Gatekeeper repository:

[code]

[2020-06-30 06:36] FillZpp opened #457 "Incorrect crd properties generated for structs defined in k8s/api"
Hi folks,

we define CRD with fields defined in `k8s.io/api`, such as:

[code]

For this kind:

- With controller-tools `v0.1.x`, the CRD yaml is generated like [this](https://github.com/openkruise/kruise/blob/master/charts/kruise/v0.5.0/templates/apps_v1alpha1_cloneset.yaml).

    This is ok, all structs defined in `k8s.io/api` are all generated without properties. It is because controller-gen in

[2020-06-30 06:45] FillZpp commented on #457
/kind bug

[2020-06-30 07:10] lulf commented on #454
@DirectXMan12 I guess it does. The motivation for adding this to controller-gen was to avoid yet another tool to our build chain, and it seemed like a convenient feature for developers. I'll take a look at kustomize and other alternatives, thanks.

[2020-07-02 08:49] #398 closed

[2020-07-02 17:57] vincepri opened #459 "Remove word "dummy" from our codebase"
- https://github.com/kubernetes-sigs/controller-tools/blob/651903477185d756634531b2abc3c788bdfb9e0b/pkg/loader/loader.go#L252

/wg naming
/milestone Next

[2020-07-03 01:05] #334 closed

[2020-07-04 20:00] alexellis commented on #456
Rather than:

[code]

We get:

[code]

The `null` causes the following error for some users:

[code]

https://github.com/inlets/inlets-operator/blob/master/artifacts/crds/inlets.inlets.dev_tunnels.yaml

https://github.com/inlets/inlets-operator/blob/master/hack/update-crds.sh

[2020-07-05 07:19] knight42 commented on #456
Fixed by #433

[2020-07-05 07:56] alexellis commented on #456
If that was fixed 2 months ago then why are we having issues now? Can yo advise which specific version of the tool we need to take for the fix?

[2020-07-06 11:38] narahari92 commented on #456
I see same issue @alexellis mentioned. Had to manually edit the yaml to replace `null` to `[]`.

[2020-07-06 16:31] #279 closed

[2020-07-07 00:06] matthchr opened #461 "Support more complex validations (oneOf/anyOf/allOf/etc)"
According to the [structural schema](https://kubernetes.io/blog/2019/06/20/crd-structural-schema/), CRD schemas such as the one below (from the linked article) are allowed:
[code]

As far as I can tell, it is not possible to generate a schema of this shape using controller-gen today. Specifically, the `oneOf` validation at the bottom cannot be represented using Kubebuilders validation annotations,

[2020-07-07 00:07] matthchr commented on #461
There is obviously a good amount of complexity in even supporting this scenario, as in order to generate a CRD with the above shape, there needs to be some way to create various validation "groups" and join them with an operator... maybe something like this...?
[code]

I'm wondering if there's thought/energy in this space - I looked around and didn't really see many issues related to this topic (a

[2020-07-08 21:48] champak commented on #448
@DirectXMan12 I see the review for #395 is still open. Any chance it will be available soon ? Else are there other options for getting around this issue ? Thanks

[2020-07-09 18:44] yiqigao217 opened #462 "CRD marker `kubebuilder:unservedversion` not working"
Saw #403

Should I expect the CRD marker `kubebuilder:unservedversion` to work in [v2.3.1](https://github.com/kubernetes-sigs/kubebuilder/releases/tag/v2.3.1)?

I have two CRD versions and would like to set one as storage version and the other unserved:
[code]

I was able to have the storage version set on v1alpha1 by CRD marker `kubebuilder:storageversion`, but the marker `kubebuilder:unservedver

[2020-07-11 00:11] #328 closed

[2020-07-12 00:27] jessesuen commented on #328
/reopen

[2020-07-14 23:57] DirectXMan12 commented on #461
I think #298 is the bulk of the existing discussion.

Largely, the background here is that we wanted to make it really hard/impossible to produce non-structural schemas (considering they're "invalid" in the soft sense -- you can't use new features with non-structural schemas).

I think, at the very least, we can extend/augment the union markers to generate validation, so that the patterns captured

[2020-07-15 00:27] matthchr commented on #461
The above was just an example honestly, speaking about a general problem which I think will solve my specific problem. It's possible I generalized a bit too soon though as you're right the case above is really a union case (and there are specific recommendations from Kubernetes on how to deal with those based on [this enhancement proposal for unions](https://github.com/kubernetes/enhancements/blob

[2020-07-15 03:53] cbandy commented on #457
To me, the validation of core types is a _feature_ rather than a bug. Without it, I would have to implement a validating webhook to verify core types, yes? There are some limitations (declarative defaults, #444) and possibly bugs, but those should be fixed upstream on the core types rather than here.

I see that `PersistentVolumeClaimSpec.DataSource` [has always been tagged `+optional`](https://gi

[2020-07-16 15:43] chrislovecnm opened #464 "controller-gen unable to set file headers"
This I believe is a feature request.  It would be awesome to have controller-gen output file headers when you generate yaml files with the clip. When generating go code you are able to set a header file, but when you generate yaml it seems that does not work.

When providing the following options the yaml files do not contain a header.

[code]

Maybe I am missing something.

[2020-07-16 17:48] djzager commented on #421
/remove-lifecycle rotten

[2020-07-18 11:45] erikgb commented on #402
/remove-lifecycle rotten

[2020-07-18 11:52] erikgb commented on #402
Thanks for the nice "digging" @uthark! I am experiencing this issue too, after operator-sdk migrated to kubebuilder. Since this happens to both generated YAML-files, CRD and operator Role, I think you are right that this a general issue with the YAML marshalling. Any ideas on how/where this issue can be resolved? It is a bit annoying to have to modify the generated files.....

[2020-07-18 18:09] erikgb commented on #402
Probable root cause https://github.com/kubernetes/kubernetes/issues/86811, and potential local fix: https://github.com/kubernetes/kubernetes/issues/86811#issuecomment-588276966.

[2020-07-20 12:14] robbie-demuth commented on #342
/remove-lifecycle stale

[2020-07-20 17:51] maxsmythe commented on #291
/remove-lifecycle stale

How is this looking? I notice #427 is merged, but this isn't resolved. Is this just an oversight?

[2020-07-20 21:24] christarazi commented on #461
This would also be helpful over at the [Cilium project](github.com/cilium/cilium) as well. Our use-case is even simpler:

[code]

[code]

Essentially, we'd like to say that only **one of** endpoint selector or node selector must be provided, but not both.

[2020-07-28 16:54] christarazi opened #466 "Custom JSON marshaling causes schema validation generation to be skipped"
I have a CRD type as follows:

[code]

The `Spec` field implements custom JSON marshaling. This causes the validation schema generation for `Spec` to be skipped, and replaced with `type: Any`. This is due to https://github.com/kubernetes-sigs/controller-tools/pull/427.

I expect to control this with a marker, or a similar knob. In this case, an opt-out marker makes sense if https://github.com/kube

[2020-07-28 18:25] aanm commented on #454
@DirectXMan12 what about a flag / option to the CRD generator to add these annotations or labels to the generated CRDs? It would complement the existing `controller-gen.kubebuilder.io/version` annotation.

[2020-07-29 15:27] #410 closed

[2020-07-29 17:09] chrislovecnm commented on #376
@mengqiy did you make any progress on this?

[2020-07-30 22:36] DirectXMan12 commented on #462
It should work, let me check

[2020-07-31 18:09] yiqigao217 commented on #462
Thank you @DirectXMan12 , did it work for you?

[2020-08-01 15:28] vincepri commented on #419
/lifecycle frozen

[2020-08-01 15:28] vincepri commented on #419
This would be good to have, @DirectXMan12 @alvaroaleman thoughts?

[2020-08-02 13:01] jiachengxu commented on #419
I think we can add a `WebhookVersions` to Webhook generator, just like what we have for CRD generator (CRDVersions): https://github.com/kubernetes-sigs/controller-tools/blob/master/pkg/crd/gen.go#L81
WDYT @vincepri ?

[2020-08-03 15:10] vijtrip2 commented on #456
even the latest versions of controller-tools is still producing following section in CRD.
[code]

[2020-08-03 15:16] vijtrip2 commented on #456
Reverting the commit b9fd30032a18daa07219de8a574c0e33ae6b913d(":sparkles: Remove status from generated CRDs") produces correct crd version.

[2020-08-03 16:24] #227 closed

[2020-08-03 16:38] vincepri commented on #419
Not sure if we have to support both of them going forward, we can make this a breaking(?) change and only generate v1 webhooks

[2020-08-03 16:51] alvaroaleman commented on #419
Not sure if completely removing the beta support is a good idea because some cloud vendors severly lack behind in the offered kube version. What kube version is needed for the v1 webhook?

Defaulting to the newer version sgtm though

[2020-08-04 04:03] jiachengxu commented on #419
@alvaroaleman as mentioned here: https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#prerequisites
`admissionregistration.k8s.io/v1` is only available with kubernetes v1.16+

@vincepri I also think it is better to also have v1beta1 webhook, and we default to generate the `v1` version.

[2020-08-04 16:25] yiqigao217 commented on #462
@DirectXMan12  thanks for looking into it. Did it work?

[2020-08-06 10:28] #414 closed

[2020-08-07 07:49] Colstuwjx opened #467 "controller-gen build failed for kubebuilder tutorial case "cronjob""
Hi team,

I'm following the kubebuilder tutorial to build the CronJob CRD, and I met a build issue while execute `make install`, see the output below:

[code]

I've  been created a [Github Repo](https://github.com/Colstuwjx/CronJob) for this example, and here is my laptop environment:

[code]

Thanks!

[2020-08-07 08:47] Colstuwjx commented on #467
After I add these replaces inside go.mod, it fixed:

[code]

relevant issue: [79384](https://github.com/kubernetes/kubernetes/issues/79384)

[2020-08-07 17:08] jiachengxu commented on #419
/assign

[2020-08-11 22:06] estroz commented on #444
#440

[2020-08-13 09:43] coro commented on #464
I'd agree with this, would love to see this feature. We have a requirement to include license NOTICE headers in even our generated YAML, and this would allow us to perform this without manually injecting it after every run of `controller-gen`.

[2020-08-13 15:08] dionysius opened #471 "controller-gen tries to generate DeepCopy functions for interface types"
I'm coming from kubebuilder

To reduce amount of code to write and thus complexity I want to use interface types so different objects can benefit from the same validation in the webhook.

I defined the following interface for a Resource (this example is very simplified):
[code]

controller-gen outputs the following autogenerated DeepCopy functions:
[code]

resulting into the error:
[code]

The err

[2020-08-15 16:04] #377 closed

[2020-08-17 22:12] mcristina422 commented on #456
No, it seems like my commit is indeed wrong and did not actually accomplish what I thought it did. I think we should revert my previous PR https://github.com/kubernetes-sigs/controller-tools/pull/472

[2020-08-19 04:37] jiachengxu commented on #471
You can use this marker: `+kubebuilder:object:generate=<bool>` to enable/disable deepcopy for objects/interfaces.
ref: https://book.kubebuilder.io/reference/markers/object.html

[2020-08-19 12:48] dionysius commented on #471
Ooooh, RTFM :D

There are two markers with same name, but one is for the type, the other for the package

[2020-08-19 12:48] #471 closed

[2020-08-19 15:03] #419 closed

[2020-08-19 21:28] champak commented on #448
@DirectXMan12 @droot are the changes on  #395 planned for any upcoming release ? There does not seem to be a reasonable workaround. Using a custom version of ObjectMeta is not an option for anything that is already out there. Was hoping there would be a fix or the changes on #395 will get merged.

[2020-08-20 07:58] ksaritek commented on #434
/remove-lifecycle stale

[2020-08-20 21:00] yiqigao217 commented on #462
Hi @DirectXMan12 , the `unservedversion` still doesn't work for me. I have two versions for CRD, I used `// +kubebuilder:storageversion` for one and it works, but `// +kubebuilder:unservedversion` on the other version just didn't work, that I can still see the version as served.

This becomes a blocker because previously I worked around by having a kustomization patch to set the version as "unserv

[2020-08-22 01:31] jonnylangefeld opened #476 "preserveUnknownFields=false doesn't work with crdVersions=v1"
`crdVersions=v1` which is the new default, doesn't work in conjunction with `preserveUnknownFields=false`. The `spec.preserveUnknownFields` simply doesn't appear in the crd. There is an [integration test](https://github.com/kubernetes-sigs/controller-tools/pull/365/files#diff-0ab3d8fb1161ec6dd0c0bfde3d82db95R153-R163) for `v1beta1`, but not for `v1`.

I'm running the following command in a kubebui

[2020-08-24 14:00] grdryn opened #477 "Empty "Items" object for array in generated v1 CRD is invalid"
We've got a CRD generated by `controller-gen` that gets an empty Items object for a list/array in the yaml output. Given that this is a v1 CRD, this results in the CRD not being applicable to a cluster (k8s 1.16+ at least, it seems). It doesn't seem possible to add any markers to influence this, so I'm currently working around it by changing it after generation to have `type: object`.

Also, I'm n

[2020-08-24 16:49] chungktran opened #478 "+kubebuilder:default throws "Forbidden: must not be set" error"
Using `// +kubebuilder:default=50` throws `Forbidden: must not be set` error when executing `make install`. It does generate the CRD `default: 50` in the CRD but when installing it using `make install` that error is thrown. Full error below.

[code]

Kubebuilder version: `Version: version.Version{KubeBuilderVersion:"2.3.1", KubernetesVendor:"1.16.4", GitCommit:"8b53abeb4280186e494b726edf8f54ca7aa6

[2020-08-24 16:52] chungktran opened #479 "+kubebuilder:validation:Required/Optional does nothing"
Using `// +kubebuilder:validation:Required` or `// +kubebuilder:validation:Optional` on `package` or `field` does nothing. After adding the markers I did `make manifests` but nothing changed in the CRD. I was still able to create CR that have missing required fields.

Kubebuilder version: `Version: version.Version{KubeBuilderVersion:"2.3.1", KubernetesVendor:"1.16.4", GitCommit:"8b53abeb4280186e49

[2020-08-25 17:32] munnerz commented on #444
In order to reduce the confusion that this causes, after a discussion with @pwittrock, we were thinking of adding a couple of extra code areas into controller-gen to help here whilst we wait for the eventual upstream solution:

1) adding in a 'validation' step to controller-gen to actually inform the user that the CRD manifest generated/the input API types are not going to be valid in Kubernetes 1

[2020-08-25 21:14] andrewrynhard commented on #447
/remove-lifecycle stale

[2020-08-26 13:38] mikkeloscar commented on #385
/remove-lifecycle rotten

[2020-08-28 11:13] Bouncey opened #484 "Unusable in WSL2 Ubuntu 18.04"
Hi all,

I am trying to create an operator for an application we have developed. I have tried using `kubebuilder` and `operator-sdk`, but they both fail to `init` a project with the same error, which I believe belongs here.

I have tried googling my way out of this, and I've seen you do not explicitly support a windows/WSL environment, but now I am totally stuck.

I am new to go, and the extensive

[2020-09-01 09:18] Wenfeng-GAO commented on #477
I meet the same problem, it seems that it doesn't work well for recursive struct definition.

When I apply generated crd to k8s, it prints out

[code]

And my struct is recursive list as well:

[code]
generated crd is :
[code]

[2020-09-01 16:13] #445 closed

[2020-09-02 05:57] #444 closed

[2020-09-02 09:34] dgrisonnet commented on #438
Closing as this is fixed by #480

[2020-09-02 09:34] #438 closed

[2020-09-03 13:34] pugangxa commented on #476
I'm hitting the same issue, any ideas?

[2020-09-04 11:10] mythi opened #486 "v1 CRD: conversion webhook patches not regenerated"
When re-generating the CRD output using `crdVersions=v1`, I can see the `config/crd/patches/*` remain unchanged (with v1beta1 content, such as `webhookClientConfig`).

These are kubebuilder generated. Are manual modifications expected?

[2020-09-05 22:05] moolen opened #487 "support min/max properties"
The apiserver supports validation of `minProperties`/`maxProperties`, having support for that here would be great. `oneOf` is not supported (yet #461), this is a neat workaround to enable mutually exclusive parameters ([see post on SO](https://stackoverflow.com/questions/21134029/how-to-define-mutually-exclusive-query-parameters-in-swagger-openapi/49199240#49199240)).

[2020-09-08 20:16] DirectXMan12 commented on #462
What version of controller-tools are you using?

[2020-09-08 20:18] yiqigao217 commented on #462
v0.2.5

[2020-09-08 20:19] DirectXMan12 commented on #462
#403 landed in v0.2.8.  You'll need to update.

[2020-09-08 20:19] #462 closed

[2020-09-08 20:22] DirectXMan12 commented on #462
FWIW: https://gist.github.com/DirectXMan12/51fe5186a3209524d656563c1f319054

[2020-09-08 20:22] yiqigao217 commented on #462
Thanks!

[2020-09-09 23:19] DirectXMan12 commented on #342
/lifecycle frozen

[2020-09-09 23:21] DirectXMan12 commented on #477
Ah.  This... could be a clearer error message.

There's literally no way to have a CRD with recursive types right now, because that would require references, and SIG API Machinery has thus far been reluctant to support references in CRDs.

Specifically, `Route --> Routes --> []Route` is the recursive issue here.

[2020-09-09 23:25] DirectXMan12 commented on #291
I think this is *mostly* resolved.  Technically, we should have type info for the other types, but we at least have a workaround, so I think we can *probably* close this for now.

[2020-09-09 23:25] #291 closed

[2020-09-11 21:09] DirectXMan12 commented on #477
I'm going to close this out and file a bug for erroring on recursive types.  Feel free to comment there if you have more input

[2020-09-11 21:09] #477 closed

[2020-09-11 21:12] DirectXMan12 opened #489 "Error on recursive types"
Right now, we can't support recursive types, because those require references, and SIG API Machinery has thus far been reluctant to add reference support to CRDs (*intra*-object references would do the trick, and they seem slightly more amenable to those, so someone might be able to champion that in the long term).

We should warn/error on recursive types, to avoid the confusing behavior today whe

[2020-09-11 22:10] DirectXMan12 commented on #385
I think #395 is actually close to being mergable, it's just a bit out of date.  If someone wants to pick that up, I've left comments on it.

[2020-09-11 22:12] #487 closed

[2020-09-11 22:15] DirectXMan12 commented on #448
@champak I've commented on #395.  I think it's pretty close to being good to go, it just needs a tweak.  Sorry about dropping the ball on that one.  IDK if the original author is still around, but if you have some bandwidth and want to pick it up, feel free.

[2020-09-12 14:42] npiganeau commented on #478
I had the same issue when installing apiextensions.k8s.io/v1beta1 CRD.

Switching to apiextensions.k8s.io/v1 CRD solved the issue for me, by changing the Makefile and adding `crd:trivialVersions=true,crdVersions=v1` in the CRD Options:

[code]

[2020-09-12 17:23] npiganeau commented on #476
I had the same issue here. It was an issue about upgrading from v1beta1 to v1 CRD.
The `spec.preserveUnknownFields` was true in the cluster (probably because that was the default in v1beta1).
When I upgraded to v1, `spec.preserveUnknownFields` was not set in the manifest, but because it was in the cluster, I had the `spec.preserveUnknownFields: Invalid value: true: must be false in order to use de

[2020-09-13 15:34] grdryn commented on #477
Thanks @DirectXMan12! :slightly_smiling_face:

[2020-09-14 08:58] sttts commented on #385
@DirectXMan12 see my comment in 395. IMO we should not do that. Instead let's add a sensible EmbeddedObjectMeta to API machinery and make controller-tools warn if that is not used instead of ObjectMeta.

[2020-09-14 13:16] chungktran commented on #478
Thanks @npiganeau. I'll give this a try and see.

[2020-09-15 12:31] champak commented on #448
@DirectXMan12 Thanks for getting back. I shall give it a shot.  Were you saying we need a crd option for controller-gen on the lines of trivialVersions or maxDescLen to turn this on ?

[2020-09-15 15:23] drewwells commented on #327
Please reopen, this is still an issue. You have to explicitly set mod=vendor to disable downloading dependencies.

[2020-09-15 17:13] ellistarn opened #490 "webhook generation hardcodes name and namespace"
https://github.com/kubernetes-sigs/controller-tools/blob/9a9db70f732af8f2ed69184a6e849f25d8e5a05e/pkg/webhook/parser.go#L243

I'd like this to be configurable so that I don't have to use Kustomize to add prefixes.

[2020-09-15 17:59] ndavidson-pulse commented on #327
/reopen - definitely still busted for us.

[2020-09-15 18:03] ndavidson-pulse commented on #327
/reopen
Definitely still broken for us as well even with go 1.15.x

[2020-09-16 03:41] jiachengxu commented on #380
remove-lifecycle stale

[2020-09-16 03:41] jiachengxu commented on #380
/remove-lifecycle stale

[2020-09-16 16:33] jmencak opened #491 "Specify a default value for array items."
Consider a recursive type definition:

[code]

When generating a CRD by `cmd/controller-gen`, I'm getting `openAPIV3Schema` with:

[code]

When trying to apply this CRD, I'm getting:

[code]

The following, however, applies cleanly:

[code]

Would it make sense to add a default type "object" to array items?  Thank you.

[2020-09-19 12:13] mishindm commented on #287
Issue is still there:  map values must be a named type, not *ast.InterfaceType

[2020-09-19 12:24] camilamacedo86 commented on #287
/reopen
/remove-lifecycle rotten

[2020-09-19 13:53] heidsoft opened #492 "panic: interface conversion: types.Type is nil, not *types.Named"
[code]

[2020-09-20 08:08] Bouncey commented on #484
I found what was causing the cache misses. It was permissions. The `.cache/go-build` directory requires sudo to be read.

[2020-09-20 08:08] #484 closed

[2020-09-21 01:03] JohnRusk commented on #441
@christopherhein Does the maxDescLen solution really solve what you were originally asking for?  It truncates the descriptions for _all_ fields, right?  Wouldn't it be preferable if it was possible to suppress descriptions just at package level, like you originally asked?

For instance, I'm looking at this CRD here: https://github.com/prometheus-operator/prometheus-operator/blob/master/example/pro

[2020-09-21 02:30] christopherhein commented on #441
/reopen

[2020-09-21 02:32] christopherhein commented on #441
@JohnRusk correct it's really just a patch to allow `apply` to work. I definitely would still be interested in a cleaner solution.

[2020-09-21 02:37] JohnRusk commented on #441
Hopefully the example CRD I've linked to above will help to illustrate the value of your proposal.

[2020-09-21 23:01] DirectXMan12 commented on #385
@sttts that doesn't work for when you embed things with ObjectMeta in them already though -- e.g. PodTemplateSpec, which is probably the most common case.  We'd have to swap that out on demand or something.

[2020-09-21 23:51] DirectXMan12 commented on #448
Yeah, exactly.

Note that @sttts has a counter-proposal, so might be worth reconciling that (pun intended ;-) )

[2020-09-21 23:52] DirectXMan12 commented on #380
/good-first-issue

[2020-09-21 23:53] DirectXMan12 commented on #380
/lifecycle frozen

[2020-09-22 04:51] jiachengxu commented on #380
Hi @DirectXMan12 , the PR was created half year ago: #422,  can you please take a look?

[2020-09-22 07:30] sttts commented on #385
True. So we must add special handling for embedded ObjectMeta to only specifiy sensible fields (more than just `type: object` but considerably less than a full ObjectMeta. It's ugly. As written in the other issue: sin of the past :-/

[2020-09-22 10:36] camilamacedo86 commented on #442
/remove-lifecycle rotten

What is the version used by you? We ewould need to check it with the latest one to know if it is solved or not already.

[2020-09-23 21:11] zrhmn commented on #327
I can confirm that this is still an issue. We used [kubebuilder](https://github.com/kubernetes-sigs/kubebuilder) to seed our controller as well, and we use vendored builds, too. Running controller-gen inside an environment without internet access fails because it cannot gather information about dependencies.

As deep as we were able to dig in, the `LoadRoots` and `LoadRootsWithConfig` functions in

[2020-09-23 23:08] Porges commented on #442
I’m not sure what version this was. The way to reproduce it was to have a field with a struct type inline instead of named:

[code]

Instead of:

[code]

[2020-09-24 16:08] CermakM commented on #383
Any reaction would be nice...

[2020-09-26 20:48] champak commented on #448
@DirectXMan12  I added a simple option for using #395 (see above). Pl take a look when you can and let me know what it needs. I could not find a decent way to test with a private version of controller-gen. The go get mechanism in the kubebuilder makefile want to install a published version. If you send a ptr on how to test it out shall run thru it. Thanks.

[2020-09-28 05:52] govinda-attal commented on #492
I think you might have used alias types such as `type AliasType = string` .. I came across this error, when I used aliases. Otherwise it works as a charm

[2020-09-28 09:58] ndavidson-pulse commented on #327
I'm pretty sure I tried GOFLAGS and found by instrumentation that some tools invoked by controller-gen still grabbed packages from upstream - it might have improved in newer versions of golang though.

[2020-09-30 18:08] vincepri commented on #459
/lifecycle frozen

[2020-10-01 20:04] champak commented on #448
@DirectXMan12 just polling on this issue...
On a separate topic, how do we build a local controller-gen binary from the repo. Using the packaged test works but was wondering if there is some way to build the binary directly.

[2020-10-03 14:08] #439 closed

[2020-10-05 12:28] jaypipes commented on #492
@heidsoft Try updating to a more modern version of `controller-tools`. I used to run into this issue with older versions.

[2020-10-05 12:48] jaypipes opened #500 "Any plans to support binary releases for `controller-gen`?"
First, want to say thanks for the great work on the controller-tools repo. It's generally awesome. :)

I work on a project (github.com/aws/aws-controllers-k8s) that makes heavy use of `controller-gen` to augment our own code generation. However, because there are no binary releases of `controller-gen` we've seen one issue crop up.

Since the only way to use the controller-gen tool is to "install"

[2020-10-05 12:52] dhellmann commented on #500
In metal3 we ended up creating a script to install controller-gen so we could create a temporary directory, run `go mod init` there, then run `go get`. https://github.com/metal3-io/baremetal-operator/blob/master/hack/install-controller-gen.sh

We would happily consume binary releases, too, if they existed.

[2020-10-05 13:32] jaypipes commented on #500
Sweet. Consider that script copied ;)

Thanks @dhellmann!

[2020-10-05 13:35] dhellmann commented on #500
To give credit where due, I'm pretty sure that the approach in the script actually came from the commands kubebuilder put in the Makefile it generated for us. We moved it to a script as part of hacking it to ensure it always installed exactly the version we wanted, without overwriting a version the user may have already had in $GOBIN.

[2020-10-05 16:44] christopherhein commented on #441
It does, now it's just a matter of finding time :p

[2020-10-05 19:43] kevindelgado commented on #386
/assign

[2020-10-08 17:24] chrispatmore opened #502 "Issue generating CRDs with controller-gen 0.4.0"
Hey, I have been using controller-gen 0.3.0 to generate my CRD. And with no changes the CRD fails to generate when using 0.4.0

The problem is that the validation for stats.conditions in my CRD is being completely removed and replaced with type: Any

I have been using this package https://github.com/operator-framework/operator-lib/blob/v0.1.0/status/conditions.go
for the status conditions field in

[2020-10-10 10:44] miguelsorianod opened #503 "Allow defining Roles with no namespace"
Hi,

When generating the `role.yaml` file with rbac markers it would be useful to be able to generate a `Role` with no namespace set.

This is useful to generate a `Role` without a namespace, which would allow users to deploy/use the generated `Role` in their current namespace instead of having to manually change it.

I've tried to achieve that by specifying the `namespace` attribute in the rbac m

[2020-10-12 07:50] kotyara85 opened #504 "encountered struct field "Host" without JSON tag in type "Config""
Hey there,
*rest.Client is schema throwing these errors

/Users/kraskoshnyi/go/pkg/mod/k8s.io/client-go@v0.18.2/rest/config.go:57:2: encountered struct field "Host" without JSON tag in type "Config"

[code]

Is there way to ignore if there's no json?

Thanks

[2020-10-12 17:08] alvaroaleman commented on #502
Same problem, works fine with 0.3.0: https://github.com/kubernetes/test-infra/pull/19522#issuecomment-707240265

[2020-10-12 17:08] alvaroaleman commented on #502
/king bug

[2020-10-12 17:43] alvaroaleman commented on #502
/assign

[2020-10-12 18:00] alvaroaleman commented on #391
/reopen
The fix in #427 is not valid, `Any` is not allowed
Revert of #427 which claims to fix this but just introduces a different issue without fixing it in https://github.com/kubernetes-sigs/controller-tools/pull/505

[2020-10-12 18:02] #502 closed

[2020-10-12 20:38] alvaroaleman commented on #466
We've reverted #427 in #505 as `type: Any` is not valid.
/close

Feel free to re-open if you think the revert doesn't address the issue.

[2020-10-12 20:38] #466 closed

[2020-10-13 01:45] bluven opened #506 "envtest cannot load crd yaml as openAPIV3Schema is invalid"
I was writing tests for a controller, but the tests failed all the time, as the envtest from controller-runtime could not load a CRD file. The CRD is called ImageDownload which has a status as subresources.

My CRD types:
[code]

Error message:
[code]

PS: There are a lot of messages which I don't think it's necessary to show here. If you need, I will append.

The CRD file:
[code]

It seems the pr